* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fbf8f1;
  font-family: "Noto Sans CJK TC"; }

input {
  font-family: "Noto Sans CJK TC"; }

a {
  text-decoration: none;
  color: #3399ff; }

.container-template {
  width: 100%; }

.globalForm {
  width: 50%;
  background-color: #fbf8f1;
  border: 1px solid #ccc;
  margin: auto; }
  .globalForm .globalFormHeader {
    width: 100%;
    padding: 5% 5%;
    position: relative;
    box-sizing: border-box;
    background: #805934;
    /* Old browsers */
    background: -moz-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left left, left right, color-sleft(0%, #805934), color-sleft(100%, #9e693d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* IE10+ */
    background: linear-gradient(to right, #805934 0%, #9e693d 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805934', endColorstr='#9e693d', GradientType=0 );
    /* IE6-9 */ }
    .globalForm .globalFormHeader h1 {
      font-size: 24px;
      color: #fbf8f1; }
    .globalForm .globalFormHeader p {
      font-size: 16px;
      color: #fbf8f1;
      font-weight: 300;
      margin-top: 10px; }
    .globalForm .globalFormHeader .st0 {
      fill: #fbf8f1; }
    .globalForm .globalFormHeader .svg {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 10px; }
  .globalForm .globalFormContent {
    width: 100%;
    padding-top: 10px; }
    .globalForm .globalFormContent .globalFormInput {
      width: 80%;
      height: 50px;
      margin: 0px auto; }
      .globalForm .globalFormContent .globalFormInput input {
        display: block;
        float: right;
        width: 65%;
        height: 100%;
        padding-left: 10px;
        margin: auto;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bbb; }
        .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
          color: #bbb;
          font-weight: 300; }
      .globalForm .globalFormContent .globalFormInput label {
        display: block;
        width: 35% -10px;
        float: left;
        height: 100%;
        line-height: 50px;
        color: #663300;
        font-weight: 300; }
        .globalForm .globalFormContent .globalFormInput label span {
          color: #f06428; }
      .globalForm .globalFormContent .globalFormInput textarea {
        display: block;
        float: right;
        width: 65%;
        padding-left: 10px;
        padding-top: 10px;
        height: 100%;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bbb; }
    .globalForm .globalFormContent .globalFormBtns {
      width: 80%;
      margin: 30px auto;
      text-align: center; }
      .globalForm .globalFormContent .globalFormBtns .globalOkBtn, .globalForm .globalFormContent .globalFormBtns .globalCancelBtn {
        display: inline-block;
        margin: 0px 5px;
        text-decoration: none;
        cursor: pointer; }

header.globalHead {
  width: 100%;
  height: 100px;
  background: #805934;
  /* Old browsers */
  background: -moz-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left left, left right, color-sleft(0%, #805934), color-sleft(100%, #9e693d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* IE10+ */
  background: linear-gradient(to right, #805934 0%, #9e693d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805934', endColorstr='#9e693d', GradientType=0 );
  /* IE6-9 */
  position: fixed; }
  header.globalHead .headLoginBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    display: none; }
    header.globalHead .headLoginBox .globalForm {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 600px;
      height: 80vh;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }
      header.globalHead .headLoginBox .globalForm .globalFormHeader {
        text-align: center; }
        header.globalHead .headLoginBox .globalForm .globalFormHeader img {
          width: 160px; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
        font-size: 16px; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw {
        width: 100%;
        text-align: center;
        padding: 20px 0px; }
        header.globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw a:hover {
          border-bottom: 1px solid #3399ff; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin {
        width: 100%;
        text-align: center;
        padding: 10px 0px; }
        header.globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin a {
          display: inline-block;
          width: 50%;
          height: 50px;
          background: #3B5998;
          /* Old browsers */
          background: -moz-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #3B5998), color-stop(100%, #283D69));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #3B5998 0%, #283D69 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B5998', endColorstr='#283D69', GradientType=0 );
          /* IE6-9 */
          border-radius: 5px;
          text-align: center;
          color: #fbf8f1;
          line-height: 50px;
          font-weight: 300; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .registerLink {
        width: 100%;
        padding: 10px 0px;
        text-align: center; }
        header.globalHead .headLoginBox .globalForm .globalFormContent .registerLink a {
          text-align: center;
          color: #663300; }
          header.globalHead .headLoginBox .globalForm .globalFormContent .registerLink a:hover {
            border-bottom: 1px solid #663300; }
  header.globalHead .headLogo {
    width: 10%;
    height: 80px;
    padding: 10px;
    display: inline-block; }
    header.globalHead .headLogo img {
      display: block;
      width: 160px;
      height: 80px; }
  header.globalHead .headerRight {
    width: 50%;
    height: 80px;
    padding: 10px 0px;
    position: absolute;
    top: 0;
    right: 0; }
    header.globalHead .headerRight .headSearch {
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 80px;
      border: 1px solid #ccc; }
    header.globalHead .headerRight .headAccount {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      height: 80px;
      border: 1px solid #ccc; }
      header.globalHead .headerRight .headAccount #headMemStatus {
        display: none; }
        header.globalHead .headerRight .headAccount #headMemStatus #headMemPic {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 10px 0px; }
      header.globalHead .headerRight .headAccount #headMemLogin {
        display: inline-block;
        width: 100px;
        height: 80px;
        padding: 10px 0px; }
        header.globalHead .headerRight .headAccount #headMemLogin span {
          display: inline-block;
          width: 40px;
          height: 40px;
          padding: 0px 5%;
          fill: #fbf8f1; }

footer {
  width: 100%;
  height: 200px;
  background-color: #f2ebd4;
  text-align: center; }
  footer .globalFtBtn {
    display: inline-block;
    margin: 15px; }
    footer .globalFtBtn .svg {
      width: 50px;
      height: 50px;
      margin: 10px auto; }
      footer .globalFtBtn .svg path, footer .globalFtBtn .svg polygon {
        fill: #bbb; }
    footer .globalFtBtn a {
      color: #bbb;
      text-decoration: none; }
    footer .globalFtBtn:hover path {
      fill: #f06428; }
    footer .globalFtBtn:hover polygon {
      fill: #f06428; }
    footer .globalFtBtn:hover a {
      color: #f06428; }
  footer p {
    color: #663300;
    margin-top: 10px; }

.clearfix {
  clear: both; }

.globalOkBtn {
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #f06428;
  color: #f06428;
  background-color: #fbf8f1;
  transition: .3s ease; }
  .globalOkBtn:hover {
    background-color: #f06428;
    color: #fbf8f1;
    transition: .3s ease;
    cursor: pointer; }

.globalCancelBtn {
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #3399ff;
  color: #3399ff;
  transition: .3s ease; }
  .globalCancelBtn:hover {
    background-color: #3399ff;
    color: #fbf8f1;
    transition: .3s ease;
    text-decoration: none;
    cursor: pointer; }

@media all and (max-width: 767px) {
  header.globalHead .headLogo img {
    width: 30vw; }

  .globalForm {
    width: 80%;
    margin: auto; }
    .globalForm .globalOkBtn, .globalForm .globalCancelBtn {
      width: 40%; } }
/* ===================================================*/
/* ===================================================*/
/* ===================================================*/
.activity_banner {
  width: 100%;
  height: 100%;
  background: url("../img/acty_background.png") center center;
  background-size: cover;
  height: 136vh; }
  .activity_banner #acty_Dough {
    min-width: 250px;
    max-width: 300px;
    width: 28.5vw;
    margin: auto;
    padding: 30vh 0 0;
    position: relative; }
    .activity_banner #acty_Dough img {
      width: 100%; }
    .activity_banner #acty_Dough .acty_h1 {
      width: 100%;
      position: absolute;
      bottom: 18%;
      left: 0%;
      text-align: center; }
      .activity_banner #acty_Dough .acty_h1 h1 {
        color: #996633;
        font-size: 28px; }
  .activity_banner .clear {
    clear: both; }
  .activity_banner .activity_board {
    float: left;
    max-width: 380px;
    min-width: 320px;
    width: 40vw;
    margin: 5vh 10vw;
    position: relative;
    bottom: 0; }
    .activity_banner .activity_board .acty_stirrer {
      max-width: 90px;
      width: 15vw;
      position: absolute;
      top: -45%;
      left: -10%; }
    .activity_banner .activity_board img {
      width: 100%; }
    .activity_banner .activity_board .acty_board_p {
      font-size: 18px;
      padding: 4%;
      width: 82%;
      position: absolute;
      top: 0;
      left: 0;
      color: #663300; }
  .activity_banner .activity_detail {
    min-width: 250px;
    width: 25vw;
    padding: 1%;
    float: right;
    margin: 0 5vw;
    background-color: rgba(246, 146, 30, 0.4);
    box-sizing: border-box; }
    .activity_banner .activity_detail ul {
      list-style-type: none;
      color: #fbf8f1; }
      .activity_banner .activity_detail ul li {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        font-size: 16px;
        line-height: 25px; }
