@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fbf8f1;
  font-family: "Noto Sans CJK TC";
  overflow-x: hidden; }

input {
  font-family: "Noto Sans CJK TC"; }

a {
  text-decoration: none;
  color: #3399ff; }

li {
  list-style: none; }

.globalForm {
  width: 50%;
  background-color: #fbf8f1;
  border: 1px solid #ccc;
  margin: auto; }
  .globalForm .globalFormHeader {
    width: 100%;
    padding: 5% 5%;
    position: relative;
    box-sizing: border-box;
    background: #805934;
    /* Old browsers */
    background: -moz-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left left, left right, color-sleft(0%, #805934), color-sleft(100%, #9e693d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* IE10+ */
    background: linear-gradient(to right, #805934 0%, #9e693d 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805934', endColorstr='#9e693d', GradientType=0 );
    /* IE6-9 */ }
    .globalForm .globalFormHeader h1 {
      font-size: 24px;
      color: #fbf8f1; }
    .globalForm .globalFormHeader p {
      font-size: 16px;
      color: #fbf8f1;
      font-weight: 300;
      margin-top: 10px; }
    .globalForm .globalFormHeader .st0 {
      fill: #fbf8f1; }
    .globalForm .globalFormHeader .svg {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 10px; }
  .globalForm .globalFormContent {
    width: 100%;
    padding-top: 10px; }
    .globalForm .globalFormContent .globalFormInput {
      width: 80%;
      height: 50px;
      margin: 0px auto; }
      .globalForm .globalFormContent .globalFormInput input {
        display: block;
        float: right;
        width: 65%;
        height: 100%;
        padding-left: 10px;
        margin: auto;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #bbb; }
        .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
          color: #bbb;
          font-weight: 300; }
      .globalForm .globalFormContent .globalFormInput label {
        display: block;
        width: 35% -10px;
        float: left;
        height: 100%;
        line-height: 50px;
        color: #663300;
        font-weight: 300; }
        .globalForm .globalFormContent .globalFormInput label span {
          color: #f06428; }
      .globalForm .globalFormContent .globalFormInput textarea {
        display: block;
        float: right;
        width: 65%;
        padding-left: 10px;
        padding-top: 10px;
        height: 100%;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bbb; }
    .globalForm .globalFormContent .globalFormBtns {
      width: 80%;
      margin: 30px auto;
      text-align: center; }
      .globalForm .globalFormContent .globalFormBtns .globalOkBtn, .globalForm .globalFormContent .globalFormBtns .globalCancelBtn {
        display: inline-block;
        margin: 0px 5px;
        text-decoration: none;
        cursor: pointer; }

.hideUp header.globalHead {
  top: -80px; }

.hideUp_sub {
  top: 0px  !important;
  transition: 0.3s ease-in-out !important; }

.hideUp_sub_burger {
  top: 44px  !important; }

<<<<<<< HEAD
header.globalHead {
=======
.globalHead {
>>>>>>> 3deddc453c4a269ef066dba19e3bb377ed273496
  width: 100%;
  height: 80px;
  background: rgba(128, 89, 52, 0.9);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left left, left right, color-sleft(0%, rgba(128, 89, 52, 0.9)), color-sleft(100%, rgba(158, 105, 61, 0.9)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128, 89, 52, 0.9)', endColorstr='rgba(158, 105, 61, 0.9)', GradientType=0 );
  /* IE6-9 */
  z-index: 9999;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  transition: top .3s ease-in-out; }
  .globalHead .headLoginBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    display: none; }
    .globalHead .headLoginBox .globalForm {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 600px;
      height: 80vh;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }
      .globalHead .headLoginBox .globalForm .globalFormHeader {
        text-align: center; }
        .globalHead .headLoginBox .globalForm .globalFormHeader img {
          width: 160px; }
      .globalHead .headLoginBox .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
        font-size: 16px; }
      .globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw {
        width: 100%;
        text-align: center;
        padding: 20px 0px; }
        .globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw a:hover {
          border-bottom: 1px solid #3399ff; }
      .globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin {
        width: 100%;
        text-align: center;
        padding: 10px 0px; }
        .globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin a {
          display: inline-block;
          width: 50%;
          height: 50px;
          background: #3B5998;
          /* Old browsers */
          background: -moz-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #3B5998), color-stop(100%, #283D69));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #3B5998 0%, #283D69 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B5998', endColorstr='#283D69', GradientType=0 );
          /* IE6-9 */
          border-radius: 5px;
          text-align: center;
          color: #fbf8f1;
          line-height: 50px;
          font-weight: 300; }
      .globalHead .headLoginBox .globalForm .globalFormContent .registerLink {
        width: 100%;
        padding: 10px 0px;
        text-align: center; }
        .globalHead .headLoginBox .globalForm .globalFormContent .registerLink span {
          text-align: center;
          color: #663300;
          cursor: pointer; }
          .globalHead .headLoginBox .globalForm .globalFormContent .registerLink span:hover {
            border-bottom: 1px solid #663300; }
  .globalHead .headRegisterBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    display: none; }
    .globalHead .headRegisterBox .globalForm {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 600px;
      height: 80vh;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }
      .globalHead .headRegisterBox .globalForm .globalFormHeader {
        text-align: center; }
        .globalHead .headRegisterBox .globalForm .globalFormHeader img {
          width: 160px; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
        font-size: 16px; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .facebookRegister {
        width: 100%;
        text-align: center;
        padding: 10px 0px; }
        .globalHead .headRegisterBox .globalForm .globalFormContent .facebookRegister a {
          display: inline-block;
          width: 50%;
          height: 50px;
          background: #3B5998;
          /* Old browsers */
          background: -moz-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #3B5998), color-stop(100%, #283D69));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #3B5998 0%, #283D69 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B5998', endColorstr='#283D69', GradientType=0 );
          /* IE6-9 */
          border-radius: 5px;
          text-align: center;
          color: #fbf8f1;
          line-height: 50px;
          font-weight: 300; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .loginLink {
        width: 100%;
        padding: 10px 0px;
        text-align: center; }
        .globalHead .headRegisterBox .globalForm .globalFormContent .loginLink span {
          text-align: center;
          color: #663300;
          cursor: pointer; }
          .globalHead .headRegisterBox .globalForm .globalFormContent .loginLink span:hover {
            border-bottom: 1px solid #663300; }
  .globalHead .headLogo {
    width: 10vw;
    padding: 10px 20px;
    display: inline-block; }
    .globalHead .headLogo img {
      display: inline-block;
      height: 65px; }
  .globalHead .headerRight {
    padding: 5px 0px;
    float: right;
    box-sizing: border-box; }
    .globalHead .headerRight .headSearch {
      float: left;
      padding: 20px 10px;
      box-sizing: border-box;
      text-align: right; }
      .globalHead .headerRight .headSearch span {
        margin-right: 10px;
        color: #fbf8f1;
        font-weight: 300; }
      .globalHead .headerRight .headSearch #headSearch {
        width: 20%;
        height: 30px;
        display: inline-block;
        margin: 0px 5px;
        border: 1px solid #fff;
        padding-left: 10px;
        outline: none;
        box-sizing: border-box;
        vertical-align: top; }
      .globalHead .headerRight .headSearch select {
        display: inline-block;
        width: 80px;
        height: 30px;
        color: #fbf8f1;
        background-color: transparent;
        border: 1px solid #fbf8f1;
        margin: 0px 5px;
        font-size: 16px;
        outline: none;
        border-radius: 2px;
        box-sizing: border-box; }
      .globalHead .headerRight .headSearch button {
        width: 80px;
        display: inline-block;
        height: 30px;
        color: #fbf8f1;
        background-color: transparent;
        border: 1px solid #fbf8f1;
        margin: 0px 5px;
        font-size: 16px;
        border-radius: 2px; }
        .globalHead .headerRight .headSearch button:focus {
          background-color: #fbf8f1;
          color: #805934;
          outline: none;
          box-sizing: border-box; }
      .globalHead .headerRight .headSearch #headSearchSubmit {
        display: inline-block;
        width: 50px;
        height: 30px;
        color: #663300;
        background-color: #f2ebd4;
        border: none;
        margin-left: 5px;
        font-size: 16px;
        border-radius: 2px;
        outline: none;
        box-sizing: border-box; }
        .globalHead .headerRight .headSearch #headSearchSubmit:active {
          background-color: #663300;
          color: #fbf8f1; }
    .globalHead .headerRight .headAccount {
      width: 100px;
      float: left; }
      .globalHead .headerRight .headAccount #headMemStatus {
        display: none; }
        .globalHead .headerRight .headAccount #headMemStatus #headMemPic {
          width: 100%;
          height: 70px; }
      .globalHead .headerRight .headAccount #headMemLogin {
        width: 100%;
        height: 70px; }
        .globalHead .headerRight .headAccount #headMemLogin .loginGrp {
          width: 50%;
          margin: auto;
          height: 70px;
          position: relative; }
        .globalHead .headerRight .headAccount #headMemLogin .loginBtn {
          padding: 7px 0px; }
        .globalHead .headerRight .headAccount #headMemLogin #loginIcon {
          width: 32px;
          height: 32px;
          display: block;
          margin: auto;
          fill: #fbf8f1; }
        .globalHead .headerRight .headAccount #headMemLogin #loginTxt {
          text-align: center;
          color: #fbf8f1;
          display: block;
          margin: auto;
          font-weight: 300; }
  .globalHead .rwd_headerSearch {
    display: none; }
  .globalHead .burgerMenu {
    display: none; }
  .globalHead .rwdSearchBar {
    display: none; }

#menu {
  display: none; }

footer {
  width: 100%;
  height: 200px;
  background-color: #f2ebd4;
  text-align: center; }
  footer .globalFtBtn {
    display: inline-block;
    margin: 15px;
    cursor: pointer; }
    footer .globalFtBtn .svg {
      width: 50px;
      height: 50px;
      margin: 10px auto; }
      footer .globalFtBtn .svg path, footer .globalFtBtn .svg polygon {
        fill: #bbb; }
    footer .globalFtBtn a {
      color: #bbb;
      text-decoration: none; }
    footer .globalFtBtn:hover path {
      fill: #f06428; }
    footer .globalFtBtn:hover polygon {
      fill: #f06428; }
    footer .globalFtBtn:hover a {
      color: #f06428; }
  footer p {
    color: #663300;
    margin-top: 10px; }

.clearfix {
  clear: both; }

.globalOkBtn {
  display: block;
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #f06428;
  color: #f06428;
  background-color: #fbf8f1;
  transition: .3s ease; }
  .globalOkBtn:hover {
    background-color: #f06428;
    color: #fbf8f1;
    transition: .3s ease;
    cursor: pointer; }

.globalCancelBtn {
  display: block;
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #3399ff;
  color: #3399ff;
  transition: .3s ease; }
  .globalCancelBtn:hover {
    background-color: #3399ff;
    color: #fbf8f1;
    transition: .3s ease;
    text-decoration: none;
    cursor: pointer; }

.col-sm-1 {
  padding: 0 10px;
  float: left;
  width: 8.3333%; }

/*12欄*/
.col-sm-2 {
  padding: 0 10px;
  float: left;
  width: 16.6666%; }

/*6欄*/
.col-sm-3 {
  padding: 0 10px;
  float: left;
  width: 25%; }

/*4欄*/
.col-sm-4 {
  padding: 0 10px;
  float: left;
  width: 33.3333%; }

/*3欄*/
.col-sm-5 {
  padding: 0 10px;
  float: left;
  width: 41.6666%; }

.col-sm-6 {
  padding: 0 10px;
  float: left;
  width: 50%; }

/*2欄*/
.col-sm-7 {
  padding: 0 10px;
  float: left;
  width: 58.3333%; }

.col-sm-8 {
  padding: 0 10px;
  float: left;
  width: 66.6666%; }

.col-sm-9 {
  padding: 0 10px;
  float: left;
  width: 75%; }

.col-sm-10 {
  padding: 0 10px;
  float: left;
  width: 83.3333%; }

.col-sm-11 {
  padding: 0 10px;
  float: left;
  width: 91.6666%; }

.col-sm-12 {
  padding: 0 10px;
  float: left;
  width: 100%; }

/*1欄*/
@media screen and (max-width: 767px) {
  .col-xs-1 {
    padding: 0 10px;
    float: left;
    width: 8.3333%; }

  /*12欄*/
  .col-xs-2 {
    padding: 0 10px;
    float: left;
    width: 16.6666%; }

  /*6欄*/
  .col-xs-3 {
    padding: 0 10px;
    float: left;
    width: 25%; }

  /*4欄*/
  .col-xs-4 {
    padding: 0 10px;
    float: left;
    width: 33.3333%; }

  /*3欄*/
  .col-xs-5 {
    padding: 0 10px;
    float: left;
    width: 41.6666%; }

  .col-xs-6 {
    padding: 0 10px;
    float: left;
    width: 50%; }

  /*2欄*/
  .col-xs-7 {
    padding: 0 10px;
    float: left;
    width: 58.3333%; }

  .col-xs-8 {
    padding: 0 10px;
    float: left;
    width: 66.6666%; }

  .col-xs-9 {
    padding: 0 10px;
    float: left;
    width: 75%; }

  .col-xs-10 {
    padding: 0 10px;
    float: left;
    width: 83.3333%; }

  .col-xs-11 {
    padding: 0 10px;
    float: left;
    width: 91.6666%; }

  .col-xs-12 {
    padding: 0 10px;
    float: left;
    width: 100%; }

  /*1欄*/
  .globalForm {
    width: 80%;
    margin: auto; }
    .globalForm .globalOkBtn, .globalForm .globalCancelBtn {
      width: 40%; } }
@media screen and (max-width: 900px) {
  .globalHead {
    text-align: center; }
    .globalHead .headLogo {
      min-width: 150px;
      width: 20vw;
      margin: auto;
      display: inline-block;
      text-align: center; }
      .globalHead .headLogo img {
        width: 100%; }
    .globalHead .headerRight {
      display: none; }
    .globalHead .rwd_headerSearch {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0px;
      right: 20px;
      bottom: 0;
      margin: auto; }
      .globalHead .rwd_headerSearch .searchIcon {
        width: 20vw;
        height: 40px;
        fill: #fbf8f1; }
    .globalHead .burgerMenu {
      display: inline-block;
      width: 20%;
      height: 40px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      .globalHead .burgerMenu span {
        width: 40px;
        height: 40px;
        display: block;
        margin: auto;
        fill: #fbf8f1; }
      .globalHead .burgerMenu.active {
        transition: .3s ease; }
    .globalHead #menu {
      display: block;
      position: fixed;
      top: 80px;
      background-color: rgba(0, 0, 0, 0.5); }
      .globalHead #menu.hideMenu {
        left: -120%;
        transition: all 0.3s ease; }
      .globalHead #menu.show {
        left: 0;
        transition: all 0.3s ease; }
      .globalHead #menu ul {
        display: block;
        width: 375px;
        min-width: 320px;
        background: rgba(128, 89, 52, 0.9);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left left, left right, color-sleft(0%, rgba(128, 89, 52, 0.9)), color-sleft(100%, rgba(158, 105, 61, 0.9)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* IE10+ */
        background: linear-gradient(to right, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128, 89, 52, 0.9)', endColorstr='rgba(158, 105, 61, 0.9)', GradientType=0 );
        /* IE6-9 */ }
        .globalHead #menu ul li {
          display: block;
          padding: 10px;
          color: #fbf8f1; }
          .globalHead #menu ul li.closeMenu span {
            width: 30px;
            display: block;
            float: right;
            fill: #fbf8f1; }
          .globalHead #menu ul li.memPart {
            height: 60px; }
            .globalHead #menu ul li.memPart .memPic {
              width: 30%;
              height: 100%;
              float: left; }
              .globalHead #menu ul li.memPart .memPic img {
                width: 50px;
                height: 50px;
                border-radius: 50%; }
            .globalHead #menu ul li.memPart span {
              width: 70%;
              height: 100%;
              display: block;
              float: left;
              margin: auto;
              line-height: 50px;
              text-align: center; }
          .globalHead #menu ul li.listTitle {
            font-size: 1.2em; }
          .globalHead #menu ul li a {
            color: #fbf8f1;
            font-weight: 400; }
    .globalHead .rwdSearchBar {
      background: rgba(128, 89, 52, 0.9);
      /* Old browsers */
      background: -moz-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left left, left right, color-sleft(0%, rgba(128, 89, 52, 0.9)), color-sleft(100%, rgba(158, 105, 61, 0.9)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* IE10+ */
      background: linear-gradient(to right, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128, 89, 52, 0.9)', endColorstr='rgba(158, 105, 61, 0.9)', GradientType=0 );
      /* IE6-9 */
      width: 100%;
      position: fixed;
      top: 80px;
      right: -100%;
      height: 80px;
      transition: .3s;
      display: block; }
      .globalHead .rwdSearchBar .rwdsearchItem {
        width: 90%;
        height: 30px;
        margin: 5px auto; }
        .globalHead .rwdSearchBar .rwdsearchItem select {
          width: 25%;
          height: 100%;
          float: left;
          text-align: center;
          border: 1px solid #fbf8f1;
          background-color: transparent;
          color: #fbf8f1;
          outline: none;
          border-radius: 2px;
          font-size: 16px; }
        .globalHead .rwdSearchBar .rwdsearchItem button {
          width: 25%;
          height: 100%;
          float: left;
          text-align: center;
          color: #fbf8f1;
          background-color: transparent;
          border: 1px solid #fbf8f1;
          border-radius: 2px;
          outline: none;
          font-size: 16px; }
          .globalHead .rwdSearchBar .rwdsearchItem button:focus {
            background-color: #fbf8f1;
            color: #805934;
            outline: none; }
      .globalHead .rwdSearchBar input {
        width: 100%;
        height: 40px;
        outline: none;
        border: none; }
      .globalHead .rwdSearchBar.activeSearch {
        top: 80px;
        right: 0;
        transition: .3s; } }
/* ===================================================*/
/* ===================================================*/
/* ===================================================*/
.activity_banner {
  width: 100%;
  height: 100%;
  background: url("../img/acty_background.png") center center;
  background-size: cover;
  height: 136vh; }
  .activity_banner #acty_Dough {
    min-width: 250px;
    max-width: 300px;
    width: 28.5vw;
    margin: auto;
    padding: 30vh 0 0;
    position: relative; }
    .activity_banner #acty_Dough img {
      width: 100%; }
    .activity_banner #acty_Dough .acty_h1 {
      width: 100%;
      position: absolute;
      bottom: 18%;
      left: 0%;
      text-align: center; }
      .activity_banner #acty_Dough .acty_h1 h1 {
        color: #996633;
        font-size: 28px; }
  .activity_banner .clear {
    clear: both; }
  .activity_banner .activity_board {
    max-width: 380px;
    min-width: 320px;
    position: relative;
    bottom: 0; }
    .activity_banner .activity_board .acty_stirrer {
      min-width: 76px;
      max-width: 90px;
      width: 15vw;
      position: absolute;
      top: -45%; }
    .activity_banner .activity_board img {
      width: 100%; }
    .activity_banner .activity_board .acty_board_p {
      font-size: 18px;
      padding: 4%;
      width: 82%;
      position: absolute;
      top: 0;
      left: 0;
      color: #663300; }
  .activity_banner .activity_detail {
    min-width: 250px;
    padding: 1%;
    background-color: rgba(246, 146, 30, 0.4);
    box-sizing: border-box; }
    .activity_banner .activity_detail ul {
      list-style-type: none;
      color: #fbf8f1; }
      .activity_banner .activity_detail ul li {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        font-size: 16px;
        line-height: 25px; }

/* .activity_banner rwd ==========================
==================================================
================================================== */
@media all and (min-width: 768px) {
  .activity_detail {
    width: 25vw;
    float: right;
    margin: 15vw 10vw 8vw 0; } }
@media all and (max-width: 767px) {
  .activity_detail {
    margin: auto;
    width: 80%;
    display: block; }

  .acty_stirrer {
    left: -7%; } }
@media all and (max-width: 959px) {
  .activity_board {
    width: 80px;
    display: block;
    margin: 20px auto;
    float: none; }
    .activity_board .acty_stirrer {
      left: -10%; }

  .activity_detail {
    margin: auto;
    float: none; } }
@media all and (max-width: 767px) {
  .activity_detail {
    width: 80%;
    display: block; }

  .acty_stirrer {
    left: -7%; } }
@media all and (min-width: 960px) {
  .activity_board {
    width: 40vw;
    margin: 15vh 8vw 5vw 10vh;
    float: left; }
    .activity_board .acty_stirrer {
      left: -10%; } }
/*---------- .activity_banner rwd end -----------
=====================================================
===================================================== */
@keyframes dough1 {
  0% {
    border-radius: 30% 30% 40% 60%/50% 55% 45% 50%; }
  100% {
    border-radius: 45% 55% 45% 55%/60% 45% 55% 40%; } }
.activity_content {
  background: url("../img/acty_background_2.png") center center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 50px;
  position: relative;
  width: 100%; }
  .activity_content .activity_pot {
    position: relative;
    z-index: 2;
    max-width: 350px;
    width: 40%;
    top: 20vw; }
    .activity_content .activity_pot img {
      width: 100%; }
    .activity_content .activity_pot .activity_dough_change {
      width: 75%;
      height: 100%;
      border-radius: 50% 45% 50% 50% / 64% 65% 35% 30%;
      background: #FFF8D7;
      /* Old browsers */
      background: -moz-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #FFF8D7), color-stop(100%, #ebb78f));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #FFF8D7 0%, #ebb78f 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF8D7', endColorstr='#ebb78f', GradientType=0 );
      /* IE6-9 */
      position: absolute;
      top: -40%;
      left: 20%;
      z-index: -2; }
    .activity_content .activity_pot h2 {
      position: absolute;
      top: 40%;
      left: 10%;
      width: 80%;
      font-size: 2.5vmin;
      text-align: center;
      color: #9e693d; }
  .activity_content .content_1 {
    width: 50%;
    float: left; }
  .activity_content .content_2 {
    width: 50%;
    float: left; }
  .activity_content .activity_pot_b {
    position: absolute;
    top: -25%;
    left: 5px;
    z-index: -5; }
  .activity_content .activity_dough_1 {
    width: 320px;
    height: 250px;
    background: url("../img/acty_bread.png");
    border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%;
    position: relative;
    top: -2vw; }
  .activity_content .activity_dough_2 {
    width: 250px;
    height: 230px;
    background: #FFF8D7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #FFF8D7), color-stop(100%, #ebb78f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #FFF8D7 0%, #ebb78f 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF8D7', endColorstr='#ebb78f', GradientType=0 );
    /* IE6-9 */
    border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%;
    animation: dough1 2s linear infinite alternate;
    transition: 1s;
    box-sizing: border-box;
    padding: 30px; }
    .activity_content .activity_dough_2 p {
      color: #996633;
      font-size: 18px;
      margin-top: 30px;
      text-shadow: 1px 1px 1px rgba(90, 88, 86, 0.2); }
  .activity_content .activity_dough_3 {
    width: 350px;
    height: 300px;
    padding: 60px 35px;
    box-sizing: border-box;
    background: #FFF8D7;
    /* Old browsers */
    background: -moz-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #FFF8D7), color-stop(100%, #ebb78f));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFF8D7 0%, #ebb78f 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #FFF8D7 0%, #ebb78f 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF8D7', endColorstr='#ebb78f', GradientType=0 );
    /* IE6-9 */
    border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%; }
    .activity_content .activity_dough_3 p {
      color: #5a5856;
      margin: 30px auto;
      vertical-align: middle; }
  .activity_content .activity_dough_4_all {
    text-align: center; }
    .activity_content .activity_dough_4_all .activity_dough_4 {
      width: 150px;
      height: 130px;
      background-size: cover; }
    .activity_content .activity_dough_4_all .pic_1 {
      background: url("../img/acty_pic1.png") no-repeat center center;
      background-size: cover;
      border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%; }
    .activity_content .activity_dough_4_all .pic_2 {
      background: url("../img/acty_pic2.png") no-repeat center center;
      background-size: cover;
      border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%; }
    .activity_content .activity_dough_4_all .pic_3 {
      background: url("../img/acty_pic3.png") no-repeat center center;
      background-size: cover;
      border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%; }
  .activity_content .activity_dough_5 {
    width: 320px;
    height: 250px;
    background: url("../img/acty_pic4.png");
    border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%; }
  .activity_content .activity_dough_6 {
    margin: 3vw auto;
    width: 320px;
    height: 250px;
    background: url("../img/acty_pic5.png");
    border-radius: 60% 40% 40% 60% / 50% 55% 45% 50%; }

/*===========content   rwd ====================
================================================
===============================================*/
@media screen and (max-width: 767px) {
  .activity_pot {
    display: block;
    margin: 5vw auto; }

  .activity_dough_1 {
    margin: auto;
    display: block;
    right: 0; }

  .activity_dough_2 {
    margin: 10vw auto;
    float: none; }

  .activity_dough_3 {
    float: none;
    margin: auto; }

  .pic_3 {
    margin: 10px auto; }

  .activity_dough_4_all {
    margin: auto;
    width: 100%; }

  .activity_dough_4 {
    float: none;
    display: inline-block;
    margin: 2% 3%; }

  .activity_dough_5 {
    float: none;
    margin: auto; }

  .activity_dough_5 {
    float: none; } }
@media all and (min-width: 768px) {
  .activity_pot {
    margin-left: 12vw;
    float: left; }

  .activity_dough_1 {
    margin: 3vw 30vw 2vw 0vw;
    float: right;
    right: -5vw; }

  .activity_dough_2 {
    float: right;
    margin-bottom: 10px;
    margin-right: 10vw; }

  .activity_dough_3 {
    float: right;
    margin-top: 5vw;
    margin-right: 20vw; }

  .pic_3 {
    margin: 0 3%; }

  .pic_2 {
    margin: 5% 0; }

  .activity_dough_4_all {
    width: 85%;
    margin-right: 8vw; }

  .activity_dough_4 {
    float: right; }

  .activity_dough_5 {
    float: right;
    margin: 15vw 8vw 0vw 0vw; }

  .activity_dough_6 {
    float: right; } }
/*===========content   rwd  end====================
================================================
===============================================*/
.activity_application {
  background: url("../img/acty_background_3.png") center;
  overflow: hidden;
  background-size: cover;
  padding: 8vw 5vw 5vw; }
  .activity_application .activity_final {
    width: 50%;
    float: left;
    text-align: center; }
    .activity_application .activity_final .activity_fin_pic {
      float: right;
      background-color: rgba(246, 146, 30, 0.8);
      width: 200px;
      height: 10vw;
      max-height: 165px;
      overflow: hidden; }
      .activity_application .activity_final .activity_fin_pic img {
        width: 100%;
        vertical-align: top; }
    .activity_application .activity_final .activity_bread {
      margin: 90px auto 0;
      width: 200px; }
      .activity_application .activity_final .activity_bread img {
        width: 100%; }
  .activity_application .activity_form {
    float: left;
    width: 50%; }
    .activity_application .activity_form .globalForm {
      width: 85%; }
