body {
  background-color: #e6e0d9; }

header {
  z-index: 1; }

.coverHeader {
  width: 100vw;
  height: 100px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.headerCenter {
  position: absolute;
  top: 30%;
  left: 50%;
  color: #fff; }

.navition {
  background-color: #ddcdb5;
  width: 200px;
  float: left;
  height: 100vh;
  position: fixed;
  z-index: -1; }
  .navition ul:first-child {
    border-top: 1px solid #aaaaaa; }
  .navition ul:last-child {
    border-bottom: 1px solid #aaaaaa; }
  .navition ul li {
    width: 200px;
    height: 60px;
    background-color: #aa815d;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    color: #ffffff;
    line-height: 60px;
    padding-left: 20px;
    font-size: 18px; }
    .navition ul li:hover {
      color: #000000;
      background-color: #cfa972;
      transition: 0.5s; }

.coverNavition {
  width: 200px;
  height: 100vh;
  overflow: hidden;
  float: left;
  position: relative;
  z-index: -1; }

.tableArea {
  float: left;
  padding-left: 200px;
  width: 1100px;
  height: 100vh;
  position: relative; }

.tableHeader {
  width: 1100px;
  padding-top: 20px;
  margin-right: 0;
  margin-left: 0;
  margin: auto;
  position: fixed; }
  .tableHeader tr td {
    color: #502f0d;
    width: 50px; }
    .tableHeader tr td:nth-child(1) {
      width: 30px; }
    .tableHeader tr td:nth-child(2) {
      width: 30px; }
    .tableHeader tr td:nth-child(3) {
      width: 30px; }
    .tableHeader tr td:nth-child(4) {
      width: 30px; }
    .tableHeader tr td:nth-child(5) {
      width: 30px; }

.tableContent {
  width: 1100px;
  padding-top: 50px;
  margin-right: 0;
  margin-left: 0;
  margin: auto; }
  .tableContent tr td {
    color: #502f0d;
    background-color: #ffffff;
    width: 50px; }
    .tableContent tr td:nth-child(1) {
      width: 30px; }
    .tableContent tr td:nth-child(2) {
      width: 30px; }
    .tableContent tr td:nth-child(3) {
      width: 30px; }
    .tableContent tr td:nth-child(4) {
      width: 30px; }
    .tableContent tr td:nth-child(5) {
      width: 30px; }

footer {
  width: 900px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 200px; }
