input {
  outline: none;
  cursor: pointer; }

body {
  background-color: #e6e0d9; }

header {
  z-index: 1; }

.tableArea {
  height: 100vh;
  position: relative;
  margin: auto;
  left: 0; }

.search {
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 20px; }
  .search img {
    position: absolute;
    top: 4px;
    outline: none;
    cursor: pointer; }
  .search input {
    width: 600px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: #b5b5b5;
    opacity: 0.5;
    text-indent: 10px; }
    .search input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #000;
      font-size: 13px;
      text-indent: 10px;
      font-family: "Gadugi", "Noto Sans CJK TC", "PingFang TC", "Heiti TC", "cwTeXHei", "Microsoft JhengHei", "Helvetica Neue", sans-serif; }

.tableHeaderCover {
  width: 100%;
  height: 78px;
  position: relative;
  background-color: #e6e0d9; }
  .tableHeaderCover .tableHeader {
    width: 90%;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    border-spacing: 0px; }
    .tableHeaderCover .tableHeader tr {
      border-bottom: 4px solid #d1c2b5;
      border-collapse: collapse; }
      .tableHeaderCover .tableHeader tr td {
        color: #502f0d;
        background-color: #e6e0d9;
        height: 50px;
        text-align: center;
        border-bottom: 4px solid #d1c2b5;
        border-collapse: collapse;
        padding-top: 70px; }
        .tableHeaderCover .tableHeader tr td:nth-child(1) {
          width: 10%; }
        .tableHeaderCover .tableHeader tr td:nth-child(2) {
          width: 10%; }
        .tableHeaderCover .tableHeader tr td:nth-child(3) {
          width: 20%; }
        .tableHeaderCover .tableHeader tr td:nth-child(4) {
          width: 10%; }
        .tableHeaderCover .tableHeader tr td:nth-child(5) {
          width: 17%; }
        .tableHeaderCover .tableHeader tr td:nth-child(6) {
          width: 11%; }
        .tableHeaderCover .tableHeader tr td:nth-child(7) {
          width: 11%; }
        .tableHeaderCover .tableHeader tr td:nth-child(8) {
          width: 11%; }

.tableContent {
  width: 90%;
  margin-right: 0;
  margin-left: 0;
  margin: auto;
  margin-bottom: 160px;
  padding-top: 50px; }
  .tableContent tr {
    background-color: #fff; }
    .tableContent tr:hover {
      background-color: #e1ccb0; }
    .tableContent tr td {
      color: #502f0d;
      height: 50px;
      text-align: center; }
      .tableContent tr td:nth-child(1) {
        width: 10%; }
      .tableContent tr td:nth-child(2) {
        width: 10%; }
      .tableContent tr td:nth-child(3) {
        width: 20%; }
      .tableContent tr td:nth-child(4) {
        width: 10%; }
      .tableContent tr td:nth-child(5) {
        width: 17%; }
      .tableContent tr td:nth-child(6) {
        width: 11%; }
      .tableContent tr td:nth-child(7) {
        width: 11%; }
      .tableContent tr td:nth-child(8) {
        width: 11%;
        text-align: center; }
        .tableContent tr td:nth-child(8) input {
          width: 80px;
          height: 40px;
          color: #ffffff;
          background-color: #af6363;
          border-radius: 10px;
          box-shadow: 0 0 0;
          border: none; }

footer {
  height: 150px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #c5beb7;
  margin: auto; }
  footer .square {
    width: 200px;
    height: 100%;
    float: left; }
  footer section .square_2 {
    margin-top: 20px; }
    footer section .square_2 span input {
      width: 120px;
      height: 40px;
      color: #ffffff;
      background-color: #7e4a1d;
      border-radius: 10px;
      box-shadow: 0 0 0;
      margin-top: 5px;
      border: none; }
      footer section .square_2 span input:hover {
        background-color: #ffffff;
        color: #7e4a1d;
        transition: 0.3s; }
    footer section .square_2 label {
      display: block;
      margin: 5px; }
      footer section .square_2 label span {
        display: inline-block;
        width: 100px;
        height: 30px;
        background-color: #ffffff;
        color: #502f0d;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 16px; }
      footer section .square_2 label input {
        display: inline-block;
        border-radius: 10px;
        height: 30px;
        width: 300px;
        margin: 0;
        padding: 0;
        border: none; }

.dutyColorChange {
  background-color: #00c853 !important;
  transition: .5s; }
