* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fbf8f1;
  font-family: "Noto Sans CJK TC"; }

input {
  font-family: "Noto Sans CJK TC"; }

a {
  text-decoration: none;
  color: #3399ff; }

.container-template {
  width: 100%;
  height: 1000px; }

.globalForm {
  width: 50%;
  background-color: #fbf8f1;
  border: 1px solid #ccc;
  margin: auto; }
  .globalForm .globalFormHeader {
    width: 100%;
    padding: 5% 5%;
    position: relative;
    box-sizing: border-box;
    background: #805934;
    /* Old browsers */
    background: -moz-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left left, left right, color-sleft(0%, #805934), color-sleft(100%, #9e693d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* IE10+ */
    background: linear-gradient(to right, #805934 0%, #9e693d 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805934', endColorstr='#9e693d', GradientType=0 );
    /* IE6-9 */ }
    .globalForm .globalFormHeader h1 {
      font-size: 24px;
      color: #fbf8f1; }
    .globalForm .globalFormHeader p {
      font-size: 16px;
      color: #fbf8f1;
      font-weight: 300;
      margin-top: 10px; }
    .globalForm .globalFormHeader .st0 {
      fill: #fbf8f1; }
    .globalForm .globalFormHeader .svg {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 10px; }
  .globalForm .globalFormContent {
    width: 100%;
    padding-top: 10px; }
    .globalForm .globalFormContent .globalFormInput {
      width: 80%;
      height: 50px;
      margin: 0px auto; }
      .globalForm .globalFormContent .globalFormInput input {
        display: block;
        float: right;
        width: 65%;
        height: 100%;
        padding-left: 10px;
        margin: auto;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bbb; }
        .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
          color: #bbb;
          font-weight: 300; }
      .globalForm .globalFormContent .globalFormInput label {
        display: block;
        width: 35% -10px;
        float: left;
        height: 100%;
        line-height: 50px;
        color: #663300;
        font-weight: 300; }
        .globalForm .globalFormContent .globalFormInput label span {
          color: #f06428; }
      .globalForm .globalFormContent .globalFormInput textarea {
        display: block;
        float: right;
        width: 65%;
        padding-left: 10px;
        padding-top: 10px;
        height: 100%;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bbb; }
    .globalForm .globalFormContent .globalFormBtns {
      width: 80%;
      margin: 30px auto;
      text-align: center; }
      .globalForm .globalFormContent .globalFormBtns .globalOkBtn, .globalForm .globalFormContent .globalFormBtns .globalCancelBtn {
        display: inline-block;
        margin: 0px 5px;
        text-decoration: none;
        cursor: pointer; }

header.globalHead {
  width: 100%;
  height: 100px;
  background: #805934;
  /* Old browsers */
  background: -moz-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left left, left right, color-sleft(0%, #805934), color-sleft(100%, #9e693d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #805934 0%, #9e693d 100%);
  /* IE10+ */
  background: linear-gradient(to right, #805934 0%, #9e693d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805934', endColorstr='#9e693d', GradientType=0 );
  /* IE6-9 */
  position: fixed; }
  header.globalHead .headLoginBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.5);
    display: none; }
    header.globalHead .headLoginBox .globalForm {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 600px;
      height: 80vh;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }
      header.globalHead .headLoginBox .globalForm .globalFormHeader {
        text-align: center; }
        header.globalHead .headLoginBox .globalForm .globalFormHeader img {
          width: 160px; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
        font-size: 16px; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw {
        width: 100%;
        text-align: center;
        padding: 20px 0px; }
        header.globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw a:hover {
          border-bottom: 1px solid #3399ff; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin {
        width: 100%;
        text-align: center;
        padding: 10px 0px; }
        header.globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin a {
          display: inline-block;
          width: 50%;
          height: 50px;
          background: #3B5998;
          /* Old browsers */
          background: -moz-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #3B5998), color-stop(100%, #283D69));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #3B5998 0%, #283D69 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B5998', endColorstr='#283D69', GradientType=0 );
          /* IE6-9 */
          border-radius: 5px;
          text-align: center;
          color: #fbf8f1;
          line-height: 50px;
          font-weight: 300; }
      header.globalHead .headLoginBox .globalForm .globalFormContent .registerLink {
        width: 100%;
        padding: 10px 0px;
        text-align: center; }
        header.globalHead .headLoginBox .globalForm .globalFormContent .registerLink a {
          text-align: center;
          color: #663300; }
          header.globalHead .headLoginBox .globalForm .globalFormContent .registerLink a:hover {
            border-bottom: 1px solid #663300; }
  header.globalHead .headLogo {
    width: 10%;
    height: 80px;
    padding: 10px;
    display: inline-block; }
    header.globalHead .headLogo img {
      display: block;
      width: 160px;
      height: 80px; }
  header.globalHead .headerRight {
    width: 50%;
    height: 80px;
    padding: 10px 0px;
    position: absolute;
    top: 0;
    right: 0; }
    header.globalHead .headerRight .headSearch {
      position: absolute;
      top: 0;
      left: 0;
      width: 70%;
      height: 80px;
      border: 1px solid #ccc; }
    header.globalHead .headerRight .headAccount {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      height: 80px;
      border: 1px solid #ccc; }
      header.globalHead .headerRight .headAccount #headMemStatus {
        display: none; }
        header.globalHead .headerRight .headAccount #headMemStatus #headMemPic {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 10px 0px; }
      header.globalHead .headerRight .headAccount #headMemLogin {
        display: inline-block;
        width: 100px;
        height: 80px;
        padding: 10px 0px; }
        header.globalHead .headerRight .headAccount #headMemLogin span {
          display: inline-block;
          width: 40px;
          height: 40px;
          padding: 0px 5%;
          fill: #fbf8f1; }

#menu {
  display: none; }

footer {
  width: 100%;
  height: 200px;
  background-color: #f2ebd4;
  text-align: center; }
  footer .globalFtBtn {
    display: inline-block;
    margin: 15px; }
    footer .globalFtBtn .svg {
      width: 50px;
      height: 50px;
      margin: 10px auto; }
      footer .globalFtBtn .svg path, footer .globalFtBtn .svg polygon {
        fill: #bbb; }
    footer .globalFtBtn a {
      color: #bbb;
      text-decoration: none; }
    footer .globalFtBtn:hover path {
      fill: #f06428; }
    footer .globalFtBtn:hover polygon {
      fill: #f06428; }
    footer .globalFtBtn:hover a {
      color: #f06428; }
  footer p {
    color: #663300;
    margin-top: 10px; }

.clearfix {
  clear: both; }

.globalOkBtn {
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #f06428;
  color: #f06428;
  background-color: #fbf8f1;
  transition: .3s ease; }
  .globalOkBtn:hover {
    background-color: #f06428;
    color: #fbf8f1;
    transition: .3s ease;
    cursor: pointer; }

.globalCancelBtn {
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #3399ff;
  color: #3399ff;
  transition: .3s ease; }
  .globalCancelBtn:hover {
    background-color: #3399ff;
    color: #fbf8f1;
    transition: .3s ease;
    text-decoration: none;
    cursor: pointer; }

@media all and (max-width: 767px) {
  header.globalHead .headLogo img {
    width: 30vw; }

  .globalForm {
    width: 80%;
    margin: auto; }
    .globalForm .globalOkBtn, .globalForm .globalCancelBtn {
      width: 40%; }
    .globalForm .burgerMenu {
      display: inline-block;
      width: 20%;
      height: 40px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
      .globalForm .burgerMenu span {
        display: block;
        width: 30px;
        height: 4px;
        left: 15px;
        background-color: #fbf8f1;
        border-radius: 4px;
        position: absolute;
        margin: auto;
        transition: .3s ease; }
        .globalForm .burgerMenu span:nth-of-type(1) {
          top: 5px; }
        .globalForm .burgerMenu span:nth-of-type(2) {
          top: 16px; }
        .globalForm .burgerMenu span:nth-of-type(3) {
          top: 27px; }
      .globalForm .burgerMenu.active {
        transition: .3s ease; }
        .globalForm .burgerMenu.active span:nth-of-type(1) {
          transform: rotate(-45deg);
          transition: .3s ease;
          top: 20px; }
        .globalForm .burgerMenu.active span:nth-of-type(2) {
          display: none; }
        .globalForm .burgerMenu.active span:nth-of-type(3) {
          transform: rotate(45deg);
          top: 20px;
          transition: .3s ease; }
    .globalForm #menu {
      display: block;
      position: fixed;
      top: 80px;
      background-color: rgba(0, 0, 0, 0.5); }
      .globalForm #menu.hideMenu {
        left: -375px;
        transition: all 0.3s ease; }
      .globalForm #menu.show {
        left: 0;
        transition: all 0.3s ease; }
      .globalForm #menu ul {
        display: block;
        width: 375px;
        min-width: 320px;
        background: rgba(128, 89, 52, 0.9);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left left, left right, color-sleft(0%, rgba(128, 89, 52, 0.9)), color-sleft(100%, rgba(158, 105, 61, 0.9)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* IE10+ */
        background: linear-gradient(to right, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128, 89, 52, 0.9)', endColorstr='rgba(158, 105, 61, 0.9)', GradientType=0 );
        /* IE6-9 */ }
        .globalForm #menu ul li {
          display: block;
          padding: 10px;
          color: #fbf8f1; }
          .globalForm #menu ul li.closeMenu span {
            width: 30px;
            display: block;
            float: right;
            fill: #fbf8f1; }
          .globalForm #menu ul li.memPart {
            height: 60px; }
            .globalForm #menu ul li.memPart .memPic {
              width: 30%;
              height: 100%;
              float: left; }
              .globalForm #menu ul li.memPart .memPic img {
                width: 50px;
                height: 50px;
                border-radius: 50%; }
            .globalForm #menu ul li.memPart span {
              width: 70%;
              height: 100%;
              display: block;
              float: left;
              margin: auto;
              line-height: 50px;
              text-align: center; }
          .globalForm #menu ul li.listTitle {
            font-size: 1.2em; }
          .globalForm #menu ul li a {
            color: #fbf8f1;
            font-weight: 400; } }
.container {
  padding-top: 80px;
  width: 100%; }
  .container .bossHead {
    width: 100%;
    height: 70px;
    background-color: #4289FF; }
    .container .bossHead h1 {
      padding-left: 20px;
      line-height: 70px;
      color: #fbf8f1;
      letter-spacing: 2px; }
  .container .LeftBusiness {
    width: 200px;
    height: 500px;
    position: fixed;
    left: 0;
    top: 160px; }
    .container .LeftBusiness .nav-Group1 {
      margin-top: 30px; }
      .container .LeftBusiness .nav-Group1 svg .cls-ma-1 {
        fill: #7ac943; }
      .container .LeftBusiness .nav-Group1 svg .cls-ma-2 {
        fill: #fff; }
    .container .LeftBusiness div div:nth-child(1) {
      width: 200px;
      height: 57px;
      margin-top: 10px;
      position: relative; }
      .container .LeftBusiness div div:nth-child(1) .cls-1 {
        fill: #4289FF; }
      .container .LeftBusiness div div:nth-child(1) .cls-2 {
        fill: #bbb; }
      .container .LeftBusiness div div:nth-child(1) .cls-3 {
        fill: #999; }
      .container .LeftBusiness div div:nth-child(1) h2 {
        position: absolute;
        line-height: 60px;
        left: 20px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        color: #fff; }
    .container .LeftBusiness div div:nth-child(2) {
      width: 180px;
      height: 60px;
      background-color: #4289FF;
      margin-top: 2px;
      position: relative; }
      .container .LeftBusiness div div:nth-child(2) h3 {
        position: absolute;
        line-height: 60px;
        left: 90px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        color: #fff; }
      .container .LeftBusiness div div:nth-child(2) svg {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        margin: auto; }
        .container .LeftBusiness div div:nth-child(2) svg .cls-1 {
          fill: none; }
        .container .LeftBusiness div div:nth-child(2) svg .cls-2 {
          fill: #bbb; }
        .container .LeftBusiness div div:nth-child(2) svg .cls-3 {
          fill: #999; }
    .container .LeftBusiness div div:nth-child(3) {
      width: 180px;
      height: 60px;
      background-color: #4289FF;
      margin-top: 2px;
      position: relative; }
      .container .LeftBusiness div div:nth-child(3) h3 {
        position: absolute;
        line-height: 60px;
        left: 90px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        color: #fff; }
      .container .LeftBusiness div div:nth-child(3) svg {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        margin: auto; }
        .container .LeftBusiness div div:nth-child(3) svg .cls-1 {
          fill: none; }
        .container .LeftBusiness div div:nth-child(3) svg .cls-2 {
          fill: #bbb; }
        .container .LeftBusiness div div:nth-child(3) svg .cls-3 {
          fill: #999; }
    .container .LeftBusiness div div:nth-child(4) {
      width: 180px;
      height: 60px;
      background-color: #4289FF;
      margin-top: 2px;
      position: relative; }
      .container .LeftBusiness div div:nth-child(4) h3 {
        position: absolute;
        line-height: 60px;
        left: 90px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        color: #fff; }
      .container .LeftBusiness div div:nth-child(4) svg {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        margin: auto; }
        .container .LeftBusiness div div:nth-child(4) svg .cls-1 {
          fill: none; }
        .container .LeftBusiness div div:nth-child(4) svg .cls-2 {
          fill: #bbb; }
        .container .LeftBusiness div div:nth-child(4) svg .cls-3 {
          fill: #999; }
  .container .bossActContent {
    width: 70%;
    max-width: 720px;
    margin: auto; }
    .container .bossActContent img.bigTitle {
      display: block;
      width: 30%;
      margin: 30px auto; }
    .container .bossActContent h2 {
      margin: 10px 0;
      margin-left: 10px;
      color: #999;
      font-size: 24px;
      font-weight: 500;
      border-bottom: 1px solid #ccc; }
    .container .bossActContent .actManageTable {
      width: 100%;
      margin: auto; }
      .container .bossActContent .actManageTable table {
        margin: auto;
        width: 100%; }
        .container .bossActContent .actManageTable table tr th {
          width: 20%;
          height: 40px;
          padding: 10px; }
          .container .bossActContent .actManageTable table tr th div {
            text-align: center;
            background-color: #f2ebd4;
            border-radius: 10px;
            padding: 10px; }
        .container .bossActContent .actManageTable table tr td {
          width: 80%;
          height: 40px;
          padding: 10px; }
          .container .bossActContent .actManageTable table tr td input {
            width: 100%;
            height: 100%; }
            .container .bossActContent .actManageTable table tr td input::-webkit-input-placeholder {
              font-size: 16px;
              color: #999; }
          .container .bossActContent .actManageTable table tr td textarea {
            width: 100%;
            height: 140px;
            border: 1px solid #999; }
            .container .bossActContent .actManageTable table tr td textarea::-webkit-input-placeholder {
              font-size: 16px;
              color: #999; }
          .container .bossActContent .actManageTable table tr td input[type=file] {
            display: none; }
          .container .bossActContent .actManageTable table tr td.uploadPic {
            height: 100px; }
          .container .bossActContent .actManageTable table tr td label {
            display: inline-block;
            margin: auto;
            width: 30%;
            margin: 10px 0px;
            cursor: pointer;
            border: 1px dotted #999; }
            .container .bossActContent .actManageTable table tr td label img {
              display: block;
              margin: auto;
              width: 60px;
              height: 40px; }
            .container .bossActContent .actManageTable table tr td label span {
              display: block;
              margin: auto;
              text-align: center;
              color: #999;
              font-size: 12px; }
      .container .bossActContent .actManageTable .globalOkBtn {
        display: block;
        margin: 30px auto; }

@media screen and (max-width: 940px) {
  .LeftBusiness {
    display: none; } }
@media screen and (max-width: 768px) {
  .container {
    width: 100%; }
    .container .bossActContent {
      width: 100%;
      padding: 1%;
      box-sizing: border-box; }
      .container .bossActContent .actManageTable table {
        width: 100%;
        overflow: hidden; }
        .container .bossActContent .actManageTable table tr td a {
          width: 100%;
          color: #666; }
          .container .bossActContent .actManageTable table tr td a img {
            width: 40px; } }
