@-webkit-keyframes letterDraw {
  to {
    stroke-dashoffset: 0; } }

@keyframes letterDraw {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes letterleaf {
  to {
    fill: #4b7cbf; } }

@keyframes letterleaf {
  to {
    fill: #4b7cbf; } }

body {
  background-color: #fbf8f1; }

.coverHeader {
  height: 100px; }

header {
  z-index: 3; }

.coverSubtitile {
  height: 44px; }
  .coverSubtitile .subtitle {
    height: 44px;
    width: 100vw;
    position: fixed;
    top: 80px;
    z-index: 3; }
    .coverSubtitile .subtitle h2 {
      line-height: 44px;
      font-size: 20px;
      background-color: #4289FF;
      padding-left: 20px;
      color: #fff; }

.container {
  width: 100%; }

.CenterBusiness {
  margin-top: 260px;
  width: 70%;
  margin: auto; }
  .CenterBusiness .subtitle {
    height: 100px;
    text-align: center;
    padding-top: 20px; }
    .CenterBusiness .subtitle svg .line {
      fill: none;
      stroke-width: 1;
      stroke: #4b7cbf;
      -webkit-animation: letterleaf 1s ease forwards;
      animation: letterleaf 1s ease forwards; }
      .CenterBusiness .subtitle svg .line .line-g {
        opacity: 1;
        stroke-dasharray: 340;
        stroke-dashoffset: 340;
        -webkit-animation: letterDraw 3s ease forwards;
        animation: letterDraw 3s ease forwards; }
  .CenterBusiness .content-table {
    min-height: 400px; }
    .CenterBusiness .content-table .tableHeader {
      width: 90%;
      margin-right: 0;
      margin-left: 0;
      margin: auto;
      border-spacing: 0px; }
      .CenterBusiness .content-table .tableHeader tr {
        border-bottom: 4px solid #d1c2b5;
        border-collapse: collapse; }
        .CenterBusiness .content-table .tableHeader tr.tabletitle {
          text-align: left; }
          .CenterBusiness .content-table .tableHeader tr.tabletitle th {
            padding-left: 20px;
            color: #999;
            font-size: 26px; }
          .CenterBusiness .content-table .tableHeader tr.tabletitle .addProduct {
            border: none;
            padding-top: 0px;
            text-align: right;
            width: 30%; }
            .CenterBusiness .content-table .tableHeader tr.tabletitle .addProduct img {
              vertical-align: middle; }
            .CenterBusiness .content-table .tableHeader tr.tabletitle .addProduct span {
              vertical-align: middle;
              color: #f06428; }
        .CenterBusiness .content-table .tableHeader tr.titleText td {
          color: #666666;
          background-color: #fbf8f1;
          height: 50px;
          text-align: center;
          border-bottom: 1px solid #cccccc;
          border-collapse: collapse;
          padding-top: 20px; }
          .CenterBusiness .content-table .tableHeader tr.titleText td:nth-child(1) {
            width: 10%; }
          .CenterBusiness .content-table .tableHeader tr.titleText td:nth-child(2) {
            width: 10%; }
          .CenterBusiness .content-table .tableHeader tr.titleText td:nth-child(3) {
            width: 20%; }
          .CenterBusiness .content-table .tableHeader tr.titleText td:nth-child(4) {
            width: 10%; }
          .CenterBusiness .content-table .tableHeader tr.titleText td:nth-child(5) {
            width: 17%; }
  .CenterBusiness .tableContent {
    width: 90%;
    margin-right: 0;
    margin-left: 0;
    margin: auto;
    margin-bottom: 160px; }
    .CenterBusiness .tableContent tr:hover {
      background-color: #000; }
    .CenterBusiness .tableContent tr td {
      color: #502f0d;
      background-color: #ffffff;
      height: 80px;
      text-align: center;
      border-bottom: 1px solid #cccccc; }
      .CenterBusiness .tableContent tr td:nth-child(1) {
        width: 10%; }
      .CenterBusiness .tableContent tr td:nth-child(2) {
        width: 10%; }
        .CenterBusiness .tableContent tr td:nth-child(2) img {
          width: 100%;
          vertical-align: middle; }
      .CenterBusiness .tableContent tr td:nth-child(3) {
        width: 20%; }
      .CenterBusiness .tableContent tr td:nth-child(4) {
        width: 10%; }
      .CenterBusiness .tableContent tr td:nth-child(5) {
        width: 17%;
        text-align: center;
        padding-right: 5%;
        padding-left: 5%; }
        .CenterBusiness .tableContent tr td:nth-child(5) div img {
          display: block;
          margin: auto; }
        .CenterBusiness .tableContent tr td:nth-child(5) div:nth-child(1) {
          width: 50%;
          float: left; }
        .CenterBusiness .tableContent tr td:nth-child(5) div:nth-child(2) {
          width: 50%;
          float: left; }

.commit {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 100px; }
  .commit input {
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px; }
    .commit input:nth-child(1) {
      margin-right: 10px;
      border: 1px solid #F06428;
      background-color: #fff;
      color: #F06428;
      display: inline-block; }
      .commit input:nth-child(1):hover {
        color: #fff;
        background-color: #F06428;
        transition: 0.5s; }
    .commit input:nth-child(2) {
      margin-left: 10px;
      border: 1px solid #F06428;
      background-color: #F06428;
      color: #fff;
      display: inline-block; }
      .commit input:nth-child(2):hover {
        color: #F06428;
        background-color: #fff;
        transition: 0.5s; }

@media screen and (max-width: 940px) {
  .LeftBusiness {
    display: none; } }

@media screen and (max-width: 940px) {
  .CenterBusiness {
    width: 90%; }
    .CenterBusiness .content-table .tableHeader {
      width: 100%; }
    .CenterBusiness .content-table table {
      width: 100%; }
      .CenterBusiness .content-table table tr td {
        font-size: 14px; }
        .CenterBusiness .content-table table tr td:nth-child(5) div span {
          display: none; }
        .CenterBusiness .content-table table tr td:nth-child(5) div:nth-child(1) img {
          margin-right: 5px; }
        .CenterBusiness .content-table table tr td:nth-child(5) div:nth-child(2) img {
          margin-left: 5px; } }
