@-webkit-keyframes letterDraw {
  to {
    stroke-dashoffset: 0; } }

@keyframes letterDraw {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes letterleaf {
  to {
    fill: #4b7cbf; } }

@keyframes letterleaf {
  to {
    fill: #4b7cbf; } }

.coverHeader {
  height: 80px; }

header {
  z-index: 3; }

.container {
  width: 100%; }

.CenterBusiness {
  margin-top: 260px;
  width: 70%;
  margin: auto; }
  .CenterBusiness .subtitle {
    height: 100px;
    text-align: center;
    padding-top: 20px; }
    .CenterBusiness .subtitle svg .line {
      fill: none;
      stroke-width: 1;
      stroke: #4b7cbf;
      -webkit-animation: letterleaf 2s ease forwards;
      animation: letterleaf 2s ease forwards; }
      .CenterBusiness .subtitle svg .line .line-g {
        opacity: 1;
        stroke-dasharray: 340;
        stroke-dashoffset: 340;
        -webkit-animation: letterDraw 5s ease forwards;
        animation: letterDraw 5s ease forwards; }
  .CenterBusiness .content-table table {
    width: 80%;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    margin: auto; }
    .CenterBusiness .content-table table span, .CenterBusiness .content-table table div, .CenterBusiness .content-table table input {
      color: #999; }
    .CenterBusiness .content-table table tr {
      height: 70px; }
      .CenterBusiness .content-table table tr th {
        border-bottom: 1px solid #ccc;
        text-align: center;
        font-weight: normal;
        width: 20%; }
        .CenterBusiness .content-table table tr th div {
          height: 40px;
          width: 80%;
          background-color: #F2EBD4;
          margin-right: 0;
          margin-left: 0;
          margin: auto;
          line-height: 40px;
          border-radius: 6px; }
      .CenterBusiness .content-table table tr td {
        text-align: center;
        width: 80%;
        border-bottom: 1px solid #ccc; }
      .CenterBusiness .content-table table tr:nth-child(1) th {
        text-align: left;
        padding-left: 20px;
        color: #999;
        font-size: 26px; }
      .CenterBusiness .content-table table tr:nth-child(2) td input {
        width: 90%;
        height: 40px;
        box-sizing: border-box; }
      .CenterBusiness .content-table table tr:nth-child(3) td input {
        width: 90%;
        height: 40px;
        box-sizing: border-box; }
      .CenterBusiness .content-table table tr:nth-child(4) td input {
        width: 90%;
        height: 40px;
        box-sizing: border-box; }
      .CenterBusiness .content-table table tr:nth-child(5) td input {
        width: 90%;
        height: 40px;
        box-sizing: border-box; }
      .CenterBusiness .content-table table tr:nth-child(6) {
        height: 100px; }
        .CenterBusiness .content-table table tr:nth-child(6) th div {
          height: 80px; }
        .CenterBusiness .content-table table tr:nth-child(6) td div div {
          display: inline-block;
          width: 19%;
          border: 1px solid #ddd;
          margin: 10px;
          padding: 5px 0; }
          .CenterBusiness .content-table table tr:nth-child(6) td div div:hover {
            background-color: #4289FF;
            color: #fff;
            transition: 0.5s; }
      .CenterBusiness .content-table table tr:nth-child(7) {
        height: 100px; }
        .CenterBusiness .content-table table tr:nth-child(7) th div {
          height: 80px;
          line-height: 80px; }
        .CenterBusiness .content-table table tr:nth-child(7) td label {
          display: inline-block;
          margin: 20px; }
      .CenterBusiness .content-table table tr:nth-child(8) {
        height: 180px; }
        .CenterBusiness .content-table table tr:nth-child(8) th div {
          height: 160px;
          line-height: 160px; }
        .CenterBusiness .content-table table tr:nth-child(8) td textarea {
          display: block;
          margin-top: 0;
          margin-bottom: 0;
          margin: auto;
          width: 90%;
          height: 140px;
          border: 1px solid #ccc;
          resize: none; }
      .CenterBusiness .content-table table tr:nth-child(9) {
        height: 220px; }
        .CenterBusiness .content-table table tr:nth-child(9) th div {
          height: 200px;
          line-height: 200px; }
        .CenterBusiness .content-table table tr:nth-child(9) td {
          position: relative; }
          .CenterBusiness .content-table table tr:nth-child(9) td div {
            width: 90%;
            height: 160px;
            border: 1px solid #ccc;
            position: relative;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            padding-top: 5%; }
            .CenterBusiness .content-table table tr:nth-child(9) td div div {
              height: 80%;
              width: 100%;
              border: none; }
              .CenterBusiness .content-table table tr:nth-child(9) td div div input {
                display: none; }
              .CenterBusiness .content-table table tr:nth-child(9) td div div img {
                display: block;
                margin: auto; }
              .CenterBusiness .content-table table tr:nth-child(9) td div div span {
                display: block;
                font-size: 8px; }
  .CenterBusiness .commit {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 100px; }
    .CenterBusiness .commit input {
      border: none;
      width: 150px;
      height: 50px;
      border-radius: 25px; }
      .CenterBusiness .commit input:nth-child(1) {
        margin-right: 10px;
        border: 1px solid #F06428;
        background-color: #fff;
        color: #F06428;
        display: inline-block; }
        .CenterBusiness .commit input:nth-child(1):hover {
          color: #fff;
          background-color: #F06428;
          transition: 0.5s; }
      .CenterBusiness .commit input:nth-child(2) {
        margin-left: 10px;
        border: 1px solid #F06428;
        background-color: #F06428;
        color: #fff;
        display: inline-block; }
        .CenterBusiness .commit input:nth-child(2):hover {
          color: #F06428;
          background-color: #fff;
          transition: 0.5s; }

.CoverRightMy {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 124px;
  right: -200px;
  transition: 1s;
  background-color: #f2ebd4; }
  .CoverRightMy ul li {
    background-color: #4289ff;
    width: 200px;
    padding: 8px 0;
    color: #fff;
    text-align: left;
    padding-left: 20px;
    display: block; }
    .CoverRightMy ul li:hover {
      color: #f6921E;
      transition: 0.5s; }
    .CoverRightMy ul li ul li {
      background-color: #4289ff;
      width: 200px;
      color: #eef;
      text-align: left;
      display: block;
      padding: 2px 20px;
      border-bottom: 1px solid #4b7cbf; }
      .CoverRightMy ul li ul li:hover {
        color: #f06428;
        transition: 0.5s; }

.moveToLeft {
  right: -70px;
  transition: 1s; }

footer {
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0; }

@media screen and (max-width: 940px) {
  .LeftBusiness {
    display: none; }
  .coverSubtitile .subtitle .burger {
    display: block; } }

@media screen and (max-width: 767px) {
  .CenterBusiness {
    width: 90%; }
    .CenterBusiness .content-table table {
      width: 100%; }
      .CenterBusiness .content-table table tr th {
        width: 30%; }
        .CenterBusiness .content-table table tr th div {
          min-width: 10px; }
      .CenterBusiness .content-table table tr td {
        width: 70%; }
      .CenterBusiness .content-table table tr:nth-child(6) td div div {
        font-size: 14px;
        margin: 10px 0; } }

@media screen and (max-width: 940px) {
  .CenterBusiness {
    width: 90%; }
    .CenterBusiness .content-table table tr th div {
      font-size: 14px; } }
