body {
  background-color: #fbf8f1; }

.coverHeader {
  height: 100px; }

header {
  z-index: 3; }

.container {
  width: 100%; }

.CenterBusiness {
  margin-top: 260px;
  width: 70%;
  margin: auto; }
  .CenterBusiness .content-table .tableHeader {
    margin: auto;
    width: 80%; }
    .CenterBusiness .content-table .tableHeader tr.tabletitle th {
      font-size: 20px !important; }
    .CenterBusiness .content-table .tableHeader tr:nth-child(1) th {
      width: 20%;
      text-align: center;
      color: #999999;
      font-size: 26px;
      vertical-align: text-bottom; }
    .CenterBusiness .content-table .tableHeader tr:nth-child(1) td {
      font-size: 16px;
      width: 80%;
      text-align: left;
      color: #ccc;
      vertical-align: text-bottom; }
      .CenterBusiness .content-table .tableHeader tr:nth-child(1) td input {
        width: 80%;
        height: 30px;
        outline: none; }
        .CenterBusiness .content-table .tableHeader tr:nth-child(1) td input td input {
          width: 90%;
          height: 40px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-indent: 4px;
          font-size: 14px;
          outline: none; }
        .CenterBusiness .content-table .tableHeader tr:nth-child(1) td input td p {
          color: #999;
          height: 40px;
          line-height: 40px;
          width: 90%;
          text-align: left;
          margin: auto;
          font-size: 18px;
          padding-left: 4px; }
    .CenterBusiness .content-table .tableHeader tr:nth-child(2) th, .CenterBusiness .content-table .tableHeader tr:nth-child(3) th, .CenterBusiness .content-table .tableHeader tr:nth-child(4) th {
      width: 20%;
      text-align: center;
      color: #999999;
      font-size: 18px;
      vertical-align: text-bottom;
      padding: 6px;
      min-width: 70px; }
    .CenterBusiness .content-table .tableHeader tr:nth-child(2) td, .CenterBusiness .content-table .tableHeader tr:nth-child(3) td, .CenterBusiness .content-table .tableHeader tr:nth-child(4) td {
      font-size: 16px;
      width: 80%;
      text-align: left;
      color: #999999;
      vertical-align: text-bottom;
      padding: 6px;
      min-width: 243px; }
    .CenterBusiness .content-table .tableHeader tr:nth-child(5) .td_map {
      padding-top: 10px;
      padding-bottom: 10px; }
      .CenterBusiness .content-table .tableHeader tr:nth-child(5) .td_map #map1 {
        width: 100%;
        height: 40vh; }
      .CenterBusiness .content-table .tableHeader tr:nth-child(5) .td_map #map2 {
        width: 100%;
        height: 40vh; }
      .CenterBusiness .content-table .tableHeader tr:nth-child(5) .td_map #map3 {
        width: 100%;
        height: 40vh; }
    .CenterBusiness .content-table .tableHeader tr:nth-child(6) td {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 50px; }
      .CenterBusiness .content-table .tableHeader tr:nth-child(6) td input {
        border: none;
        width: 150px;
        height: 50px;
        border-radius: 25px; }
        .CenterBusiness .content-table .tableHeader tr:nth-child(6) td input:nth-child(1) {
          margin-right: 10px;
          border: 1px solid #F06428;
          background-color: #fff;
          color: #F06428;
          display: inline-block; }
          .CenterBusiness .content-table .tableHeader tr:nth-child(6) td input:nth-child(1):hover {
            color: #fff;
            background-color: #F06428;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s; }
        .CenterBusiness .content-table .tableHeader tr:nth-child(6) td input:nth-child(2) {
          border: 1px solid #F06428;
          background-color: #F06428;
          color: #fff;
          display: inline-block; }
          .CenterBusiness .content-table .tableHeader tr:nth-child(6) td input:nth-child(2):hover {
            color: #F06428;
            background-color: #fff;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s; }

@media screen and (max-width: 940px) {
  .LeftBusiness {
    display: none; } }

@media screen and (max-width: 940px) {
  .CenterBusiness {
    width: 90%; }
    .CenterBusiness .content-table .tableHeader {
      width: 100%; }
    .CenterBusiness .content-table table {
      width: 100%; }
      .CenterBusiness .content-table table tr td {
        font-size: 14px; }
        .CenterBusiness .content-table table tr td:nth-child(5) div span {
          display: none; } }

@media screen and (max-width: 872px) {
  .CenterBusiness {
    margin-top: 260px;
    width: 90%;
    margin: auto; }
    .CenterBusiness .subtitle {
      height: 100px;
      text-align: center;
      padding-top: 20px; }
    .CenterBusiness .content-table .tableHeader {
      margin: auto; }
      .CenterBusiness .content-table .tableHeader tr:nth-child(1) th {
        width: 30%;
        text-align: left;
        color: #999999;
        font-size: 26px;
        vertical-align: text-bottom; }
      .CenterBusiness .content-table .tableHeader tr:nth-child(1) td {
        font-size: 12px;
        width: 70%;
        text-align: left;
        color: #999999; } }
