@media screen and (max-width: 940px) {
  .LeftBusiness {
    display: none; }

  .coverSubtitile .subtitle .burger {
    display: block; } }
@media screen and (max-width: 767px) {
  .CenterBusiness {
    width: 90%; }
    .CenterBusiness .content-table table {
      width: 100%; }
      .CenterBusiness .content-table table tr th {
        width: 30%; }
        .CenterBusiness .content-table table tr th div {
          min-width: 10px; }
      .CenterBusiness .content-table table tr td {
        width: 70%; }
      .CenterBusiness .content-table table tr:nth-child(6) td div div {
        font-size: 14px;
        margin: 10px 0; } }
@media screen and (max-width: 940px) {
  .CenterBusiness {
    width: 90%; }
    .CenterBusiness .content-table table tr th div {
      font-size: 14px; } }
