.LeftBusiness {
  width: 200px;
  height: 500px;
  position: fixed;
  left: 0;
  top: 160px;
  z-index: 99; }
  .LeftBusiness .nav-Group1 {
    margin-top: 30px; }
  .LeftBusiness div div {
    width: 200px;
    height: 57px;
    margin-top: 10px;
    position: relative; }
    .LeftBusiness div div .cls-1 {
      fill: #4289FF; }
    .LeftBusiness div div .cls-2 {
      fill: #bbb; }
    .LeftBusiness div div .cls-3 {
      fill: #999; }
    .LeftBusiness div div h2 {
      position: absolute;
      line-height: 60px;
      left: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      font-size: 18px;
      color: #fff; }
    .LeftBusiness div div div:nth-child(2) {
      display: block;
      width: 160px;
      height: 60px;
      background-color: #D9E8FF;
      border-radius: 2px;
      position: relative; }
      .LeftBusiness div div div:nth-child(2) h3 {
        position: absolute;
        line-height: 60px;
        left: 60px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        color: #fff;
        color: #4289FF !important; }
      .LeftBusiness div div div:nth-child(2) svg {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        margin: auto; }
        .LeftBusiness div div div:nth-child(2) svg .cls-ar {
          fill: #4289FF; }
        .LeftBusiness div div div:nth-child(2) svg .cls-1 {
          fill: none; }
        .LeftBusiness div div div:nth-child(2) svg .cls-2 {
          fill: #bbb; }
        .LeftBusiness div div div:nth-child(2) svg .cls-3 {
          fill: #999; }
    .LeftBusiness div div div:nth-child(3) {
      display: block;
      width: 160px;
      height: 60px;
      background-color: #D9E8FF;
      border-radius: 2px;
      position: relative; }
      .LeftBusiness div div div:nth-child(3) h3 {
        position: absolute;
        line-height: 60px;
        left: 60px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        color: #fff;
        color: #4289FF !important; }
      .LeftBusiness div div div:nth-child(3) svg {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        margin: auto; }
        .LeftBusiness div div div:nth-child(3) svg .cls-ar {
          fill: #4289FF; }
        .LeftBusiness div div div:nth-child(3) svg .cls-1 {
          fill: none; }
        .LeftBusiness div div div:nth-child(3) svg .cls-2 {
          fill: #bbb; }
        .LeftBusiness div div div:nth-child(3) svg .cls-3 {
          fill: #999; }
    .LeftBusiness div div div:nth-child(4) {
      display: block;
      width: 160px;
      height: 60px;
      background-color: #D9E8FF;
      border-radius: 2px;
      position: relative; }
      .LeftBusiness div div div:nth-child(4) h3 {
        position: absolute;
        line-height: 60px;
        left: 60px;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 18px;
        color: #fff;
        color: #4289FF !important; }
      .LeftBusiness div div div:nth-child(4) svg {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 30px;
        margin: auto; }
        .LeftBusiness div div div:nth-child(4) svg .cls-ar {
          fill: #4289FF; }
        .LeftBusiness div div div:nth-child(4) svg .cls-1 {
          fill: none; }
        .LeftBusiness div div div:nth-child(4) svg .cls-2 {
          fill: #bbb; }
        .LeftBusiness div div div:nth-child(4) svg .cls-3 {
          fill: #999; }
