@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #fbf8f1;
  font-family: "Noto Sans CJK TC"; }

input {
  font-family: "Noto Sans CJK TC"; }

a {
  text-decoration: none;
  color: #3399ff; }

li {
  list-style: none; }

.globalForm {
  width: 50%;
  background-color: #fbf8f1;
  border: 1px solid #ccc;
  margin: auto; }
  .globalForm .globalFormHeader {
    width: 100%;
    padding: 5% 5%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #805934;
    /* Old browsers */
    background: -moz-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left left, left right, color-sleft(0%, #805934), color-sleft(100%, #9e693d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #805934 0%, #9e693d 100%);
    /* IE10+ */
    background: -webkit-gradient(linear, left top, right top, from(#805934), to(#9e693d));
    background: linear-gradient(to right, #805934 0%, #9e693d 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#805934', endColorstr='#9e693d', GradientType=0 );
    /* IE6-9 */ }
    .globalForm .globalFormHeader h1 {
      font-size: 24px;
      color: #fbf8f1; }
    .globalForm .globalFormHeader p {
      font-size: 16px;
      color: #fbf8f1;
      font-weight: 300;
      margin-top: 10px; }
    .globalForm .globalFormHeader .st0 {
      fill: #fbf8f1; }
    .globalForm .globalFormHeader .svg {
      width: 50px;
      height: 50px;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      -webkit-transition: .3s ease-in;
      -o-transition: .3s ease-in;
      transition: .3s ease-in; }
      .globalForm .globalFormHeader .svg:hover {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        transition: .3s ease-in; }
  .globalForm .globalFormContent {
    width: 100%;
    padding-top: 10px; }
    .globalForm .globalFormContent .globalFormInput {
      width: 80%;
      height: 50px;
      margin: 0px auto; }
      .globalForm .globalFormContent .globalFormInput input {
        display: block;
        float: right;
        width: 65%;
        height: 100%;
        padding-left: 10px;
        margin: auto;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #bbb; }
        .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
          color: #bbb;
          font-weight: 300; }
      .globalForm .globalFormContent .globalFormInput label {
        display: block;
        width: 35% -10px;
        float: left;
        height: 100%;
        line-height: 50px;
        color: #663300;
        font-weight: 300; }
        .globalForm .globalFormContent .globalFormInput label span {
          color: #f06428; }
      .globalForm .globalFormContent .globalFormInput textarea {
        display: block;
        float: right;
        width: 65%;
        padding-left: 10px;
        padding-top: 10px;
        height: 100%;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #bbb; }
    .globalForm .globalFormContent .globalFormBtns {
      width: 80%;
      margin: 30px auto;
      text-align: center; }
      .globalForm .globalFormContent .globalFormBtns .globalOkBtn, .globalForm .globalFormContent .globalFormBtns .globalCancelBtn {
        display: inline-block;
        margin: 0px 5px;
        text-decoration: none;
        cursor: pointer; }

.hideUp header.globalHead {
  top: -80px; }

.hideUp_sub {
  top: 0px  !important;
  -webkit-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important; }

.hideUp_sub_burger {
  top: 44px  !important; }

.globalHead {
  width: 100%;
  height: 80px;
  background: rgba(128, 89, 52, 0.9);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left left, left right, color-sleft(0%, rgba(128, 89, 52, 0.9)), color-sleft(100%, rgba(158, 105, 61, 0.9)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* IE10+ */
  background: -webkit-gradient(linear, left top, right top, from(rgba(128, 89, 52, 0.9)), to(rgba(158, 105, 61, 0.9)));
  background: linear-gradient(to right, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128, 89, 52, 0.9)', endColorstr='rgba(158, 105, 61, 0.9)', GradientType=0 );
  /* IE6-9 */
  z-index: 100;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 0px 15px 0px #382715;
  box-shadow: 0px 0px 15px 0px #382715;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: top .3s ease-in-out;
  -o-transition: top .3s ease-in-out;
  transition: top .3s ease-in-out; }
  .globalHead .headLoginBox {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.5);
    display: none; }
    .globalHead .headLoginBox .globalForm {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 600px;
      height: 80vh;
      border: none;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }
      .globalHead .headLoginBox .globalForm .globalFormHeader {
        text-align: center; }
        .globalHead .headLoginBox .globalForm .globalFormHeader img {
          width: 160px; }
      .globalHead .headLoginBox .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
        font-size: 16px; }
      .globalHead .headLoginBox .globalForm .globalFormContent .globalFormInput input:focus {
        border-bottom: 1px solid #f06428;
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        transition: .3s ease-in; }
      .globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw {
        width: 100%;
        text-align: center;
        padding: 10px 0px; }
        .globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw a:hover {
          border-bottom: 1px solid #3399ff; }
      .globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin {
        width: 100%;
        text-align: center;
        padding: 10px 0px; }
        .globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin a {
          display: inline-block;
          width: 50%;
          height: 50px;
          background: #3B5998;
          /* Old browsers */
          background: -moz-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #3B5998), color-stop(100%, #283D69));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* IE10+ */
          background: -webkit-gradient(linear, left top, left bottom, from(#3B5998), to(#283D69));
          background: linear-gradient(to bottom, #3B5998 0%, #283D69 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B5998', endColorstr='#283D69', GradientType=0 );
          /* IE6-9 */
          border-radius: 5px;
          text-align: center;
          color: #fbf8f1;
          line-height: 50px;
          font-weight: 300; }
      .globalHead .headLoginBox .globalForm .globalFormContent .registerLink {
        width: 100%;
        padding: 10px 0px;
        text-align: center; }
        .globalHead .headLoginBox .globalForm .globalFormContent .registerLink span {
          text-align: center;
          color: #663300;
          cursor: pointer; }
          .globalHead .headLoginBox .globalForm .globalFormContent .registerLink span:hover {
            border-bottom: 1px solid #663300; }
  .globalHead .headRegisterBox {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.5);
    display: none; }
    .globalHead .headRegisterBox .globalForm {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-width: 600px;
      height: 80vh;
      border: none;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
      box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }
      .globalHead .headRegisterBox .globalForm .globalFormHeader {
        text-align: center; }
        .globalHead .headRegisterBox .globalForm .globalFormHeader img {
          width: 160px; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput input::-webkit-input-placeholder {
        font-size: 16px; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput input:focus {
        border-bottom: 1px solid #f06428;
        -webkit-transition: .3s ease-in;
        -o-transition: .3s ease-in;
        transition: .3s ease-in; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput.enterID {
        position: relative; }
        .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput.enterID span {
          display: block;
          position: absolute;
          right: 10px;
          top: 20px;
          color: #f06428;
          font-size: 12px; }
          .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput.enterID span.success {
            color: green; }
          .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput.enterID span.error {
            color: red; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput.enterPsw {
        position: relative; }
        .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput.enterPsw span {
          display: block;
          position: absolute;
          right: 20px;
          top: 10px; }
          .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput.enterPsw span i.fa {
            color: #666; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .facebookRegister {
        width: 100%;
        text-align: center;
        padding: 10px 0px; }
        .globalHead .headRegisterBox .globalForm .globalFormContent .facebookRegister a {
          display: inline-block;
          width: 50%;
          height: 50px;
          background: #3B5998;
          /* Old browsers */
          background: -moz-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, top top, top bottom, color-stop(0%, #3B5998), color-stop(100%, #283D69));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #3B5998 0%, #283D69 100%);
          /* IE10+ */
          background: -webkit-gradient(linear, left top, left bottom, from(#3B5998), to(#283D69));
          background: linear-gradient(to bottom, #3B5998 0%, #283D69 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B5998', endColorstr='#283D69', GradientType=0 );
          /* IE6-9 */
          border-radius: 5px;
          text-align: center;
          color: #fbf8f1;
          line-height: 50px;
          font-weight: 300; }
      .globalHead .headRegisterBox .globalForm .globalFormContent .loginLink {
        width: 100%;
        padding: 10px 0px;
        text-align: center; }
        .globalHead .headRegisterBox .globalForm .globalFormContent .loginLink span {
          text-align: center;
          color: #663300;
          cursor: pointer; }
          .globalHead .headRegisterBox .globalForm .globalFormContent .loginLink span:hover {
            border-bottom: 1px solid #663300; }
  .globalHead .headLogo {
    height: 100%;
    margin-left: 20px;
    float: left; }
    .globalHead .headLogo a {
      display: block;
      width: 100%;
      height: 80px;
      padding: 10px 0px; }
      .globalHead .headLogo a img {
        display: inline-block;
        height: 60px; }
  .globalHead .headerRight {
    padding: 5px 0px;
    float: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .globalHead .headerRight .headSearch {
      float: left;
      padding: 20px 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: right;
      font-size: 0; }
      .globalHead .headerRight .headSearch span {
        margin-right: 10px;
        color: #996633;
        font-weight: 300; }
      .globalHead .headerRight .headSearch #headSearch {
        width: 20%;
        height: 30px;
        display: inline-block;
        margin: 0px 5px;
        border: 1px solid #fff;
        padding-left: 10px;
        outline: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top; }
      .globalHead .headerRight .headSearch select {
        display: inline-block;
        width: 80px;
        height: 30px;
        color: #996633;
        background-color: #fbf8f1;
        border: 1px solid #fbf8f1;
        margin: 0px 5px;
        font-size: 16px;
        outline: none;
        border-radius: 2px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top; }
      .globalHead .headerRight .headSearch label {
        width: 80px;
        display: inline-block;
        height: 30px;
        color: #996633;
        background-color: #fbf8f1;
        margin: 0px 5px;
        font-size: 16px;
        border-radius: 2px;
        vertical-align: top;
        outline: none;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-box-shadow: -1px 1px 0px 1px #713f2a;
        box-shadow: -1px 1px 0px 1px #713f2a;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .globalHead .headerRight .headSearch input[name=filter] {
        display: none; }
        .globalHead .headerRight .headSearch input[name=filter]:checked + label {
          background-color: #5d2812;
          color: #fbf8f1;
          outline: none;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-box-shadow: none;
          box-shadow: none;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
      .globalHead .headerRight .headSearch #headSearchSubmit {
        display: inline-block;
        width: 50px;
        height: 30px;
        color: #663300;
        background-color: #f2ebd4;
        border: none;
        margin-left: 5px;
        font-size: 16px;
        border-radius: 2px;
        outline: none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .globalHead .headerRight .headSearch #headSearchSubmit:active {
          background-color: #663300;
          color: #fbf8f1; }
        .globalHead .headerRight .headSearch #headSearchSubmit.keyIn {
          background-color: #f06428;
          color: #fbf8f1;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); } }

@keyframes shake {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); } }

@-webkit-keyframes shake1 {
  0% {
    -webkit-transform: translate(15px, 0px);
    transform: translate(15px, 0px); }
  100% {
    -webkit-transform: translate(-15px, 0px);
    transform: translate(-15px, 0px); } }

@keyframes shake1 {
  0% {
    -webkit-transform: translate(15px, 0px);
    transform: translate(15px, 0px); }
  100% {
    -webkit-transform: translate(-15px, 0px);
    transform: translate(-15px, 0px); } }
    .globalHead .headerRight .shake {
      -webkit-animation: shake1 .2s linear 3 alternate;
      animation: shake1 .2s linear 3 alternate; }
    .globalHead .headerRight .activeStatus {
      display: block; }
    .globalHead .headerRight .headAccount {
      width: 150px;
      float: left; }
      .globalHead .headerRight .headAccount #headMemStatus {
        display: none;
        width: 100%;
        height: 70px;
        padding: 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .globalHead .headerRight .headAccount #headMemStatus div {
          width: 110px;
          margin: 10px auto; }
          .globalHead .headerRight .headAccount #headMemStatus div a {
            display: block;
            width: 40px;
            height: 40px;
            margin: auto;
            float: left;
            border: none; }
            .globalHead .headerRight .headAccount #headMemStatus div a img {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              -o-object-fit: cover;
              object-fit: cover; }
              .globalHead .headerRight .headAccount #headMemStatus div a img#addShop1 {
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s; }
                .globalHead .headerRight .headAccount #headMemStatus div a img#addShop1:hover {
                  -webkit-animation: shake .3s ease infinite alternate;
                  animation: shake .3s ease infinite alternate;
                  -webkit-transition: .3s;
                  -o-transition: .3s;
                  transition: .3s; }
            .globalHead .headerRight .headAccount #headMemStatus div a:first-child {
              margin-right: 10px; }
            .globalHead .headerRight .headAccount #headMemStatus div a#headMemPic {
              position: relative; }
              .globalHead .headerRight .headAccount #headMemStatus div a#headMemPic:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-top: 4px solid #fff;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                position: absolute;
                right: -10px;
                bottom: 0; }
      .globalHead .headerRight .headAccount .memStatusBar {
        position: relative;
        bottom: 15px;
        right: 70px;
        width: 180px;
        padding: 10px;
        display: none; }
        .globalHead .headerRight .headAccount .memStatusBar ul {
          width: 150px;
          margin: auto;
          background-color: #f2ebd4;
          border-radius: 5px; }
          .globalHead .headerRight .headAccount .memStatusBar ul:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-bottom: 10px solid #f2ebd4;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            position: absolute;
            top: 2px;
            right: 29px; }
          .globalHead .headerRight .headAccount .memStatusBar ul li {
            color: #663300;
            width: 100%;
            text-align: center; }
            .globalHead .headerRight .headAccount .memStatusBar ul li:first-child a {
              padding: 10px 0px;
              font-weight: 600; }
            .globalHead .headerRight .headAccount .memStatusBar ul li a {
              display: block;
              width: 100%;
              padding: 5px 0px;
              text-align: center;
              font-weight: 500;
              color: #663300;
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
              .globalHead .headerRight .headAccount .memStatusBar ul li a.memLink:hover {
                background-color: #805934;
                color: #fbf8f1;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s; }
      .globalHead .headerRight .headAccount #headMemLogin {
        width: 100%;
        height: 70px;
        cursor: pointer;
        display: block; }
        .globalHead .headerRight .headAccount #headMemLogin .loginGrp {
          width: 50%;
          margin: auto;
          height: 70px;
          position: relative; }
        .globalHead .headerRight .headAccount #headMemLogin .loginBtn {
          padding: 7px 0px; }
        .globalHead .headerRight .headAccount #headMemLogin #loginIcon {
          width: 32px;
          height: 32px;
          display: block;
          margin: auto;
          fill: #fbf8f1; }
        .globalHead .headerRight .headAccount #headMemLogin #loginTxt {
          text-align: center;
          color: #fbf8f1;
          display: block;
          margin: auto;
          font-weight: 300; }
        .globalHead .headerRight .headAccount #headMemLogin:hover {
          background-color: #996633;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          .globalHead .headerRight .headAccount #headMemLogin:hover #loginIcon {
            -webkit-animation: shake .5s ease infinite alternate;
            animation: shake .5s ease infinite alternate;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
  .globalHead .rwd_headerSearch {
    display: none; }
  .globalHead .burgerMenu {
    display: none; }
  .globalHead .rwdSearchBar {
    display: none; }

#menu {
  display: none; }

footer {
  width: 100%;
  height: 200px;
  background-color: #f2ebd4;
  text-align: center; }
  footer .globalFtBtn {
    display: inline-block;
    margin: 15px;
    cursor: pointer; }
    footer .globalFtBtn .svg {
      width: 50px;
      height: 50px;
      margin: 10px auto; }
      footer .globalFtBtn .svg path, footer .globalFtBtn .svg polygon {
        fill: #bbb; }
    footer .globalFtBtn a {
      color: #bbb;
      text-decoration: none; }
    footer .globalFtBtn:hover path {
      fill: #f06428; }
    footer .globalFtBtn:hover polygon {
      fill: #f06428; }
    footer .globalFtBtn:hover a {
      color: #f06428; }
  footer p {
    color: #663300;
    margin-top: 10px; }

@media screen and (max-width: 400px) {
  footer .globalFtBtn .svg {
    width: 30px;
    height: 30px; }
  footer .globalFtBtn a {
    font-size: 14px; } }

.clearfix {
  clear: both; }

.globalOkBtn {
  display: block;
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #f06428;
  color: #f06428;
  background-color: #fbf8f1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .globalOkBtn:hover {
    background-color: #f06428;
    color: #fbf8f1;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer; }

.globalCancelBtn {
  display: block;
  width: 150px;
  height: 45px;
  border-radius: 22.5px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  border: 1px solid #3399ff;
  color: #3399ff;
  background-color: #fbf8f1;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease; }
  .globalCancelBtn:hover {
    background-color: #3399ff;
    color: #fbf8f1;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    text-decoration: none;
    cursor: pointer; }

.col-sm-1 {
  padding: 0 10px;
  float: left;
  width: 8.3333%; }

/*12欄*/
.col-sm-2 {
  padding: 0 10px;
  float: left;
  width: 16.6666%; }

/*6欄*/
.col-sm-3 {
  padding: 0 10px;
  float: left;
  width: 25%; }

/*4欄*/
.col-sm-4 {
  padding: 0 10px;
  float: left;
  width: 33.3333%; }

/*3欄*/
.col-sm-5 {
  padding: 0 10px;
  float: left;
  width: 41.6666%; }

.col-sm-6 {
  padding: 0 10px;
  float: left;
  width: 50%; }

/*2欄*/
.col-sm-7 {
  padding: 0 10px;
  float: left;
  width: 58.3333%; }

.col-sm-8 {
  padding: 0 10px;
  float: left;
  width: 66.6666%; }

.col-sm-9 {
  padding: 0 10px;
  float: left;
  width: 75%; }

.col-sm-10 {
  padding: 0 10px;
  float: left;
  width: 83.3333%; }

.col-sm-11 {
  padding: 0 10px;
  float: left;
  width: 91.6666%; }

.col-sm-12 {
  padding: 0 10px;
  float: left;
  width: 100%; }

/*1欄*/
@media screen and (max-width: 767px) {
  .col-xs-1 {
    padding: 0 10px;
    float: left;
    width: 8.3333%; }
  /*12欄*/
  .col-xs-2 {
    padding: 0 10px;
    float: left;
    width: 16.6666%; }
  /*6欄*/
  .col-xs-3 {
    padding: 0 10px;
    float: left;
    width: 25%; }
  /*4欄*/
  .col-xs-4 {
    padding: 0 10px;
    float: left;
    width: 33.3333%; }
  /*3欄*/
  .col-xs-5 {
    padding: 0 10px;
    float: left;
    width: 41.6666%; }
  .col-xs-6 {
    padding: 0 10px;
    float: left;
    width: 50%; }
  /*2欄*/
  .col-xs-7 {
    padding: 0 10px;
    float: left;
    width: 58.3333%; }
  .col-xs-8 {
    padding: 0 10px;
    float: left;
    width: 66.6666%; }
  .col-xs-9 {
    padding: 0 10px;
    float: left;
    width: 75%; }
  .col-xs-10 {
    padding: 0 10px;
    float: left;
    width: 83.3333%; }
  .col-xs-11 {
    padding: 0 10px;
    float: left;
    width: 91.6666%; }
  .col-xs-12 {
    padding: 0 10px;
    float: left;
    width: 100%; }
  /*1欄*/
  .globalForm {
    width: 80%;
    margin: auto; }
    .globalForm .globalOkBtn, .globalForm .globalCancelBtn {
      width: 40%; } }

@media screen and (max-width: 980px) {
  .globalHead {
    text-align: center; }
    .globalHead .headLogo {
      min-width: 150px;
      width: 20vw;
      margin: auto;
      display: inline-block;
      text-align: center;
      float: none; }
      .globalHead .headLogo img {
        width: 100%; }
    .globalHead .headerRight {
      display: none; }
    .globalHead .rwd_headerSearch {
      display: inline-block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0px;
      left: 20px;
      bottom: 0;
      margin: auto; }
      .globalHead .rwd_headerSearch .searchIcon {
        width: 20vw;
        height: 40px;
        fill: #fbf8f1; }
    .globalHead .burgerMenu {
      display: inline-block;
      width: 20%;
      height: 40px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 20px;
      margin: auto; }
      .globalHead .burgerMenu span {
        width: 40px;
        height: 40px;
        display: block;
        margin: auto;
        fill: #fbf8f1; }
      .globalHead .burgerMenu.active {
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease; }
    .globalHead #headMemStatus {
      display: none; }
    .globalHead ul#storeMenu {
      display: none; }
    .globalHead #menu {
      display: block;
      position: fixed;
      top: 80px;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5); }
      .globalHead #menu.hideMenu {
        right: -120%;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .globalHead #menu.show {
        right: 0;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      .globalHead #menu ul {
        display: block;
        width: 100%;
        background: rgba(128, 89, 52, 0.9);
        /* Old browsers */
        background: -moz-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left left, left right, color-sleft(0%, rgba(128, 89, 52, 0.9)), color-sleft(100%, rgba(158, 105, 61, 0.9)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* IE10+ */
        background: -webkit-gradient(linear, left top, right top, from(rgba(128, 89, 52, 0.9)), to(rgba(158, 105, 61, 0.9)));
        background: linear-gradient(to right, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128, 89, 52, 0.9)', endColorstr='rgba(158, 105, 61, 0.9)', GradientType=0 );
        /* IE6-9 */ }
        .globalHead #menu ul#memLoggedin {
          display: block; }
          .globalHead #menu ul#memLoggedin li.beBoss #bossMenu {
            display: none; }
        .globalHead #menu ul li {
          color: #fbf8f1; }
          .globalHead #menu ul li.closeMenu span {
            width: 30px;
            display: block;
            float: right;
            fill: #fbf8f1; }
          .globalHead #menu ul li.memPart {
            padding-bottom: 10px;
            position: relative; }
            .globalHead #menu ul li.memPart:after {
              content: '';
              display: block;
              width: 50%;
              height: 1px;
              background-color: rgba(251, 248, 241, 0.5);
              position: absolute;
              bottom: 0;
              left: 25%; }
            .globalHead #menu ul li.memPart .memPic {
              width: 100%;
              height: 100%; }
              .globalHead #menu ul li.memPart .memPic img {
                width: 50px;
                height: 50px;
                border-radius: 50%; }
            .globalHead #menu ul li.memPart span {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center; }
          .globalHead #menu ul li a {
            display: block;
            width: 100%;
            padding: 10px;
            color: #fbf8f1;
            font-weight: 400;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            .globalHead #menu ul li a:focus {
              background-color: rgba(158, 105, 61, 0.5);
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
          .globalHead #menu ul li #rwdBossRole {
            display: block;
            width: 100%;
            padding: 10px;
            color: #fbf8f1;
            font-weight: 400;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            .globalHead #menu ul li #rwdBossRole:focus {
              background-color: rgba(158, 105, 61, 0.5);
              -webkit-transition: .3s;
              -o-transition: .3s;
              transition: .3s; }
          .globalHead #menu ul li.myActivity {
            position: relative; }
            .globalHead #menu ul li.myActivity:after {
              content: '';
              display: block;
              width: 50%;
              height: 1px;
              background-color: rgba(251, 248, 241, 0.5);
              position: absolute;
              bottom: 0;
              left: 25%; }
          .globalHead #menu ul li.needLogIn {
            height: 80vh; }
            .globalHead #menu ul li.needLogIn a {
              width: 50%;
              margin: auto;
              padding: 0;
              background-color: #f06428; }
    .globalHead .rwdSearchBar {
      background: rgba(128, 89, 52, 0.9);
      /* Old browsers */
      background: -moz-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left left, left right, color-sleft(0%, rgba(128, 89, 52, 0.9)), color-sleft(100%, rgba(158, 105, 61, 0.9)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* IE10+ */
      background: -webkit-gradient(linear, left top, right top, from(rgba(128, 89, 52, 0.9)), to(rgba(158, 105, 61, 0.9)));
      background: linear-gradient(to right, rgba(128, 89, 52, 0.9) 0%, rgba(158, 105, 61, 0.9) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(128, 89, 52, 0.9)', endColorstr='rgba(158, 105, 61, 0.9)', GradientType=0 );
      /* IE6-9 */
      width: 100%;
      position: fixed;
      top: 80px;
      left: -100%;
      height: 100vh;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      display: block; }
      .globalHead .rwdSearchBar .rwdsearchItem {
        width: 90%;
        height: 70%;
        margin: 10px auto; }
        .globalHead .rwdSearchBar .rwdsearchItem span {
          display: block;
          width: 70%;
          color: #fbf8f1;
          padding: 5px;
          margin: 10px auto;
          font-size: 20px;
          background-color: #663300;
          border-radius: 5px; }
        .globalHead .rwdSearchBar .rwdsearchItem label.rwdfilter {
          display: inline-block;
          margin: 0px 5px;
          margin-bottom: 5px;
          padding: 10px;
          color: #fbf8f1;
          border: 1px solid #fbf8f1;
          outline: none;
          border-radius: 5px;
          cursor: pointer; }
        .globalHead .rwdSearchBar .rwdsearchItem input[type=radio] {
          display: none; }
          .globalHead .rwdSearchBar .rwdsearchItem input[type=radio]:checked + label.rwdfilter {
            background-color: #fbf8f1;
            color: #996633;
            -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
        .globalHead .rwdSearchBar .rwdsearchItem .searchArea {
          width: 100%;
          margin: auto; }
      .globalHead .rwdSearchBar #rwdHeadSearch {
        width: 90%;
        margin: auto;
        height: 40px;
        outline: none;
        border: none;
        padding-left: 10px; }
      .globalHead .rwdSearchBar.activeSearch {
        top: 80px;
        left: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .globalHead .rwdSearchBar #rwdSubmit {
        display: block;
        width: 50%;
        height: 40px;
        background-color: #f2ebd4;
        margin: 10px auto;
        color: #663300;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer; } }

@media screen and (max-width: 400px) {
  .globalHead .headLoginBox .globalForm {
    width: 100%;
    margin-top: 80px;
    height: 90vh; }
    .globalHead .headLoginBox .globalForm .globalFormHeader img {
      width: 120px; }
    .globalHead .headLoginBox .globalForm .globalFormContent .forgetPsw {
      padding: 10px auto; }
    .globalHead .headLoginBox .globalForm .globalFormContent .globalFormBtns {
      margin: 10px auto; }
    .globalHead .headLoginBox .globalForm .globalFormContent .facebookLogin a {
      width: 60%; }
  .globalHead .headRegisterBox .globalForm {
    width: 100%;
    margin-top: 80px;
    height: 90vh; }
    .globalHead .headRegisterBox .globalForm .globalFormHeader img {
      width: 120px; }
    .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormInput {
      width: 90%; }
    .globalHead .headRegisterBox .globalForm .globalFormContent .globalFormBtns {
      margin: 10px auto; } }

#addShopBox {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  display: none; }
  #addShopBox .globalForm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 600px;
    height: 75%;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }
    #addShopBox .globalForm .chooseType input {
      width: 20px;
      height: 100%; }
    #addShopBox .globalForm .chooseType .chooseBtn {
      float: right;
      margin: 0px 10px; }
    #addShopBox .globalForm #showAddShopForm {
      display: none; }
    #addShopBox .globalForm #visitorForm {
      display: block;
      position: relative;
      padding-top: 50%; }
      #addShopBox .globalForm #visitorForm a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    #addShopBox .globalForm .selectTime {
      display: block;
      float: right;
      width: 65%;
      height: 100%;
      padding-left: 10px;
      margin: auto;
      background-color: transparent; }
      #addShopBox .globalForm .selectTime span {
        display: inline-block;
        float: left;
        line-height: 50px;
        color: #663300; }
      #addShopBox .globalForm .selectTime select {
        width: 30%;
        height: 30px;
        float: left;
        display: inline-block;
        margin: 10px; }

@media screen and (max-width: 400px) {
  #addShopBox .globalForm .globalFormHeader {
    padding: 2%; }
    #addShopBox .globalForm .globalFormHeader .svg {
      width: 30px; }
    #addShopBox .globalForm .globalFormHeader p {
      font-size: 13px; }
  #addShopBox .globalForm .globalFormInput {
    width: 90%;
    height: 30px; }
    #addShopBox .globalForm .globalFormInput label {
      line-height: 30px;
      font-size: 13px; }
    #addShopBox .globalForm .globalFormInput .chooseBtn {
      margin: 0px 5px; }
    #addShopBox .globalForm .globalFormInput .selectTime {
      padding-left: 0; }
    #addShopBox .globalForm .globalFormInput select {
      width: 37%;
      line-height: 30px;
      margin: 0; }
    #addShopBox .globalForm .globalFormInput span {
      line-height: 30px;
      font-size: 12px; } }

#serviceCenter {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  display: none; }
  #serviceCenter .globalForm {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 600px;
    height: 75%;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.5); }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f2ebd4;
  background: -webkit-radial-gradient(ellipse, #fbf8f1, #f2ebd4);
  background: -o-radial-gradient(ellipse, #fbf8f1, #f2ebd4);
  background: -moz-radial-gradient(ellipse, #fbf8f1, #f2ebd4);
  background: radial-gradient(ellipse, #fbf8f1, #f2ebd4);
  font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #663300; }

h1 {
  font-size: 36px;
  color: #996633; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 18px; }

h2, h3 {
  font-weight: 500; }

address {
  font-size: 14px;
  line-height: 1.6em;
  font-style: normal; }

p {
  padding: 5px 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #3399ff; }

img {
  max-width: 100%;
  vertical-align: bottom; }

input, textarea {
  outline: none;
  padding: 2px;
  font-family: "Noto Sans CJK TC";
  font-weight: lighter; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bbb; }

input:-moz-placeholder, textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bbb; }

input::-moz-placeholder, textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bbb; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bbb; }

input:not(.radio):focus, textarea:focus {
  border: 1px solid rgba(240, 100, 40, 0.3);
  -webkit-box-shadow: 0 0 2px #f6921E;
  box-shadow: 0 0 2px #f6921E; }

.myfollow, .msg, .myentry {
  -webkit-transition: -webkit-box-shadow 1s;
  transition: -webkit-box-shadow 1s;
  -o-transition: box-shadow 1s;
  transition: box-shadow 1s;
  transition: box-shadow 1s, -webkit-box-shadow 1s; }

.container {
  position: relative;
  margin: 0 auto; }
  .container .sidebar {
    width: 210px;
    height: 310px;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1; }
    .container .sidebar li {
      position: relative;
      height: 60px;
      margin-bottom: 2px; }
      .container .sidebar li a {
        color: #fbf8f1;
        width: 100%;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        padding-left: 16px;
        padding-right: 80px;
        text-align: right;
        background-color: transparent;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        background-image: url(../img/memimg/myfollow.svg);
        background-repeat: no-repeat;
        background-position: right center;
        position: absolute;
        right: 140px;
        -webkit-transition: right 1.5s, background-color 1s;
        -o-transition: right 1.5s, background-color 1s;
        transition: right 1.5s, background-color 1s; }
      .container .sidebar li a.mycommentsvg {
        background-image: url(../img/memimg/mycomment.svg); }
      .container .sidebar li a.myentrysvg {
        background-image: url(../img/memimg/myentry.svg); }
      .container .sidebar li a.myeditsvg {
        background-image: url(../img/memimg/myedit.svg); }
      .container .sidebar li a.bebosssvg {
        background-image: url(../img/memimg/beboss.svg); }
    .container .sidebar li:hover a {
      background-color: #00c853;
      right: 0px; }
    .container .sidebar li:hover a {
      background-image: url(../img/memimg/myfollow2.svg); }
    .container .sidebar li:hover a.mycommentsvg {
      background-image: url(../img/memimg/mycomment2.svg); }
    .container .sidebar li:hover a.myentrysvg {
      background-image: url(../img/memimg/myentry2.svg); }
    .container .sidebar li:hover a.myeditsvg {
      background-image: url(../img/memimg/myedit2.svg); }
    .container .sidebar li:hover a.bebosssvg {
      background-color: #4289ff;
      background-image: url(../img/memimg/beboss2.svg); }
  @media screen and (max-width: 767px) {
    .container .sidebar {
      display: none; } }
  .container .content {
    max-width: 1200px;
    width: 83.3333%;
    min-height: 60vh;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center; }
    .container .content h1 img {
      height: 100px; }
    .container .content .section1000 {
      max-width: 1000px;
      width: 83.3333%;
      margin: 0 8.33335% 50px;
      padding: unset;
      float: none; }
    .container .content .section1000:after, .container .content .memBeBoss:after {
      content: '';
      display: block;
      clear: both; }
    .container .content input[type="submit"], .container .content input[type="button"], .container .content .upload, .container .content label.openpsw, .container .content .btn {
      width: 145px;
      height: 50px;
      border-radius: 25px;
      text-align: center;
      font-size: 18px;
      border: 1px solid #f06428;
      color: #f06428;
      cursor: pointer;
      line-height: 48px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .container .content .btn {
      display: block;
      margin: 0 auto; }
    .container .content input[type="submit"], .container .content input[type="button"] {
      color: #fbf8f1;
      background: #f06428;
      float: none;
      line-height: 40px;
      -webkit-transition: -webkit-box-shadow 1s;
      transition: -webkit-box-shadow 1s;
      -o-transition: box-shadow 1s;
      transition: box-shadow 1s;
      transition: box-shadow 1s, -webkit-box-shadow 1s;
      margin: 0 auto; }
    .container .content input[type="file"] {
      opacity: 0;
      width: 130px;
      cursor: pointer; }
    .container .content .upload:hover, .container .content label.openpsw:hover, .container .content .btn:hover {
      color: #fbf8f1;
      background: #f06428;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
    .container .content .upload {
      position: relative;
      float: left; }
    .container .content input[type="submit"]:hover, .container .content input[type="button"]:hover {
      -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5); }
    .container .content .myfollow {
      width: 220px;
      float: left;
      overflow: hidden;
      text-align: left;
      position: relative;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 30px; }
      .container .content .myfollow a {
        display: block; }
      .container .content .myfollow h2, .container .content .myfollow address {
        margin: 8px; }
    .container .content .myfollow:nth-child(n+2) {
      margin-left: 4%; }
    .container .content .myfollow:hover {
      -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); }
    .container .content .btn50 {
      width: 50px;
      height: 50px;
      text-align: center;
      color: #999; }
    .container .content #cancelfollow {
      float: right;
      margin: -55px 2px 0 0; }
      .container .content #cancelfollow:after {
        content: '取消追蹤';
        font-size: 12px;
        vertical-align: top; }
    .container .content #mappointer {
      text-align: center;
      display: block; }
      .container .content #mappointer:after {
        display: block;
        content: '地圖';
        font-size: 12px;
        vertical-align: top; }
    .container .content .myfollow > ul {
      height: 16px;
      margin-left: 8px; }
      .container .content .myfollow > ul .star {
        display: inline-block; }
        .container .content .myfollow > ul .star img {
          width: 16px;
          vertical-align: top; }
    .container .content time {
      color: #bbb;
      font-size: 10px;
      float: right;
      margin: -20px 10px 0px; }
    @media screen and (max-width: 767px) {
      .container .content .myfollow {
        width: 100%; }
      .container .content .myfollow:nth-child(n+2) {
        margin-left: 0; }
      .container .content .btn50 {
        padding: 0 10%; }
      .container .content #cancelfollow {
        position: absolute;
        bottom: 28px;
        right: 10px;
        margin-top: 0px; }
      .container .content time {
        margin: 5px 10px;
        float: left; } }
    .container .content .mycomment {
      /*用漸層設定綠色線段*/
      background-image: -webkit-linear-gradient(left, #00c853 10px, #00c853 10px);
      background-image: -o-linear-gradient(left, #00c853 10px, #00c853 10px);
      background-image: linear-gradient(90deg, #00c853 10px, #00c853 10px);
      background-size: 2px 100px;
      background-position: center top;
      background-repeat: repeat-y; }
      .container .content .mycomment li {
        width: 50%;
        position: relative;
        margin-bottom: 20px; }
        .container .content .mycomment li .msg {
          padding: 10px;
          min-height: 60px;
          text-align: justify;
          border-radius: 5px;
          margin-right: 40px;
          background-color: #fff;
          position: relative; }
          .container .content .mycomment li .msg time {
            margin: 5px 50px 0 0; }
          .container .content .mycomment li .msg .storepic {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            overflow: hidden;
            position: absolute;
            right: -65px;
            top: 8px; }
            .container .content .mycomment li .msg .storepic img {
              height: 100%;
              max-width: none; }
          .container .content .mycomment li .msg .reply {
            padding: 10px;
            margin-top: 32px;
            border-radius: 2px;
            background-color: #eee;
            display: none; }
            .container .content .mycomment li .msg .reply time {
              margin-right: 0; }
          .container .content .mycomment li .msg #del {
            padding: 0%;
            position: absolute;
            top: 0px;
            right: 0; }
            .container .content .mycomment li .msg #del:after {
              content: '刪除';
              font-size: 12px;
              vertical-align: top; }
        .container .content .mycomment li .msg:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 10px solid  transparent;
          border-bottom: 10px solid  transparent;
          position: absolute;
          top: 20px; }
        .container .content .mycomment li .msg:hover {
          -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); }
      .container .content .mycomment li:nth-child(even) {
        left: 50%; }
        .container .content .mycomment li:nth-child(even) .msg {
          margin-left: 40px;
          margin-right: 0; }
        .container .content .mycomment li:nth-child(even) .storepic {
          left: -65px; }
        .container .content .mycomment li:nth-child(even) .msg:before {
          left: -15px;
          border-right: 16px solid #fff; }
      .container .content .mycomment li:nth-child(odd) .msg:before {
        right: -15px;
        border-left: 16px solid #fff; }
    @media screen and (max-width: 767px) {
      .container .content .mycomment {
        background-position: left top; }
        .container .content .mycomment li {
          width: 100%; }
          .container .content .mycomment li .msg {
            margin: 0 0 0 40px; }
            .container .content .mycomment li .msg time {
              float: none;
              margin: 0; }
          .container .content .mycomment li .storepic {
            left: -65px; }
        .container .content .mycomment li:nth-child(even) {
          left: 0; }
        .container .content .mycomment li:nth-child(odd) .msg:before {
          left: -15px;
          border-left: none;
          border-right: 16px solid #fbf8f1; } }
    .container .content .myentry {
      width: 300px;
      height: 200px;
      float: left;
      overflow: hidden;
      text-align: justify;
      position: relative;
      border-radius: 5px;
      margin-bottom: 30px; }
      .container .content .myentry h2, .container .content .myentry address {
        margin: 8px; }
      .container .content .myentry h2 > a {
        color: #fbf8f1; }
      .container .content .myentry h2:hover {
        text-decoration: underline; }
      .container .content .myentry time {
        margin: 20px 0 0 5px; }
      .container .content .myentry .actpic {
        height: 100%; }
      .container .content .myentry .info {
        width: 280px;
        height: 180px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fbf8f1;
        position: absolute;
        top: 140px;
        left: 0;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
        .container .content .myentry .info #cancelentry {
          float: right;
          margin: -50px 2px 0 0; }
        .container .content .myentry .info #cancelentry:after {
          content: '取消報名';
          color: #fbf8f1;
          font-size: 12px;
          vertical-align: top; }
    .container .content .myentry:nth-child(n+2) {
      margin-left: 5%; }
    .container .content .myentry:hover {
      -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); }
    .container .content .myentry:hover .info {
      top: 0; }
    @media screen and (max-width: 767px) {
      .container .content .myentry {
        width: auto;
        margin-top: 200px;
        overflow: visible; }
        .container .content .myentry .info {
          width: auto;
          position: unset;
          background-color: rgba(0, 0, 0, 0.9);
          margin-top: -400px; }
          .container .content .myentry .info .btn50 {
            padding: 0 10%; }
          .container .content .myentry .info #cancelentry {
            padding: 0;
            margin: 80px 0; }
          .container .content .myentry .info time {
            margin: 12px 0 0 8px;
            float: left; }
      .container .content .myentry:nth-child(n+2) {
        margin-left: 0px; } }
    .container .content form p {
      width: 42%;
      height: 50px;
      line-height: 50px;
      margin: 0 29%; }
    .container .content form p {
      margin-bottom: 30px;
      clear: both; }
    .container .content form label, .container .content form input, .container .content form strong {
      text-align: justify;
      height: 100%;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .container .content form span.note {
      font-size: 12px;
      color: #f06428;
      margin: -28px 90px;
      float: left; }
    .container .content form label {
      width: 90px;
      float: left; }
    .container .content form label.openpsw {
      float: unset;
      margin-right: 30px; }
    .container .content form input, .container .content form strong, .container .content form textarea {
      max-width: 320px;
      width: 100%;
      float: right; }
    .container .content form a.upload {
      float: right; }
    .container .content form input, .container .content form textarea {
      border-radius: 2px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #bbb; }
    .container .content form textarea {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      resize: none;
      height: 200px;
      border: 1px solid rgba(187, 187, 187, 0.3);
      border-bottom: 1px solid #bbb;
      margin-bottom: 30px; }
    .container .content form input[type="number"] {
      width: 30%;
      float: none;
      text-align: center; }
    .container .content form .userpic {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      background-color: #bbb;
      background-image: url(../img/member_pic/signin2.svg);
      margin: 0 auto;
      margin-bottom: -75px;
      margin-right: 520px;
      overflow: hidden; }
      .container .content form .userpic img {
        height: 100%;
        max-width: none;
        width: auto; }
    .container .content form input[type="file"] {
      position: absolute;
      top: 1px;
      left: 8px; }
    .container .content form .psw {
      display: none; }
    @media screen and (max-width: 767px) {
      .container .content form p {
        width: 100%;
        margin: 0px;
        padding: 0px;
        vertical-align: bottom; }
      .container .content form .userpic {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        margin: 0 auto 30px; }
      .container .content form input, .container .content form label.openpsw, .container .content form a.upload {
        margin-bottom: 30px; }
      .container .content form strong {
        margin-bottom: 45px; }
      .container .content form span.note {
        margin: -70px 0px; }
      .container .content form input[type="submit"], .container .content form .upload {
        margin-left: auto;
        margin-right: auto; }
      .container .content form label.openpsw {
        margin-right: unset; }
      .container .content form input[type="submit"] {
        margin-bottom: 0px; }
      .container .content form input[type="number"] {
        width: 18%; } }
    .container .content .memBeBoss {
      max-width: 1200px;
      width: 120%;
      margin: 0 auto 50px; }
      .container .content .memBeBoss .memfigure {
        width: 265px;
        float: left;
        padding: 0 15px;
        margin-bottom: 50px; }
        .container .content .memBeBoss .memfigure figure {
          width: 64%;
          padding: 0 18%; }
        .container .content .memBeBoss .memfigure h2 {
          color: #996633; }
    .container .content .memBeBoss1 .radio {
      width: 4%;
      margin: 0 5px;
      display: inline-block;
      float: none;
      vertical-align: top; }
    .container .content .memBeBoss1 .radio:last-child {
      margin-left: 20%; }
    .container .content .required {
      color: #f06428; }
    @media screen and (max-width: 767px) {
      .container .content .memBeBoss {
        text-align: left;
        max-width: 1000px;
        width: 83.3333%;
        margin: 0 8.33335% 50px; }
        .container .content .memBeBoss .memfigure {
          width: 100%;
          padding: 0 0; }
      .container .content .memBeBoss1 h1 {
        font-size: 22px; }
      .container .content .memBeBoss1 h1, .container .content .memBeBoss1 p {
        text-align: left; }
      .container .content .memBeBoss1 .radio {
        width: 8%;
        margin-left: 0%; }
      .container .content .memBeBoss1 .radio:last-child {
        margin-left: 3%; } }
    .container .content h1.find {
      margin-bottom: 30px; }
    .container .content .myfollow.find {
      width: 22%;
      margin-left: 25%; }
    .container .content .action {
      width: 30%;
      margin: 13% 10%;
      float: right; }
    @media screen and (max-width: 767px) {
      .container .content h1.find {
        font-size: 22px;
        text-align: left; }
      .container .content .myfollow.find, .container .content .action {
        width: 100%;
        margin: 0 auto; }
      .container .content .action {
        margin: 30px 0; }
      .container .content h1 {
        font-size: 22px; }
      .container .content h1, .container .content p {
        text-align: left; } }
