/*===========================================================*/
<<<<<<< HEAD
.button {
  text-align: center;
  background-color: transparent;
  border: 1px solid #9e693d;
  color: #9e693d;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  font-family: "Noto Sans CJK TC"; }
  .button:hover {
    background-color: #9e693d;
    color: #fbf8f1; }

.pointer {
  cursor: pointer; }

.clear {
  clear: both; }

.perspective {
  width: 200px;
  height: 50px;
  margin: auto;
  -webkit-perspective: 500px;
  perspective: 500px;
  margin-bottom: 50px; }

.overflow {
  overflow: hidden; }

=======
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
h3 {
  font-size: 24px; }

h2 {
  font-size: 28px; }

h1 {
  font-size: 36px; }

img {
  vertical-align: top; }

.globalHead {
  z-index: 10; }

<<<<<<< HEAD
.navigator {
  position: fixed;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 180px;
  text-align: center; }
  .navigator .item {
    position: relative;
    z-index: 0;
    padding-right: 50px; }
    .navigator .item .point {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background-color: #ccc; }
    .navigator .item .name {
      width: 100%;
      color: #fbf8f1;
      text-shadow: 0px 1px 1px black;
      overflow: hidden; }
      .navigator .item .name p {
        position: relative;
        padding: 5px;
        right: -250px;
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        -o-transition: transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s;
        background-color: rgba(230, 185, 142, 0.9); }
    .navigator .item:hover .name p {
      -webkit-transform: translateX(-250px);
      -ms-transform: translateX(-250px);
      transform: translateX(-250px); }
  .navigator .nav-selected:after {
    background-color: black; }

.screen {
  padding-top: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 50px; }

.screen-1 {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-top: 0; }
  .screen-1 .banners {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    background-image: url("../img/store/browse/screen1-bg.png");
    -webkit-animation: banners-slide 18s 2s infinite;
    animation: banners-slide 18s 2s infinite; }
@-webkit-keyframes banners-slide {
  0% {
    background-image: url("../img/store/browse/screen1-bg.png"); }
  33.33% {
    background-image: url("../img/store/browse/screen1-bg2.jpg"); }
  66.66% {
    background-image: url("../img/store/browse/screen1-bg3.png"); }
  100% {
    background-image: url("../img/store/browse/screen1-bg.png"); } }
@keyframes banners-slide {
  0% {
    background-image: url("../img/store/browse/screen1-bg.png"); }
  33.33% {
    background-image: url("../img/store/browse/screen1-bg2.jpg"); }
  66.66% {
    background-image: url("../img/store/browse/screen1-bg3.png"); }
  100% {
    background-image: url("../img/store/browse/screen1-bg.png"); } }
  .screen-1 .detail-box {
    position: absolute;
    top: 0;
    max-width: 400px;
    width: 30%;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: justify;
    margin-left: 50px;
    margin-top: 150px; }
    .screen-1 .detail-box .title .container {
      overflow: hidden; }
=======
.screen-1 {
  height: 100vh;
  background-image: url("../img/store/browse/screen1-bg.png");
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .screen-1 .detail-box {
    width: 200px;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: justify;
    margin-left: 50px;
    margin-top: 150px; }
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
    .screen-1 .detail-box .store-logo {
      margin: auto;
      width: 150px;
      margin-top: -50px; }
<<<<<<< HEAD
      .screen-1 .detail-box .store-logo img {
        width: 100%; }
    .screen-1 .detail-box .store-name {
      text-align: center;
      font-size: 36px;
      color: #996633; }
    .screen-1 .detail-box .detail {
      color: #663300;
      padding: 0px 20px; }
      .screen-1 .detail-box .detail .follow {
        margin: 10px 0px;
        float: left; }
        .screen-1 .detail-box .detail .follow .star {
          width: 30px;
          display: inline-block; }
          .screen-1 .detail-box .detail .follow .star img {
            width: 100%; }
      .screen-1 .detail-box .detail .trace {
        float: right; }
      .screen-1 .detail-box .detail .info-box {
        clear: both; }
        .screen-1 .detail-box .detail .info-box .title {
          padding: 0;
          font-weight: bold; }
        .screen-1 .detail-box .detail .info-box .content {
          padding: 0; }
    .screen-1 .detail-box .trace {
      font-size: 18px;
      padding-top: 10px;
      height: 52px; }
      .screen-1 .detail-box .trace img {
        width: 30px; }
  .screen-1 .right-describe {
    max-width: 600px;
    width: 50vw;
    line-height: 30px;
    position: absolute;
    right: 0;
    top: 200px;
    background-color: rgba(128, 89, 52, 0.7);
    color: #fbf8f1;
    padding: 30px;
    text-align: justify; }
    .screen-1 .right-describe p {
      text-indent: 2em;
      margin-bottom: 20px; }
  .screen-1 #bottom-city {
    max-width: 920px;
=======
    .screen-1 .detail-box .store-name {
      text-align: center;
      font-size: 28px;
      color: #996633; }
    .screen-1 .detail-box .detail {
      color: #663300; }
    .screen-1 .detail-box .follow, .screen-1 .detail-box .trace {
      width: 96px;
      height: 40px;
      background-color: red;
      display: inline-block;
      text-align: center; }
      .screen-1 .detail-box .follow img, .screen-1 .detail-box .trace img {
        width: 40px; }
  .screen-1 .right-describe {
    width: 600px;
    position: absolute;
    right: 0;
    top: 40vh;
    background-color: rgba(128, 89, 52, 0.5);
    color: #fbf8f1;
    padding: 10px;
    text-align: justify; }
  .screen-1 .bottom-city {
    width: 920px;
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
    bottom: -15px;
    margin: auto;
    left: 0;
    right: 0;
<<<<<<< HEAD
    position: absolute;
    -webkit-perspective: 500px;
    perspective: 500px; }
    .screen-1 #bottom-city img {
      width: 100%; }
    .screen-1 #bottom-city > * {
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-transform-origin: center bottom;
      -moz-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      -o-transform-origin: center bottom;
      transform-origin: center bottom;
      position: absolute;
      bottom: 0;
      -webkit-transform: rotateX(-89deg);
      -moz-transform: rotateX(-89deg);
      -ms-transform: rotateX(-89deg);
      -o-transform: rotateX(-89deg);
      transform: rotateX(-89deg);
      visibility: hidden;
      opacity: 0; }
    .screen-1 #bottom-city .cloud-1 {
      width: 44px;
      height: 42px;
      bottom: 50px;
      background-size: contain;
      left: 50px;
      background-image: url("../img/store/browse/cloud.png");
      background-repeat: no-repeat;
      -webkit-animation: cloud-move 10s linear alternate infinite;
      animation: cloud-move 10s linear alternate infinite; }
    .screen-1 #bottom-city .cloud-2 {
      width: 74px;
      height: 42px;
      bottom: 170px;
      left: 364px;
      background-image: url("../img/store/browse/cloud.png");
      background-repeat: no-repeat;
      -webkit-animation: cloud-move 15s linear alternate infinite;
      animation: cloud-move 15s linear alternate infinite; }
    .screen-1 #bottom-city .cloud-3 {
      width: 54px;
      height: 42px;
      bottom: 84px;
      right: 244px;
      background-image: url("../img/store/browse/cloud.png");
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-animation: cloud-move 12s linear alternate infinite;
      animation: cloud-move 12s linear alternate infinite; }
@-webkit-keyframes cloud-move {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
  100% {
    -webkit-transform: translateX(250px);
    transform: translateX(250px); } }
@keyframes cloud-move {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
  100% {
    -webkit-transform: translateX(250px);
    transform: translateX(250px); } }
    .screen-1 #bottom-city .city {
      width: 572px;
      margin: auto;
      height: 175px;
      bottom: 8px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      background-image: url(../img/store/browse/citys.png);
      background-repeat: no-repeat;
      left: 0;
      right: 0; }
    .screen-1 #bottom-city .marker {
      -webkit-animation: marker-move 0.5s linear alternate infinite;
      animation: marker-move 0.5s linear alternate infinite; }
@-webkit-keyframes marker-move {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }
@keyframes marker-move {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); } }
    .screen-1 #bottom-city .marker-1 {
      width: 70px;
      bottom: 20px;
      left: 170px; }
    .screen-1 #bottom-city .marker-2 {
      width: 54px;
      bottom: 55px;
      left: 272px;
      -webkit-animation: none;
      animation: none; }
    .screen-1 #bottom-city .marker-3 {
      width: 50px;
      bottom: 145px;
      left: 460px; }
    .screen-1 #bottom-city .marker-4 {
      width: 70px;
      bottom: 42px;
      right: 169px; }
  .screen-1 #screen1-trigger {
    position: absolute;
    bottom: 200px; }

.screen-bread-car-map {
  height: 100vh;
  background-color: #fbf8f1;
  position: relative; }
  .screen-bread-car-map #bread-car-trigger {
    position: absolute;
    top: -50px; }
  .screen-bread-car-map .title {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 28px;
    color: #9e693d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    position: relative; }
    .screen-bread-car-map .title .down {
      width: 100%;
      height: 100%;
      -webkit-transform: rotateX(270deg) translateZ(25px);
      transform: rotateX(270deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      color: #fbf8f1;
      background-color: #9e693d; }
    .screen-bread-car-map .title .front {
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(0deg) translateZ(25px);
      transform: rotate(0deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fbf8f1;
      color: #9e693d; }
  .screen-bread-car-map .tabs {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
    max-width: 80vw;
    margin: auto; }
    .screen-bread-car-map .tabs li {
      outline: none; }
    .screen-bread-car-map .tabs .slick-slide {
      background-color: transparent; }
    .screen-bread-car-map .tabs .item {
      font-size: 16px;
      display: inline-block;
      border: 1px solid #9e693d;
      border-radius: 50px;
      margin: 0px 10px;
      max-width: 80vw;
      padding: 6px;
      position: relative;
      text-align: center;
      color: #9e693d;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
      .screen-bread-car-map .tabs .item:hover {
        background-color: rgba(158, 105, 61, 0.8);
        color: #fbf8f1;
        border: 1px solid transparent; }
    .screen-bread-car-map .tabs .slick-current {
      background-color: rgba(158, 105, 61, 0.8);
      color: #fbf8f1;
      border: 1px solid transparent; }
  .screen-bread-car-map #bread-car {
    height: 80px;
    background-size: contain;
    background-image: url("../img/store/browse/bread_car_list.png");
    background-repeat: no-repeat;
    background-position: -700px bottom; }
  .screen-bread-car-map .maps .map {
=======
    position: absolute; }
    .screen-1 .bottom-city img {
      width: 100%; }

.screen-bread-car-map {
  height: 100vh;
  background-color: #9e693d; }
  .screen-bread-car-map .title {
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: #fbf8f1;
    font-size: 28px;
    color: #9e693d; }
  .screen-bread-car-map .tabs {
    margin-top: 30px;
    font-size: 0; }
    .screen-bread-car-map .tabs li {
      font-size: 16px;
      display: inline-block;
      text-decoration: none; }
      .screen-bread-car-map .tabs li a {
        display: block;
        width: 200px;
        position: relative;
        text-align: center; }
        .screen-bread-car-map .tabs li a .tab-img {
          width: 100%; }
        .screen-bread-car-map .tabs li a .content {
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 60px;
          color: rgba(244, 248, 241, 0.5); }
          .screen-bread-car-map .tabs li a .content .icon {
            width: 30px;
            margin: auto; }
            .screen-bread-car-map .tabs li a .content .icon img {
              width: 100%; }
    .screen-bread-car-map .tabs li.item-selected a .content {
      color: #663300;
      font-size: 17px; }
  .screen-bread-car-map #map-now {
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
    height: 70vh; }

.screen-product {
  height: 100vh;
<<<<<<< HEAD
  background-color: #9e693d;
  position: relative; }
  .screen-product #product-trigger {
    position: absolute;
    top: -50px; }
  .screen-product img {
    width: 100%; }
  .screen-product .title {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 28px;
    color: #fbf8f1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    position: relative; }
    .screen-product .title .down {
      width: 100%;
      height: 100%;
      -webkit-transform: rotateX(270deg) translateZ(25px);
      transform: rotateX(270deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      color: #9e693d;
      background-color: #fbf8f1; }
    .screen-product .title .front {
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(0deg) translateZ(25px);
      transform: rotate(0deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      background-color: #9e693d;
      color: #fbf8f1; }
  .screen-product .star-light {
    width: 650px;
    height: 650px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("../img/store/browse/star_light.png"); }
  .screen-product .product {
=======
  background-color: #fbf8f1;
  position: relative; }
  .screen-product img {
    width: 100%; }
  .screen-product .title {
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: #9e693d;
    font-size: 28px;
    color: #fbf8f1; }
  .screen-product .product {
    padding: 30px 0px;
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    height: 400px;
    margin: auto; }
    .screen-product .product .image {
<<<<<<< HEAD
      max-width: 250px;
      width: 100%;
      height: 280px;
      float: left;
      margin-right: 40px;
      position: relative; }
      .screen-product .product .image img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto; }
    .screen-product .product .describe {
      background-color: rgba(128, 89, 52, 0.7);
=======
      max-width: 360px;
      width: 100%;
      float: left;
      margin-right: 40px; }
    .screen-product .product .describe {
      background-color: rgba(128, 89, 52, 0.5);
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      float: left;
      margin-top: 100px;
      max-width: 380px;
      width: 100%;
      padding: 10px;
      color: #fbf8f1; }
      .screen-product .product .describe h3 {
        color: #663300; }
  .screen-product .product-list {
    max-width: 800px;
    width: 100%;
    margin: auto;
    font-size: 0px;
    position: relative;
    text-align: center; }
    .screen-product .product-list .item {
<<<<<<< HEAD
      outline: none;
      position: relative;
      height: 180px;
      -webkit-box-sizing: border-box;
=======
      width: 25%;
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      box-sizing: border-box;
      padding: 0px 40px;
      display: inline-block;
      text-align: center;
      font-size: 16px; }
<<<<<<< HEAD
      .screen-product .product-list .item img {
        opacity: 0.5;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        width: 30%;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .screen-product .product-list .item p {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100px;
        left: 0;
        right: 0;
        margin: auto;
        color: #fbf8f1; }
    .screen-product .product-list .slick-current img {
      opacity: 1;
      -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
      transform: scale(2.5); }
    .screen-product .product-list .slick-next:before {
      content: '';
      display: block;
=======
    .screen-product .product-list:before {
      content: '';
      display: block;
      position: absolute;
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      width: 50px;
      height: 100px;
      left: -50px;
      top: 20px;
<<<<<<< HEAD
      background-image: url("../img/store/browse/black_right.png");
      background-repeat: no-repeat;
      background-size: 100%; }
    .screen-product .product-list .slick-prev:before {
      content: '';
      display: block;
      width: 50px;
      height: 100px;
      left: -50px;
      top: 20px;
      background-image: url("../img/store/browse/black_left.png");
=======
      background-image: url("../img/store/browse/black_left.png");
      background-repeat: no-repeat;
      background-size: 100%; }
    .screen-product .product-list:after {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      height: 100px;
      right: -50px;
      top: 20px;
      background-image: url("../img/store/browse/black_right.png");
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      background-repeat: no-repeat;
      background-size: 100%; }
  .screen-product .switcher {
    width: 70px;
    margin: auto;
    left: 0;
    right: 0; }
    .screen-product .switcher .item {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #ada9a9;
      border-radius: 50%; }
    .screen-product .switcher .selected {
      background-color: #000; }

.screen-activity {
<<<<<<< HEAD
  background-color: #fbf8f1;
  overflow: hidden;
  position: relative; }
  .screen-activity img {
    width: 100%; }
  .screen-activity #activity-parallax {
    z-index: 1;
    position: absolute;
    width: 90%;
    height: 650px;
    padding-bottom: 250px;
    left: 0;
    right: 0;
    margin: auto; }
    .screen-activity #activity-parallax .layer {
      width: 100%;
      height: 100%;
      z-index: 1; }
    .screen-activity #activity-parallax .parallax-item {
      width: 200px;
      position: absolute;
      opacity: 0.8; }
      .screen-activity #activity-parallax .parallax-item img {
        width: 100%; }
    .screen-activity #activity-parallax .shadow {
      z-index: 0; }
    .screen-activity #activity-parallax .parallax-item:not(.shadow) {
      z-index: 1; }
    .screen-activity #activity-parallax .egg {
      width: 150px;
      left: 0px;
      top: -10vh; }
    .screen-activity #activity-parallax .egg-shadow {
      width: 150px;
      left: 0px;
      top: 15vh; }
    .screen-activity #activity-parallax .board {
      width: 130px;
      left: 15vw;
      top: 50vh;
      -webkit-transform: rotateZ(-70deg);
      -ms-transform: rotate(-70deg);
      transform: rotateZ(-70deg); }
    .screen-activity #activity-parallax .board-shadow {
      width: 130px;
      left: 15vw;
      top: 60vh;
      -webkit-transform: rotateZ(-70deg);
      -ms-transform: rotate(-70deg);
      transform: rotateZ(-70deg); }
    .screen-activity #activity-parallax .spoon {
      right: 5vw;
      top: -10vh; }
    .screen-activity #activity-parallax .spoon-shadow {
      right: 2vw;
      top: 15vh; }
    .screen-activity #activity-parallax .tool {
      left: 30vw;
      top: 50vh; }
    .screen-activity #activity-parallax .tool-shadow {
      left: 30vw;
      top: 53vh; }
@-webkit-keyframes tool-move {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(20vw);
    transform: translateX(20vw); } }
@keyframes tool-move {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(20vw);
    transform: translateX(20vw); } }
@-webkit-keyframes tool-move-long {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(30vw);
    transform: translateX(30vw); } }
@keyframes tool-move-long {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(30vw);
    transform: translateX(30vw); } }
  .screen-activity .title {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 28px;
    color: #9e693d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    position: relative; }
    .screen-activity .title .down {
      width: 100%;
      height: 100%;
      -webkit-transform: rotateX(270deg) translateZ(25px);
      transform: rotateX(270deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      color: #fbf8f1;
      background-color: #9e693d; }
    .screen-activity .title .front {
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(0deg) translateZ(25px);
      transform: rotate(0deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fbf8f1;
      color: #9e693d; }
  .screen-activity .banner-area {
    max-width: 1000px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
    position: relative;
    z-index: 0;
    overflow: hidden; }
    .screen-activity .banner-area h2 {
      color: #94664f; }
    .screen-activity .banner-area .item {
      overflow: hidden; }
    .screen-activity .banner-area .row {
      overflow: hidden;
      color: #d38754;
      margin-bottom: 10px; }
    .screen-activity .banner-area .detail {
      margin-top: 8vw;
      padding: 0;
      margin-bottom: 10px; }
      .screen-activity .banner-area .detail .activity-detail {
        width: 50%;
        margin: auto;
        padding: 5px; }
      .screen-activity .banner-area .detail div {
        padding-left: 0; }
      .screen-activity .banner-area .detail .content {
        color: #663300; }

.screen-other-store {
  padding-bottom: 50px;
  background-color: #9e693d; }
=======
  height: 100vh;
  background-color: #9e693d;
  overflow: hidden; }
  .screen-activity img {
    width: 100%; }
  .screen-activity .title {
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: #fbf8f1;
    font-size: 28px;
    color: #9e693d; }
  .screen-activity .banner-area {
    padding-top: 50px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    position: relative; }
    .screen-activity .banner-area:before {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      height: 100px;
      left: -100px;
      top: 40vh;
      background-image: url("../img/store/browse/black_left.png");
      background-repeat: no-repeat;
      background-size: 100%; }
    .screen-activity .banner-area:after {
      content: '';
      display: block;
      position: absolute;
      width: 50px;
      height: 100px;
      right: -100px;
      top: 40vh;
      background-image: url("../img/store/browse/black_right.png");
      background-repeat: no-repeat;
      background-size: 100%; }
    .screen-activity .banner-area .switcher {
      position: absolute;
      width: 70px;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 10px; }
      .screen-activity .banner-area .switcher .item {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: #ada9a9;
        border-radius: 50%; }
      .screen-activity .banner-area .switcher .selected {
        background-color: #000; }

.screen-other-store {
  height: 100vh;
  background-color: #fbf8f1; }
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
  .screen-other-store img {
    width: 100%;
    vertical-align: top; }
  .screen-other-store .store-list {
    font-size: 0; }
  .screen-other-store .title {
<<<<<<< HEAD
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 28px;
    color: #fbf8f1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    position: relative; }
    .screen-other-store .title .down {
      width: 100%;
      height: 100%;
      -webkit-transform: rotateX(270deg) translateZ(25px);
      transform: rotateX(270deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      color: #9e693d;
      background-color: #fbf8f1; }
    .screen-other-store .title .front {
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(0deg) translateZ(25px);
      transform: rotate(0deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      background-color: #9e693d;
      color: #fbf8f1; }
=======
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: #9e693d;
    font-size: 28px;
    color: #fbf8f1; }
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
  .screen-other-store .top-list, .screen-other-store .bottom-list {
    max-width: 1000px;
    margin: auto; }
    .screen-other-store .top-list .item, .screen-other-store .bottom-list .item {
<<<<<<< HEAD
      overflow: hidden;
      width: 33.333333%;
      display: inline-block;
      position: relative;
      padding: 0; }
      .screen-other-store .top-list .item img, .screen-other-store .bottom-list .item img {
        -webkit-transition: all 2s;
        -o-transition: all 2s;
        transition: all 2s;
        opacity: 0.5; }
      .screen-other-store .top-list .item:hover img, .screen-other-store .bottom-list .item:hover img {
        -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 1; }
      .screen-other-store .top-list .item .detail, .screen-other-store .bottom-list .item .detail {
        font-size: 16px;
        position: absolute;
        color: #996633;
        background-color: rgba(0, 0, 0, 0.3);
        bottom: 0;
        width: 100%;
        min-height: 50px;
        text-align: center;
        padding: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .screen-other-store .top-list .item .detail p, .screen-other-store .bottom-list .item .detail p {
          color: #ccc; }
        .screen-other-store .top-list .item .detail h3, .screen-other-store .bottom-list .item .detail h3 {
          margin-bottom: 10px;
          color: #fbf8f1; }

.screen-messages {
  position: relative;
  background-color: #E6B98F; }
  .screen-messages img {
    width: 100%; }
  .screen-messages .small-icon {
    width: 80px; }
  .screen-messages .normal-icon {
    width: 100px; }
  .screen-messages .title {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    font-size: 28px;
    color: #fbf8f1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    position: relative; }
    .screen-messages .title .down {
      width: 100%;
      height: 100%;
      -webkit-transform: rotateX(270deg) translateZ(25px);
      transform: rotateX(270deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      color: #E6B98F;
      background-color: #fbf8f1; }
    .screen-messages .title .front {
      width: 100%;
      height: 100%;
      -webkit-transform: rotate(0deg) translateZ(25px);
      transform: rotate(0deg) translateZ(25px);
      position: absolute;
      top: 0;
      left: 0;
      background-color: #E6B98F;
      color: #fbf8f1; }
  .screen-messages .message-icons {
    position: absolute;
    width: 100%;
    height: 100%; }
    .screen-messages .message-icons .icon {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      position: absolute;
      opacity: 0; }
    .screen-messages .message-icons .icon:nth-child(1) {
      -webkit-animation: dialog-bubble 7s 2s linear infinite;
      animation: dialog-bubble 7s 2s linear infinite; }
    .screen-messages .message-icons .icon:nth-child(2) {
      -webkit-animation: dialog-bubble 10s linear infinite;
      animation: dialog-bubble 10s linear infinite; }
    .screen-messages .message-icons .icon:nth-child(3) {
      -webkit-animation: dialog-bubble 15s linear infinite;
      animation: dialog-bubble 15s linear infinite; }
    .screen-messages .message-icons .icon:nth-child(4) {
      -webkit-animation: dialog-bubble 8s 5s linear infinite;
      animation: dialog-bubble 8s 5s linear infinite; }
    .screen-messages .message-icons .icon:nth-child(5) {
      -webkit-animation: dialog-bubble 9s 1s linear infinite;
      animation: dialog-bubble 9s 1s linear infinite; }
    .screen-messages .message-icons .icon:nth-child(6) {
      -webkit-animation: dialog-bubble 10s 4s linear infinite;
      animation: dialog-bubble 10s 4s linear infinite; }
    .screen-messages .message-icons .icon:first-child {
      left: 100px; }
    .screen-messages .message-icons .icon:nth-child(2) {
      right: 100px; }
    .screen-messages .message-icons .icon:nth-child(3) {
      left: 200px; }
    .screen-messages .message-icons .icon:nth-child(4) {
      right: 250px; }
    .screen-messages .message-icons .icon:nth-child(5) {
      left: 150px; }
    .screen-messages .message-icons .icon:nth-child(6) {
      right: 150px; }
@-webkit-keyframes dialog-bubble {
  0% {
    top: 100%;
    opacity: 1; }
  100% {
    top: -200px;
    opacity: 1; } }
@keyframes dialog-bubble {
  0% {
    top: 100%;
    opacity: 1; }
  100% {
    top: -200px;
    opacity: 1; } }
  .screen-messages .messages-area {
    margin: auto;
    max-width: 781px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative; }
    .screen-messages .messages-area .more-message {
      text-align: center;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 15vw;
      padding: 5px;
      margin: auto; }
  .screen-messages .messages-area .message-box, .screen-messages .send-message-area .message-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
=======
      width: 33.333333%;
      display: inline-block; }

.screen-messages {
  height: 100vh;
  background-color: #9e693d; }
  .screen-messages img {
    width: 100%; }
  .screen-messages .title {
    width: 200px;
    margin: auto;
    text-align: center;
    background-color: #fbf8f1;
    font-size: 28px;
    color: #9e693d; }
  .screen-messages .send-message-area {
    padding-top: 50px; }
  .screen-messages .messages-area {
    height: 70vh;
    margin: auto;
    max-width: 781px;
    width: 100%;
    box-sizing: border-box;
    overflow: overlay;
    padding-left: 10px; }
  .screen-messages .messages-area .mem-pic, .screen-messages .send-message-area .mem-pic {
    width: 50px;
    height: 50px; }
  .screen-messages .messages-area textarea, .screen-messages .send-message-area textarea {
    width: 100%;
    border: 0;
    background-color: #FBF8F1;
    resize: none; }
  .screen-messages .messages-area .message-box, .screen-messages .send-message-area .message-box {
    box-sizing: border-box;
    overflow: hidden;
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
    max-width: 770px;
    width: 100%;
    padding-right: 10px;
    margin: auto;
<<<<<<< HEAD
    padding-left: 10px;
    margin-bottom: 10px; }
    .screen-messages .messages-area .message-box #send-message-btn, .screen-messages .send-message-area .message-box #send-message-btn {
      width: 50px;
      height: 30px;
      float: right; }
    .screen-messages .messages-area .message-box .content, .screen-messages .send-message-area .message-box .content {
      background-color: #fbf8f1;
      position: relative;
      border-radius: 3px;
      -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      font-size: 15px;
      /* firefox 19+ */
      /* ie */
      padding: 10px; }
      .screen-messages .messages-area .message-box .content ::-webkit-input-placeholder, .screen-messages .send-message-area .message-box .content ::-webkit-input-placeholder {
        font-size: 16px; }
      .screen-messages .messages-area .message-box .content ::-moz-placeholder, .screen-messages .send-message-area .message-box .content ::-moz-placeholder {
        font-size: 16px; }
      .screen-messages .messages-area .message-box .content :-ms-input-placeholder, .screen-messages .send-message-area .message-box .content :-ms-input-placeholder {
        font-size: 16px; }
      .screen-messages .messages-area .message-box .content input:-moz-placeholder, .screen-messages .send-message-area .message-box .content input:-moz-placeholder {
        font-size: 16px; }
      .screen-messages .messages-area .message-box .content .datetime, .screen-messages .send-message-area .message-box .content .datetime {
        float: right;
        font-size: 12px;
        color: #b5b1b1; }
=======
    padding-left: 10px; }
    .screen-messages .messages-area .message-box img, .screen-messages .send-message-area .message-box img {
      float: left; }
    .screen-messages .messages-area .message-box .content, .screen-messages .send-message-area .message-box .content {
      background-color: #fbf8f1;
      margin: 0px 0px 10px 20px;
      padding: 10px;
      float: left;
      box-sizing: border-box;
      width: 80%;
      position: relative;
      border-radius: 3px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
      font-size: 15px; }
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      .screen-messages .messages-area .message-box .content p, .screen-messages .send-message-area .message-box .content p {
        max-width: 570px;
        width: 100%;
        float: left;
        color: #8E8E8E; }
      .screen-messages .messages-area .message-box .content:before, .screen-messages .send-message-area .message-box .content:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-right: 18px solid #fbf8f1;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        position: absolute;
        left: -18px;
        top: 18px; }
      .screen-messages .messages-area .message-box .content .name, .screen-messages .send-message-area .message-box .content .name {
        color: #603813;
<<<<<<< HEAD
        font-size: 16px;
        margin-bottom: 10px; }
=======
        font-size: 16px; }
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      .screen-messages .messages-area .message-box .content .setting-area, .screen-messages .send-message-area .message-box .content .setting-area {
        width: 100px;
        float: right;
        color: #bbbbbb;
        font-size: 12px; }
        .screen-messages .messages-area .message-box .content .setting-area img, .screen-messages .send-message-area .message-box .content .setting-area img {
          width: auto; }
        .screen-messages .messages-area .message-box .content .setting-area .reply, .screen-messages .messages-area .message-box .content .setting-area .report, .screen-messages .send-message-area .message-box .content .setting-area .reply, .screen-messages .send-message-area .message-box .content .setting-area .report {
          width: 30px;
          height: 30px;
          float: right; }
          .screen-messages .messages-area .message-box .content .setting-area .reply .img-icon, .screen-messages .messages-area .message-box .content .setting-area .report .img-icon, .screen-messages .send-message-area .message-box .content .setting-area .reply .img-icon, .screen-messages .send-message-area .message-box .content .setting-area .report .img-icon {
            width: 22px;
            height: 20px; }
<<<<<<< HEAD
  .screen-messages .send-message-area {
    position: relative; }
    .screen-messages .send-message-area .message-box .mem-pic {
      margin-bottom: 5px; }
    .screen-messages .send-message-area .message-box .content {
      background-color: rgba(0, 0, 0, 0.1); }
      .screen-messages .send-message-area .message-box .content textarea {
        outline: none;
        width: 100%;
        border: 0;
        resize: none;
        font-family: "Noto Sans CJK TC"; }
      .screen-messages .send-message-area .message-box .content:before {
        border-right: 18px solid rgba(0, 0, 0, 0.1); }
=======
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214

.only-pc {
  display: block; }

<<<<<<< HEAD
@media screen and (min-width: 768px) {
  .col-lg-1 {
    float: left;
    width: 8.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-2 {
    float: left;
    width: 16.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-3 {
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-4 {
    float: left;
    width: 33.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-5 {
    float: left;
    width: 41.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-6 {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-7 {
    float: left;
    width: 58.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-8 {
    float: left;
    width: 66.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-9 {
    float: left;
    width: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-10 {
    float: left;
    width: 83.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-11 {
    float: left;
    width: 91.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-12 {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-lg-offset-1 {
    margin-left: 8.333333%; }

  .col-lg-offset-2 {
    margin-left: 16.666666%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.333333%; }

  .col-lg-offset-5 {
    margin-left: 41.666666%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.333333%; }

  .col-lg-offset-8 {
    margin-left: 66.666666%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.333333%; }

  .col-lg-offset-11 {
    margin-left: 91.666666%; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .screen-product .product-list .item {
    width: 25%; }

  #bread-detail {
    display: none; }

  .screen-messages .send-message-area .message-box .mem-pic img, .screen-messages .messages-area .message-box .mem-pic img {
    width: 70px;
    height: 70px; } }
@media screen and (max-width: 767px) {
  .col-xs-1 {
    float: left;
    width: 8.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-2 {
    float: left;
    width: 16.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-3 {
    float: left;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-4 {
    float: left;
    width: 33.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-5 {
    float: left;
    width: 41.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-6 {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-7 {
    float: left;
    width: 58.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-8 {
    float: left;
    width: 66.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-9 {
    float: left;
    width: 75%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-10 {
    float: left;
    width: 83.333333%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-11 {
    float: left;
    width: 91.666666%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .col-xs-12 {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px; }

  .button {
    background-color: rgba(158, 105, 61, 0.7);
    border-color: transparent;
    color: #fbf8f1; }

  .perspective {
    margin-bottom: 20px; }

  .screen-1 {
    position: relative; }
    .screen-1 #bottom-city {
      display: none; }
    .screen-1 .detail-box {
      max-width: none;
      margin-left: 0px;
      position: absolute;
      bottom: 0;
      left: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      top: auto; }
=======
@media all and (max-width: 767px) {
  .screen-1, .screen-bread-car-map, .screen-product, .screen-activity
  , .screen-other-store, .screen-messages {
    height: auto; }

  .screen-1 {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat; }
    .screen-1 .detail-box {
      width: 100%;
      margin-left: 0px;
      position: relative;
      top: 0;
      left: 0;
      box-sizing: border-box;
      margin-top: 250px;
      background-color: #FBF8F1;
      height: 114px; }
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      .screen-1 .detail-box .store-logo {
        margin: 10px;
        width: 100px;
        margin-top: -50px;
        height: 100px;
        float: left; }
<<<<<<< HEAD
      .screen-1 .detail-box .detail {
        padding: 0; }
        .screen-1 .detail-box .detail .trace {
          padding-left: 0;
          padding-right: 0; }
    .screen-1 .right-describe {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      background-color: rgba(128, 89, 52, 0.7);
=======
        .screen-1 .detail-box .store-logo img {
          width: 100%; }
      .screen-1 .detail-box .store-name {
        float: left; }
      .screen-1 .detail-box .follow {
        clear: both;
        float: right; }
      .screen-1 .detail-box .trace {
        float: right; }
      .screen-1 .detail-box .detail {
        display: none; }
    .screen-1 .right-describe {
      box-sizing: border-box;
      width: 100%;
      background-color: rgba(128, 89, 52, 0.5);
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
      color: #fbf8f1;
      padding: 10px;
      text-align: justify;
      position: relative;
      top: 0;
      padding-bottom: 55px; }

<<<<<<< HEAD
  .screen:not(:first-of-type) {
    padding-top: 50px; }

  .screen-bread-car-map #bread-car {
    height: 40px; }

=======
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
  .screen-product .product-list .only-pc {
    display: none; }
  .screen-product .product-list:before, .screen-product .product-list:after {
    display: none; }
  .screen-product .product-list .item {
<<<<<<< HEAD
    height: 126px; }
  .screen-product .product-list .slick-prev:before, .screen-product .product-list .slick-prev:after {
    display: none; }
  .screen-product .product {
    height: auto;
    padding-bottom: 0; }
    .screen-product .product #bread-detail {
      display: inline-block;
      color: #fbf8f1;
      border: 1px solid #fbf8f1;
      border-radius: 5px;
      background-color: transparent;
      padding: 0px 3px;
      vertical-align: middle;
      margin-left: 5px; }
    .screen-product .product .image {
      max-width: 250px;
      width: 50%;
      float: none;
      margin: auto;
      height: auto; }
      .screen-product .product .image img {
        position: relative; }
    .screen-product .product .describe {
      background-color: transparent;
      max-width: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 0px;
      color: #8E8E8E;
      text-align: center; }
    .screen-product .product p {
      display: none; }

  .screen-other-store .top-list .item, .screen-other-store .bottom-list .item {
    width: 50%; }
    .screen-other-store .top-list .item .detail p, .screen-other-store .bottom-list .item .detail p {
      display: none; }
  .screen-other-store .top-list .only-pc, .screen-other-store .bottom-list .only-pc {
    display: none; }

  .screen-activity .banner-area {
    padding-left: 10px;
    padding-right: 10px; }
    .screen-activity .banner-area h2 {
      text-align: center; }
    .screen-activity .banner-area .detail {
      margin-top: 0; }
    .screen-activity .banner-area .banner {
      padding: 0; }
  .screen-activity #activity-parallax {
    display: none; }
    .screen-activity #activity-parallax .egg {
      width: 100px;
      left: -5vw;
      top: 0px; }
    .screen-activity #activity-parallax .egg-shadow {
      width: 100px;
      left: -5vw;
      top: 50px; }
    .screen-activity #activity-parallax .board {
      width: 80px;
      left: -15vw;
      top: 50vh;
      -webkit-transform: rotateZ(-70deg);
      -ms-transform: rotate(-70deg);
      transform: rotateZ(-70deg); }
    .screen-activity #activity-parallax .board-shadow {
      width: 80px;
      left: -15vw;
      top: 52vh;
      -webkit-transform: rotateZ(-70deg);
      -ms-transform: rotate(-70deg);
      transform: rotateZ(-70deg); }
    .screen-activity #activity-parallax .spoon {
      width: 100px;
      right: -15vw;
      top: 0px; }
    .screen-activity #activity-parallax .spoon-shadow {
      width: 100px;
      right: -15vw;
      top: 30px; }
    .screen-activity #activity-parallax .tool {
      width: 130px;
      right: -20vw;
      top: 50vh; }
    .screen-activity #activity-parallax .tool-shadow {
      width: 130px;
      right: -20vw;
      top: 52vh; }

  .screen-messages .message-icons .small-icon {
    display: none; }
  .screen-messages .send-message-area, .screen-messages .messages-area {
    padding: 10px; }
    .screen-messages .send-message-area .message-box, .screen-messages .messages-area .message-box {
      background-color: rgba(255, 255, 255, 0.5);
      position: relative;
      border-radius: 3px;
      font-size: 15px;
      padding: 10px;
      width: auto; }
      .screen-messages .send-message-area .message-box .mem-pic, .screen-messages .messages-area .message-box .mem-pic {
        float: left;
        margin-right: 5px; }
        .screen-messages .send-message-area .message-box .mem-pic img, .screen-messages .messages-area .message-box .mem-pic img {
          width: 50px;
          height: 50px; }
      .screen-messages .send-message-area .message-box .content, .screen-messages .messages-area .message-box .content {
        overflow: hidden; }
        .screen-messages .send-message-area .message-box .content:before, .screen-messages .messages-area .message-box .content:before {
          display: none; }
    .screen-messages .send-message-area .more-message, .screen-messages .messages-area .more-message {
      width: 100%; } }


=======
    width: 40%;
    box-sizing: border-box; }
  .screen-product .product {
    height: auto; }
    .screen-product .product .image {
      max-width: 360px;
      width: 50%;
      float: none;
      margin: auto; }
    .screen-product .product .describe {
      background-color: transparent;
      max-width: none;
      box-sizing: border-box;
      margin-top: 0px;
      color: #8E8E8E; }

  .screen-other-store .top-list .item, .screen-other-store .bottom-list .item {
    width: 50%; }
  .screen-other-store .top-list .only-pc, .screen-other-store .bottom-list .only-pc {
    display: none; }

  .screen-activity .banner-area:before, .screen-activity .banner-area:after {
    display: none; } }
>>>>>>> 5ec0b36758622029d82282567f2f86e2b7d06214
