@-webkit-keyframes letterDraw {
  to {
    stroke-dashoffset: 0; } }

@keyframes letterDraw {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes letterleaf {
  to {
    fill: #4b7cbf; } }

@keyframes letterleaf {
  to {
    fill: #4b7cbf; } }

.subtitle {
  height: 100px;
  text-align: center;
  padding-top: 20px; }
  .subtitle svg .line {
    fill: none;
    stroke-width: 1;
    stroke: #4b7cbf;
    -webkit-animation: letterleaf 1s ease forwards;
    animation: letterleaf 1s ease forwards; }
    .subtitle svg .line .line-g {
      opacity: 1;
      stroke-dasharray: 340;
      stroke-dashoffset: 340;
      -webkit-animation: letterDraw 3s ease forwards;
      animation: letterDraw 3s ease forwards; }
