
@import 'basic/setting';

* {
	padding: 0;
	margin: 0;
	// box-sizing:border-box;
}

body {
	background-color: $globalBgColor;
	font-family:$globalFont;
}

input {
	font-family: $globalFont;
}
a {
	text-decoration:none;
	color:$globalLinkColor;
}

.container-template { //暫時設定，切版時可以註解掉
	width: 100%;
	height: 1000px;

}







// --------------------------表單樣式--------------------------



.globalForm {
	width: 50%;
	background-color: $globalBgColor;
	border:1px solid #ccc;
	margin: auto;

.globalFormHeader {
	width: 100%;
	padding: 5% 5%;
	position: relative;
	box-sizing:border-box;
	@include leftRightGradient($globalHdColor01,$globalHdColor02);
	h1 {
		font-size:$globalh3Size;
		color:$globalBgColor;

	}
	p {
		font-size:$globalContentSize;
		color:$globalBgColor;	
		font-weight: 300;
		margin-top: 10px;
	}
	.st0{
	fill:$globalBgColor;
	}
	.svg {
	width: 50px;
	height: 50px;
	position:absolute;
	right: 10px;
	top: 10px;
	}
}
.globalFormContent {
	width: 100%;
	padding-top:10px;
	.globalFormInput {
		width: 80%;
		height: 50px;
		margin: 0px auto;
		input {
		display: block;
		float: right;
		width: 65%;
		height: 100%;
		padding-left: 10px;	
		margin: auto;
		background-color: transparent;
		border:none;
		border-bottom: 1px solid $globalUnclickColor;
			&::-webkit-input-placeholder{
			color: $globalUnclickColor;
			font-weight: 300;
			}
		}

		label {
		display: block;
		width: (35% -10)+px ;
		float: left;
		height: 100%;
		line-height: 50px;
		color:$globalFontColor;
		font-weight: 300;
			span {
				color:$globalBtnColor;
			}
		}
		textarea {
		display: block;
		float: right;
		width: 65%;
		padding-left: 10px;	
		padding-top: 10px;
		height: 100%;	
		margin-top: 10px;
		background-color: transparent;
		border:none;
		border-bottom: 1px solid $globalUnclickColor;
		}
	}
	.globalFormBtns{
		width: 80%;
		margin: 30px auto;
		text-align: center;
		.globalOkBtn,.globalCancelBtn {
		display: inline-block;
		margin:0px 5px;
		text-decoration:none;
		cursor: pointer;
		}
	}
}

}








//--------------------------header樣式-------------------------

header.globalHead {
	width: 100%;
	height: 100px;
	@include leftRightGradient($globalHdColor01,$globalHdColor02);
	position:fixed;



	//會員登入燈箱
	.headLoginBox {
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: rgba(50,50,50,.5);
			display: none;
			.globalForm {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width:600px;
				height: 80vh;
				border:none;
				border-radius: 5px;
				box-shadow:0px 0px 20px 0px rgba(50,50,50,.5);
				.globalFormHeader {
					text-align: center;
				img {
					width: 160px;	
				}
			}
			.globalFormContent {

				.globalFormInput{
					input {
						&::-webkit-input-placeholder {
							font-size: $globalContentSize;
						}
					}
				}


				.forgetPsw {
					width: 100%;
					text-align: center;
					padding: 20px 0px;
					a:hover {
						border-bottom:1px solid $globalLinkColor;
					}
				}
				.facebookLogin {
					width: 100%;
					text-align: center;
					padding: 10px 0px;
					a {
						display: inline-block;
						width: 50%;
						height: 50px;
						@include topBottomGradient(#3B5998,#283D69);
						border-radius: 5px;
						text-align: center;
						color:$globalBgColor;
						line-height: 50px;
						font-weight: 300;
						
						// span {
						// 	display:inline-block;
						// 	width: 32px;
						// 	height: 32px;
						// 	line-height: 50px;
						// 	vertical-align: middle;
						// 	path {
						// 		fill:$globalBgColor;
						// 	}

						}
					}

				.registerLink {
					width: 100%;
					padding: 10px 0px;
					text-align: center;
					a {
						text-align: center;
						color:$globalFontColor;
						&:hover {
							border-bottom:1px solid $globalFontColor;
						}
					}

				}//registerLink

				}//globalFormContent

			}//globalForm
			
		}//headLoginBox





	//頁首logo區塊
	.headLogo {
		width: 10%;
		height: 80px;
		padding: 10px;
		display: inline-block;
		img {
			display: block;
			width: 160px;
			height: 80px;
		}
	}
	
	
	.headerRight {
		width: 50%;
		height: 80px;
		padding: 10px 0px;
		position: absolute;
		top: 0;
		right: 0;


		//頁首搜尋區塊
		.headSearch {
			position:absolute;
			top: 0;
			left: 0;
			width: 70%;
			height: 80px;
			border:1px solid #ccc;
		}
		//頁首會員區塊
		.headAccount {
			position: absolute;
			top: 0;
			right: 0;
			width: 30%;
			height: 80px;
			border:1px solid #ccc;
			#headMemStatus {
				display:none;
				#headMemPic {
				display: inline-block;
				width: 50px;
				height: 50px;
				padding: 10px 0px;
				}
			}
			
			#headMemLogin {
				display:inline-block;
				width: 100px;
				height: 80px;
				padding: 10px 0px;
				span {
					display:inline-block;
					width: 40px;
					height: 40px;
					padding: 0px 5%;
					fill:$globalBgColor;	
				}
			}
		}
	}




}
	//RWD漢堡選單樣式
	#menu {
		display: none;
	}





//--------------------------footer樣式-------------------------

footer {
	width: 100%;
	height: 200px;
	background-color: $globalFtColor;
	text-align: center;
	
	.globalFtBtn {
	display: inline-block;
	margin:15px;

		.svg {
			width: 50px;
			height: 50px;
			margin: 10px auto;
			path,polygon {
				fill:$globalUnclickColor;
			}
			 
		}
		a {
			color:$globalUnclickColor;
			text-decoration: none;
		}

		&:hover path {
			fill:$globalBtnColor;
		}
		&:hover polygon {
			fill:$globalBtnColor;
		}
		&:hover a {
			color:$globalBtnColor;
		}

	}
	
	p {
		color:$globalFontColor;
		margin-top: 10px;
	}

}


//-------------------------- clear清除浮動--------------------------

.clearfix {
	clear:both;
}


//-------------------------- "確認"按鈕樣式--------------------------

.globalOkBtn { 
	width: 150px;
	height: 45px;
	border-radius:22.5px;
	text-align: center;
	line-height: 45px;
	font-size: $globalBtnSize;
	border: 1px solid $globalBtnColor;
	color:$globalBtnColor;
	background-color: $globalBgColor;
	transition: .3s ease;
	&:hover {
	background-color: $globalBtnColor;
	color:$globalBgColor;
	transition: .3s ease;
	cursor: pointer;
	}	
}


//--------------------------"取消"按鈕樣式--------------------------

.globalCancelBtn {
	width: 150px;
	height: 45px;
	border-radius:22.5px;
	text-align: center;
	line-height: 45px;
	font-size: $globalBtnSize;
	border: 1px solid $globalLinkColor;
	color:$globalLinkColor;
	transition: .3s ease;
	&:hover {
	background-color: $globalLinkColor;
	color:$globalBgColor;
	transition: .3s ease;
	text-decoration:none;
	cursor: pointer;
	}	
}











// --------------------------RWD斷點--------------------------


@include rwd(mobile){
	
	header.globalHead{
		.headLogo {
			img {
				width: 30vw;
			}
		}
	}


	.globalForm {
		width: 80%;
		margin: auto;
		.globalOkBtn,.globalCancelBtn {
		width: 40%;
		}
<<<<<<< HEAD

=======
>>>>>>> BD102_G2/homepage
		.burgerMenu {
			display: inline-block;
			width: 20%;
			height: 40px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			span {
				display: block;
				width: 30px;
				height: 4px;
				left: 15px;
				background-color: $globalBgColor;
				border-radius: 4px;
				position: absolute;
				margin: auto;
				transition: .3s ease;
				&:nth-of-type(1){
					top: 5px;
				}
				&:nth-of-type(2){
					top: 16px;
				}
				&:nth-of-type(3){
					top: 27px;
				}
			}
			&.active {
				// transform: rotate(360deg);
				transition: .3s ease;
				span {
					&:nth-of-type(1){
						transform: rotate(-45deg);
						transition: .3s ease;
						top: 20px;
					}
					&:nth-of-type(2){
						display: none;
					}
					&:nth-of-type(3){
						transform: rotate(45deg);
						top: 20px;
						transition: .3s ease;
					}
				}
			}
		}
		#menu {
			display: block;
			position: fixed;
			top: 80px;
			
			
			background-color: rgba(0,0,0,0.5);
			&.hideMenu {
				left: -375px;
				transition: all 0.3s ease;
			}
			&.show {
				left: 0;
				transition: all 0.3s ease;
			}
			ul {
				display: block;
				width: 375px;
				min-width: 320px;
				@include leftRightGradient(rgba(128, 89, 52, 0.9),rgba(158, 105, 61, 0.9));

				

				li {
					display:block;
					padding: 10px;
					color:$globalBgColor;
					
					&.closeMenu {	
							span {
								width: 30px;
								display: block;
								float: right;
								fill:$globalBgColor;
							}
					}
					&.memPart {
						height: 60px;
						.memPic {
							width: 30%;
							height: 100%;
							float: left;
							img {
								width: 50px;
								height: 50px;
								border-radius: 50%;
							}
						}
						span {
							width: 70%;
							height: 100%;
							display: block;
							float: left;
							margin: auto;
							line-height: 50px;
							text-align: center;
						}
						
					}
					&.listTitle {
						font-size: 1.2em;	
					}

					a {
						color:$globalBgColor;
						font-weight: 400;
			
					}
				}
			}
		}
<<<<<<< HEAD

=======
>>>>>>> BD102_G2/homepage
	}
}
