
@import 'basic/setting';

* {
	padding: 0;
	margin: 0;
	// box-sizing:border-box;
}

body {
	background-color: $globalBgColor;
	font-family:$globalFont;
}

input {
	font-family: $globalFont;
}
a {
	text-decoration:none;
	color:$globalLinkColor;
}

.container-template { //暫時設定，切版時可以註解掉
	width: 100%;
	height: 1000px;

}
li {
	list-style: none;
}






// --------------------------表單樣式--------------------------



.globalForm {
	width: 50%;
	background-color: $globalBgColor;
	border:1px solid #ccc;
	margin: auto;

.globalFormHeader {
	width: 100%;
	padding: 5% 5%;
	position: relative;
	box-sizing:border-box;
	@include leftRightGradient($globalHdColor01,$globalHdColor02);
	h1 {
		font-size:$globalh3Size;
		color:$globalBgColor;

	}
	p {
		font-size:$globalContentSize;
		color:$globalBgColor;	
		font-weight: 300;
		margin-top: 10px;
	}
	.st0{
	fill:$globalBgColor;
	}
	.svg {
	width: 50px;
	height: 50px;
	position:absolute;
	right: 10px;
	top: 10px;
	}
}
.globalFormContent {
	width: 100%;
	padding-top:10px;
	.globalFormInput {
		width: 80%;
		height: 50px;
		margin: 0px auto;
		input {
		display: block;
		float: right;
		width: 65%;
		height: 100%;
		padding-left: 10px;	
		margin: auto;
		background-color: transparent;
		border:none;
		outline: none;
		border-bottom: 1px solid $globalUnclickColor;
			&::-webkit-input-placeholder{
			color: $globalUnclickColor;
			font-weight: 300;
			}
		}

		label {
		display: block;
		width: (35% -10)+px ;
		float: left;
		height: 100%;
		line-height: 50px;
		color:$globalFontColor;
		font-weight: 300;
			span {
				color:$globalBtnColor;
			}
		}
		textarea {
		display: block;
		float: right;
		width: 65%;
		padding-left: 10px;	
		padding-top: 10px;
		height: 100%;	
		margin-top: 10px;
		background-color: transparent;
		border:none;
		border-bottom: 1px solid $globalUnclickColor;
		}
	}
	.globalFormBtns{
		width: 80%;
		margin: 30px auto;
		text-align: center;
		.globalOkBtn,.globalCancelBtn {
		display: inline-block;
		margin:0px 5px;
		text-decoration:none;
		cursor: pointer;
		}
	}
}

}








//--------------------------header樣式-------------------------

header.globalHead {
	width: 100%;
	height: 80px;
	@include leftRightGradient(rgba(128, 89, 52, 0.9),rgba(158, 105, 61, 0.9));
	z-index: 9999;
	position:fixed;



	//會員登入燈箱
	.headLoginBox {
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: rgba(50,50,50,.5);
			display: none;
			.globalForm {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width:600px;
				height: 80vh;
				border:none;
				border-radius: 5px;
				box-shadow:0px 0px 20px 0px rgba(50,50,50,.5);
				.globalFormHeader {
					text-align: center;
				img {
					width: 160px;	
				}
			}
			.globalFormContent {

				.globalFormInput{
					input {
						&::-webkit-input-placeholder {
							font-size: $globalContentSize;
						}
					}
				}


				.forgetPsw {
					width: 100%;
					text-align: center;
					padding: 20px 0px;
					a:hover {
						border-bottom:1px solid $globalLinkColor;
					}
				}
				.facebookLogin {
					width: 100%;
					text-align: center;
					padding: 10px 0px;
					a {
						display: inline-block;
						width: 50%;
						height: 50px;
						@include topBottomGradient(#3B5998,#283D69);
						border-radius: 5px;
						text-align: center;
						color:$globalBgColor;
						line-height: 50px;
						font-weight: 300;
						
						// span {
						// 	display:inline-block;
						// 	width: 32px;
						// 	height: 32px;
						// 	line-height: 50px;
						// 	vertical-align: middle;
						// 	path {
						// 		fill:$globalBgColor;
						// 	}

						}
					}

				.registerLink {
					width: 100%;
					padding: 10px 0px;
					text-align: center;
					a {
						text-align: center;
						color:$globalFontColor;
						&:hover {
							border-bottom:1px solid $globalFontColor;
						}
					}

				}//registerLink

				}//globalFormContent

			}//globalForm
			
		}//headLoginBox





	//頁首logo區塊
	.headLogo {
		width: 10vw;
		padding: 10px 20px;
		display: inline-block;
		img {

			display: inline-block;
			height: 65px;
		}
	}
	
	
	.headerRight {
		height: 50%;
		padding: 5px 0px;
		position: absolute;
		// box-sizing:border-box;
		top: 0;
		right: 0;


		//頁首搜尋區塊
		.headSearch {
			width: 70vw;
			// height: 70px;
			float: left;
			padding: 20px 10px;
			// border:1px solid #ccc;
			box-sizing:border-box;
			text-align: right;
			span {
				margin-right: 10px;
				color:$globalBgColor;
				font-weight: 300;
			}
			#headSearch {
				width: 20%;
				height: 30px;
				display: inline-block;
				margin: 0px 5px;
				border:1px solid #fff;
				padding-left: 10px;
				outline: none;
				box-sizing:border-box;
				vertical-align: top;
			}
			select {
				display: inline-block;
				width: 80px;
				height: 30px;
				color:$globalBgColor;
				background-color:transparent;
				border:1px solid $globalBgColor;
				margin: 0px 5px;
				font-size: $globalContentSize;
				outline: none;
				border-radius:2px;
				box-sizing:border-box;
				}
			button {
				width: 80px;
				display: inline-block;
				height: 30px;
				color:$globalBgColor;
				background-color:transparent;
				border:1px solid $globalBgColor;
				margin: 0px 5px;
				font-size: $globalContentSize;
				border-radius:2px;
				&:focus {
				background-color: $globalBgColor;
				color:$globalHdColor01;
				outline: none;
				box-sizing:border-box;
				}
			}	
			#headSearchSubmit {
				display: inline-block;
				width: 50px;
				height: 30px;
				color:$globalFontColor;
				background-color:$globalFtColor;
				// border:1px solid $globalBgColor;
				border:none;
				margin-left: 5px;
				font-size: $globalContentSize;
				border-radius:2px;
				outline: none;
				box-sizing:border-box;
				&:active {
					background-color:$globalFontColor ;
					color:$globalBgColor;
				}

			}
		}
		



		//頁首會員區塊
		.headAccount {

			width: 10vw;
			height: 80px;
			float: left;
			// border:1px solid #ccc;
			box-sizing:border-box;

			#headMemStatus {
				display:none;

				#headMemPic {
				width: 100%;
				height: 80px;
				}
			}

			#headMemLogin {
				width: 100%;
				height: 80px;

				.loginGrp {
				width: 50%;
				margin: auto;
				height: 80px;
				}

				#loginBtn {
					width: 32px;
					height: 32px;
					display: block;
					margin: auto;
					fill:$globalBgColor;
					margin-top: 12px;
				}
				#loginTxt {
					text-align: center;
					color:$globalBgColor;
					display: block;
					margin: auto;
					margin-bottom: 12px;
					font-weight: 300;
				}
			}
		}
	}
	
	//RWD區塊樣式
	.rwd_headerSearch {
		display:none;
	}
	.burgerMenu {
		display: none;
	}


}


//--------------------------footer樣式-------------------------

footer {
	width: 100%;
	height: 200px;
	background-color: $globalFtColor;
	text-align: center;
	
	.globalFtBtn {
	display: inline-block;
	margin:15px;
	cursor: pointer;

		.svg {
			width: 50px;
			height: 50px;
			margin: 10px auto;
			path,polygon {
				fill:$globalUnclickColor;
			}
			 
		}
		a {
			color:$globalUnclickColor;
			text-decoration: none;
		}

		&:hover path {
			fill:$globalBtnColor;
		}
		&:hover polygon {
			fill:$globalBtnColor;
		}
		&:hover a {
			color:$globalBtnColor;
		}

	}
	
	p {
		color:$globalFontColor;
		margin-top: 10px;
	}

}


//-------------------------- clear清除浮動--------------------------

.clearfix {
	clear:both;
}


//-------------------------- "確認"按鈕樣式--------------------------

.globalOkBtn { 
	width: 150px;
	height: 45px;
	border-radius:22.5px;
	text-align: center;
	line-height: 45px;
	font-size: $globalBtnSize;
	border: 1px solid $globalBtnColor;
	color:$globalBtnColor;
	background-color: $globalBgColor;
	transition: .3s ease;
	&:hover {
	background-color: $globalBtnColor;
	color:$globalBgColor;
	transition: .3s ease;
	cursor: pointer;
	}	
}


//--------------------------"取消"按鈕樣式--------------------------

.globalCancelBtn {
	width: 150px;
	height: 45px;
	border-radius:22.5px;
	text-align: center;
	line-height: 45px;
	font-size: $globalBtnSize;
	border: 1px solid $globalLinkColor;
	color:$globalLinkColor;
	transition: .3s ease;
	&:hover {
	background-color: $globalLinkColor;
	color:$globalBgColor;
	transition: .3s ease;
	text-decoration:none;
	cursor: pointer;
	}	
}











// --------------------------RWD斷點--------------------------


@include rwd(mobile){
	




	// --------------------------頁首RWD樣式--------------------------
	header.globalHead{
		text-align: center;
		.headLogo {
			width: 30vw;
			margin: auto;
			display: inline-block;
			text-align: center;
			img {
				width: 100%;
			}
		}
		.headerRight {
			display: none;
		}
		.rwd_headerSearch {
			display:inline-block;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0px;
			right: 20px;
			bottom: 0;
			margin: auto;
				
			.searchIcon {
				width: 20vw;
				height: 40px;
				fill:$globalBgColor;

			}

		}
		.burgerMenu {
			display: inline-block;
			width: 20vw;
			height: 40px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 20px;
			margin: auto;
		}

	}





	// --------------------------表單RWD樣式--------------------------
	.globalForm {
		width: 80%;
		margin: auto;
		.globalOkBtn,.globalCancelBtn {
		width: 40%;
		}
	}
}
