
@import 'basic/setting';

* {
	padding: 0;
	margin: 0;
	// box-sizing:border-box;
}

body {
	background-color: $globalBgColor;
	font-family:$globalFont;
	// overflow-x:hidden;
}

input {
	font-family: $globalFont;
}
a {
	text-decoration:none;
	color:$globalLinkColor;
}



li {
	list-style: none;
}






// --------------------------表單樣式--------------------------



.globalForm {
	width: 50%;
	background-color: $globalBgColor;
	border:1px solid #ccc;
	margin: auto;

.globalFormHeader {
	width: 100%;
	padding: 5% 5%;
	position: relative;
	box-sizing:border-box;
	@include leftRightGradient($globalHdColor01,$globalHdColor02);
	h1 {
		font-size:$globalh3Size;
		color:$globalBgColor;

	}
	p {
		font-size:$globalContentSize;
		color:$globalBgColor;	
		font-weight: 300;
		margin-top: 10px;
	}
	.st0{
	fill:$globalBgColor;
	}
	.svg {
	width: 50px;
	height: 50px;
	position:absolute;
	right: 10px;
	top: 10px;
	cursor:pointer;
	transition: .3s ease-in;
		&:hover {
			transform: rotate(180deg);
			transition: .3s ease-in;
		}
	}
}
.globalFormContent {
	width: 100%;
	padding-top:10px;
	.globalFormInput {
		width: 80%;
		height: 50px;
		margin: 0px auto;
		input {
		display: block;
		float: right;
		width: 65%;
		height: 100%;
		padding-left: 10px;	
		margin: auto;
		background-color: transparent;
		border:none;
		outline: none;
		border-bottom: 1px solid $globalUnclickColor;
			&::-webkit-input-placeholder{
			color: $globalUnclickColor;
			font-weight: 300;
			}
		}

		label {
		display: block;
		width: (35% -10)+px ;
		float: left;
		height: 100%;
		line-height: 50px;
		color:$globalFontColor;
		font-weight: 300;
			span {
				color:$globalBtnColor;
			}
		}
		textarea {
		display: block;
		float: right;
		width: 65%;
		padding-left: 10px;	
		padding-top: 10px;
		height: 100%;	
		margin-top: 10px;
		background-color: transparent;
		border:none;
		border-bottom: 1px solid $globalUnclickColor;
		}
	}
	.globalFormBtns{
		width: 80%;
		margin: 30px auto;
		text-align: center;
		.globalOkBtn,.globalCancelBtn {
		display: inline-block;
		margin:0px 5px;
		text-decoration:none;
		cursor: pointer;
		}
	}
}

}








//--------------------------header樣式-------------------------
.hideUp header.globalHead {
		top: -80px;
	}

.hideUp_sub{
	top: 0px  !important;
	transition: 0.3s ease-in-out !important; 
}

.hideUp_sub_burger{
	top: 44px  !important;
	// transition: 0.3s ease-in-out !important; 

}

.globalHead {
	width: 100%;
	height: 80px;
	@include leftRightGradient(rgba(128, 89, 52, 0.9),rgba(158, 105, 61, 0.9));
	z-index: 100;
	position:fixed;
	top: 0;
	box-shadow:0px 0px 15px 0px #382715;
	box-sizing:border-box;
	transition: top .3s ease-in-out;
	
	
	//-----------------會員登入燈箱----------------------
	.headLoginBox {
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color: rgba(50,50,50,.5);
			display: none;
			z-index: 999;
			.globalForm {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width:600px;
				height: 80vh;
				border:none;
				border-radius: 5px;
				box-shadow:0px 0px 20px 0px rgba(50,50,50,.5);
				.globalFormHeader {
					text-align: center;
				img {
					width: 160px;	
				}
			}
			.globalFormContent {

				.globalFormInput{
					input {
						&::-webkit-input-placeholder {
							font-size: $globalContentSize;
						}
						&:focus{
							border-bottom:1px solid $globalBtnColor;
							transition:.3s ease-in;
						}
					}
				}


				.forgetPsw {
					width: 100%;
					text-align: center;
					padding: 10px 0px;
					a:hover {
						border-bottom:1px solid $globalLinkColor;
					}
				}
				.facebookLogin {
					width: 100%;
					text-align: center;
					padding: 10px 0px;
					a {
						display: inline-block;
						width: 50%;
						height: 50px;
						@include topBottomGradient(#3B5998,#283D69);
						border-radius: 5px;
						text-align: center;
						color:$globalBgColor;
						line-height: 50px;
						font-weight: 300;
						
						// span {
						// 	display:inline-block;
						// 	width: 32px;
						// 	height: 32px;
						// 	line-height: 50px;
						// 	vertical-align: middle;
						// 	path {
						// 		fill:$globalBgColor;
						// 	}

						}
					}

				.registerLink {
					width: 100%;
					padding: 10px 0px;
					text-align: center;
					span {
						text-align: center;
						color:$globalFontColor;
						cursor: pointer;
						&:hover {
							border-bottom:1px solid $globalFontColor;
						}
					}

				}//registerLink

				}//globalFormContent

			}//globalForm
			
		}//headLoginBox
	
	//------------註冊會員燈箱--------------
		.headRegisterBox {
			position: fixed;
			width: 100%;
			height: 100vh;
			background-color: rgba(50,50,50,.5);
			display: none;
			z-index: 999;
			.globalForm {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width:600px;
				height: 80vh;
				border:none;
				border-radius: 5px;
				box-shadow:0px 0px 20px 0px rgba(50,50,50,.5);
				.globalFormHeader {
					text-align: center;
				img {
					width: 160px;	
				}
			}
			.globalFormContent {

				.globalFormInput{
					input {
						&::-webkit-input-placeholder {
							font-size: $globalContentSize;
						}
						&:focus{
							border-bottom:1px solid $globalBtnColor;
							transition:.3s ease-in;
						}

					}
					&.enterID {
						position: relative;
						span {
							display: block;
							position: absolute;
							right: 10px;
							top: 20px;
							color:$globalBtnColor;
							font-size: 12px;
							&.success {
								color:green;
							}
							&.error {
								color:red;
							}
						}
					}
					&.enterPsw {
						position: relative;
						span {
							display: block;
							position: absolute;
							right: 20px;
							top: 10px;
							i.fa {
								color:#666;
							}
						}
					}
					
				}
				
				
				.facebookRegister {
					width: 100%;
					text-align: center;
					padding: 10px 0px;
					a {
						display: inline-block;
						width: 50%;
						height: 50px;
						@include topBottomGradient(#3B5998,#283D69);
						border-radius: 5px;
						text-align: center;
						color:$globalBgColor;
						line-height: 50px;
						font-weight: 300;
						
						// span {
						// 	display:inline-block;
						// 	width: 32px;
						// 	height: 32px;
						// 	line-height: 50px;
						// 	vertical-align: middle;
						// 	path {
						// 		fill:$globalBgColor;
						// 	}

						}
					}

				.loginLink {
					width: 100%;
					padding: 10px 0px;
					text-align: center;
					span {
						text-align: center;
						color:$globalFontColor;
						cursor: pointer;
						&:hover {
							border-bottom:1px solid $globalFontColor;
						}
					}

				}//loginLink

				}//globalFormContent

			}//globalForm
		}
	





	//-----------------頁首logo區塊-------------------
	.headLogo {
		height: 100%;
		margin-left: 20px;
		float: left;
		a {
			display: block;
			width: 100%;
			height: 80px;
			padding:10px 0px;
			img {
			display: inline-block;
			height: 60px;
			}
		}
		
	}
	
	
	.headerRight {
		padding: 5px 0px;
		float: right;
		box-sizing:border-box;
		


//------------------頁首搜尋區塊-----------------------

		.headSearch {
			// width: 90%;
			// height: 70px;
			float: left;
			padding: 20px 10px;
			// border:1px solid #ccc;
			box-sizing:border-box;
			text-align: right;
			font-size: 0;
			span {
				margin-right: 10px;
				color:$globalTitleColor;
				font-weight: 300;
			}
			#headSearch {
				width: 20%;
				height: 30px;
				display: inline-block;
				margin: 0px 5px;
				border:1px solid #fff;
				padding-left: 10px;
				outline: none;
				box-sizing:border-box;
				vertical-align: top;
			}
			select {
				display: inline-block;
				width: 80px;
				height: 30px;
				color:$globalTitleColor;
				background-color:$globalBgColor;
				border:1px solid $globalBgColor;
				margin: 0px 5px;
				font-size: $globalContentSize;
				outline: none;
				border-radius:2px;
				box-sizing:border-box;
				vertical-align: top;
				}
			label {
				width: 80px;
				display: inline-block;
				height: 30px;
				color:$globalTitleColor;
				background-color:$globalBgColor;
				margin: 0px 5px;
				font-size: $globalContentSize;
				border-radius:2px;
				vertical-align: top;
				outline: none;
				text-align: center;
				box-sizing:border-box;
				cursor:pointer;
				box-shadow:-1px 1px 0px 1px #713f2a;
				transition: .3s;
			}
			input[name=filter] {
				display: none;
				&:checked+label {
					background-color: #5d2812;
					color:$globalBgColor;
					outline: none;
					box-sizing:border-box;
					box-shadow:none;
					transition: .3s;
					// animation: checked .5s ease infinite alternate;
				}
			}	
			#headSearchSubmit {
				display: inline-block;
				width: 50px;
				height: 30px;
				color:$globalFontColor;
				background-color:$globalFtColor;
				// border:1px solid $globalBgColor;
				border:none;
				margin-left: 5px;
				font-size: $globalContentSize;
				border-radius:2px;
				outline: none;
				box-sizing:border-box;
				vertical-align: top;
				transition: .3s;
				&:active {
					background-color:$globalFontColor ;
					color:$globalBgColor;
				}
				&.keyIn{
					background-color: $globalBtnColor;
					color:$globalBgColor;
					transition: .3s;
				}

			}
		}
		

@keyframes shake {
	0%{transform:scale(1,1);}
	100%{transform:scale(1.2,1.2);}
}

@keyframes shake1 {
	0%{transform:translate(15px,0px);}
	100%{transform:translate(-15px,0px);}
}
// @keyframes checked {
// 	0%{ transform:translate(0px,1px); }
// 	100%{ transform:translate(0px,0px); }
// }
.shake {
	animation:shake1 .2s linear 3 alternate;
}
.activeStatus {
	display: block;
}
//-------------------頁首會員區塊--------------------

		.headAccount {

			// width: 20%;
			width: 150px;
			// height: 80px;
			float: left;

			// border:1px solid #ccc;
			

			#headMemStatus {
				display:none;
				width: 100%;
				height: 70px;
				padding: 5px;
				box-sizing:border-box;

				div {
					width: 110px;
					margin: 10px auto;
					a {
						display: block;
						width: 40px;
						height: 40px;
						margin: auto;
						float: left;
						border:none;
						img {
							display: block;
							width: 100%;
							height: 100%;
							border-radius: 50%;
							object-fit: cover;
							&#addShop1 {
								transition: .3s;
								&:hover {
									animation: shake .3s ease infinite alternate;
									transition: .3s;
							}
							}
						}
						&:first-child {
							margin-right: 10px;
						}
						&#headMemPic {
							position: relative;
							&:after {
								content:'';
								display: block;
								width: 0;
								height: 0;
								border-top:4px solid #fff;
								border-left:4px solid transparent;
								border-right:4px solid transparent;
								position: absolute;
								right: -10px;
								bottom: 0;
							}
						}
					}
				}
				

			}
			.memStatusBar {
				position: relative;
				bottom: 15px;
				right: 70px;
				width: 180px;
				padding: 10px;
				display: none;
				ul {
					width: 150px;
					margin: auto;
					background-color: $globalFtColor;
					border-radius: 5px;
					&:before {
							content:'';
							display: block;
							width: 0;
							height: 0;
							border-bottom:10px solid $globalFtColor;
							border-left:10px solid transparent;
							border-right:10px solid transparent;
							position: absolute;
							top: 2px;
							right:29px;
					}
					li {
						color:$globalFontColor;
						width: 100%;
						text-align: center;
						&:first-child {
							a {
							padding: 10px 0px;
							font-weight: 600;
							}
						}
						a {
							display: block;
							width: 100%;
							padding: 5px 0px;
							text-align: center;
							font-weight: 500;
							color:$globalFontColor;
							transition:.3s;
							&.memLink {
								&:hover {
								background-color:$globalHdColor01;
								color:$globalBgColor;
								transition:.3s; 
							}
							}
						}
					}
				}

			}

			#headMemLogin {
				width: 100%;
				height: 70px;
				cursor:pointer;
				display: block;
				
				.loginGrp {
				width: 50%;
				margin: auto;
				height: 70px;
				position: relative;
				}
				.loginBtn {
					padding:7px 0px;
				}
				#loginIcon {
					width: 32px;
					height: 32px;
					display: block;
					margin: auto;
					fill:$globalBgColor;
					// margin-top: 12px;
				}
				#loginTxt {
					text-align: center;
					color:$globalBgColor;
					display: block;
					margin: auto;
					// margin-bottom: 12px;
					font-weight: 300;
				}
				&:hover {
					background-color: $globalTitleColor;
					transition:.3s;	
					#loginIcon{
						animation:shake .5s ease infinite alternate;
						transition:.3s;
						}
				}
			}
		}
	}
	
	//RWD區塊樣式
	.rwd_headerSearch {
		display:none;
	}
	.burgerMenu {
		display: none;
	}
	.rwdSearchBar {
		display: none;
	}


}
	//RWD漢堡選單樣式
	#menu {
		display: none;
	}
	




    
//--------------------------footer樣式-------------------------

footer {
	width: 100%;
	height: 200px;
	background-color: $globalFtColor;
	text-align: center;
	
	.globalFtBtn {
	display: inline-block;
	margin:15px;
	cursor: pointer;

		.svg {
			width: 50px;
			height: 50px;
			margin: 10px auto;
			path,polygon {
				fill:$globalUnclickColor;
			}
			 
		}
		a {
			color:$globalUnclickColor;
			text-decoration: none;
		}

		&:hover path {
			fill:$globalBtnColor;
		}
		&:hover polygon {
			fill:$globalBtnColor;
		}
		&:hover a {
			color:$globalBtnColor;
		}

	}
	
	p {
		color:$globalFontColor;
		margin-top: 10px;
	}

}
@media screen and (max-width:400px){
	footer {
		.globalFtBtn {
			.svg {
				width: 30px;
				height: 30px;
			}
			a {
				font-size: 14px;
			}
		}
	}
}


//-------------------------- clear清除浮動--------------------------

.clearfix {
	clear:both;
}


//-------------------------- "確認"按鈕樣式--------------------------

.globalOkBtn { 
	display: block;
	width: 150px;
	height: 45px;
	border-radius:22.5px;
	text-align: center;
	line-height: 45px;
	font-size: $globalBtnSize;
	border: 1px solid $globalBtnColor;
	color:$globalBtnColor;
	background-color: $globalBgColor;
	transition: .3s ease;
	outline:none;
	&:hover {
	background-color: $globalBtnColor;
	color:$globalBgColor;
	transition: .3s ease;
	cursor: pointer;
	}	
}


//--------------------------"取消"按鈕樣式--------------------------

.globalCancelBtn {
	display: block;
	width: 150px;
	height: 45px;
	border-radius:22.5px;
	text-align: center;
	line-height: 45px;
	font-size: $globalBtnSize;
	border: 1px solid $globalLinkColor;
	color:$globalLinkColor;
	background-color: $globalBgColor;
	transition: .3s ease;
	&:hover {
	background-color: $globalLinkColor;
	color:$globalBgColor;
	transition: .3s ease;
	text-decoration:none;
	cursor: pointer;
	}	
}


//--------------------------(桌機)格線系統--------------------------

		.col-sm-1 {padding:0 10px; float: left; width:8.3333%; }  /*12欄*/
		.col-sm-2 {padding:0 10px; float: left; width:16.6666% ;} /*6欄*/
		.col-sm-3 {padding:0 10px; float: left; width: 25%;} /*4欄*/
		.col-sm-4 {padding:0 10px; float: left; width: 33.3333%;} /*3欄*/
		.col-sm-5 {padding:0 10px; float: left; width: 41.6666%;}
		.col-sm-6 {padding:0 10px; float: left; width: 50%;} /*2欄*/
		.col-sm-7 {padding:0 10px; float: left; width: 58.3333%;}
		.col-sm-8 {padding:0 10px; float: left; width: 66.6666%;}
		.col-sm-9 {padding:0 10px; float: left; width: 75%;}
		.col-sm-10 {padding:0 10px; float: left; width: 83.3333%;}
		.col-sm-11 {padding:0 10px; float: left; width: 91.6666%;}
		.col-sm-12 {padding:0 10px; float: left; width: 100%;} /*1欄*/



// --------------------------RWD斷點--------------------------


@include rwd(mobile){
	


	// --------------------------（手機）格線系統-------------------------
	
		
		.col-xs-1 {padding:0 10px; float: left; width:8.3333%; }  /*12欄*/
		.col-xs-2 {padding:0 10px; float: left; width:16.6666% ;} /*6欄*/
		.col-xs-3 {padding:0 10px; float: left; width: 25%;} /*4欄*/
		.col-xs-4 {padding:0 10px; float: left; width: 33.3333%;} /*3欄*/
		.col-xs-5 {padding:0 10px; float: left; width: 41.6666%;}
		.col-xs-6 {padding:0 10px; float: left; width: 50%;} /*2欄*/
		.col-xs-7 {padding:0 10px; float: left; width: 58.3333%;}
		.col-xs-8 {padding:0 10px; float: left; width: 66.6666%;}
		.col-xs-9 {padding:0 10px; float: left; width: 75%;}
		.col-xs-10 {padding:0 10px; float: left; width: 83.3333%;}
		.col-xs-11 {padding:0 10px; float: left; width: 91.6666%;}
		.col-xs-12 {padding:0 10px; float: left; width: 100%;} /*1欄*/




	// --------------------------表單RWD樣式--------------------------
	.globalForm {
		width: 80%;
		margin: auto;
		.globalOkBtn,.globalCancelBtn {
		width: 40%;
		}
	}
}


@media screen and (max-width:980px){

	// --------------------------頁首RWD樣式--------------------------
	.globalHead{
		text-align: center;
		.headLogo {
			min-width: 150px;
			width: 20vw;
			margin: auto;
			display: inline-block;
			text-align: center;
			float: none;
			img {
				width: 100%;
			}
		}
		.headerRight {
			display: none;
		}
		.rwd_headerSearch {
			display:inline-block;
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 20px;
			bottom: 0;
			margin: auto;
				
			.searchIcon {
				width: 20vw;
				height: 40px;
				fill:$globalBgColor;

			}

		}
		.burgerMenu {
			display: inline-block;
			width: 20%;
			height: 40px;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 20px;
			margin: auto;
			img {
				width: 40px;
				height: 40px;
				display: block;
				margin: auto;
				fill:$globalBgColor;
				border-radius: 50%;
				object-fit: cover;
			}
			&.active {
				transition: .3s ease;
			}
		}
		#headMemStatus{
			display: none;
		}
		ul#storeMenu {
			display: none;
		}
		#menu {
			display: block;
			position: fixed;
			top: 80px;
			height: 100vh;
			width: 100%;
			
			background-color: rgba(0,0,0,0.5);
			&.hideMenu {
				right: -120%;
				transition: all 0.3s ease;
			}
			&.show {
				right: 0;
				transition: all 0.3s ease;
			}
			ul {
				display: block;
				width: 100%;
				@include leftRightGradient(rgba(128, 89, 52, 0.9),rgba(158, 105, 61, 0.9));
				&#memLoggedin {
					display: block;
					li.beBoss {
						#bossMenu {
							display: none;
						}
					}
				}
				li {
					color:$globalBgColor;
					
					&.closeMenu {	
							span {
								width: 30px;
								display: block;
								float: right;
								fill:$globalBgColor;
							}
					}
					&.memPart {
						padding-bottom: 10px;
						position: relative;
						&:after {
							content:'';
							display: block;
							width: 50%;
							height: 1px;
							background-color: rgba(251, 248, 241, 0.5);
							position: absolute;
							bottom: 0;
							left: 25%;
		
						}

						.memPic {
							width: 100%;
							height: 100%;
							img {
								width: 50px;
								height: 50px;
								border-radius: 50%;
								object-fit: cover;
							}
						}
						span {
							width: 100%;
							height: 100%;
							display: block;
							text-align: center;
						}
						
					}

					a {
						display: block;
						width: 100%;
						padding: 10px;
						color:$globalBgColor;
						font-weight: 400;
						transition: .3s;
						&:focus {
							background-color: rgba(158, 105, 61, .5);
							transition: .3s;
						}
					}
					#rwdBossRole {
						display: block;
						width: 100%;
						padding: 10px;
						color:$globalBgColor;
						font-weight: 400;
						transition: .3s;
						&:focus {
							background-color: rgba(158, 105, 61, .5);
							transition: .3s;
						}
					}
					ul#bossMenu {
						li {
							ul#storeMenu {
								li {
									a.bossMenu {
										background-color: rgba(35, 22, 11, 0.22);
									}
								}
							}
							ul#carMenu {
								li {
									a.bossMenu {
										background-color: rgba(35, 22, 11, 0.22);
									}
								}
							}
						}
					}
					&.myActivity {
						position: relative;
						&:after {
								content:'';
								display: block;
								width: 50%;
								height: 1px;
								background-color: rgba(251, 248, 241, 0.5);
								position: absolute;
								bottom: 0;
								left: 25%;
		
							}
					}
					&.needLogIn {
						height: 80vh;
						a {
							width: 50%;
							margin: auto;
							padding: 0;
							background-color: $globalBtnColor;
						}
					}	
				}
			}
		}
		.rwdSearchBar {
			@include leftRightGradient(rgba(128, 89, 52, 0.9),rgba(158, 105, 61, 0.9));
			width: 100%;
			position: fixed;
			top: 80px;
			left: -100%;
			height: 100vh;
			transition: .3s;
			display: block;
			.rwdsearchItem {
				width: 90%;
				height: 70%;
				margin: 10px auto;
				span {
					display: block;
					width: 70%;
					color:$globalBgColor;
					padding: 5px;
					margin: 10px auto;
					font-size: 20px;
					background-color: #663300;
					border-radius: 5px;
				}
				label.rwdfilter {
					display: inline-block;
					margin: 0px 5px;
					margin-bottom: 5px;
					padding: 10px;
					color:$globalBgColor;
					border:1px solid $globalBgColor;
					outline: none;
					border-radius:5px;
					cursor: pointer;
				}
				input[type=radio] {
						display: none;
						&:checked+label.rwdfilter {
						background-color: $globalBgColor;
						color:$globalTitleColor;
						box-shadow:none;
						transition: .3s;
						}
				}	
				.searchArea {
					width: 100%;
					margin: auto;
					
				}
			}
			#rwdHeadSearch {
				width: 90%;
				margin: auto;
				height: 40px;
				outline: none;
				border:none;
				padding-left: 10px;
			
			}
			&.activeSearch {
				top: 80px;
				left: 0;
				transition: .3s;
			}
			#rwdSubmit{
				display: block;
				width: 50%;
				height: 40px;
				background-color: $globalFtColor;
				margin:10px auto;
				color:$globalFontColor;
				border:none;
				border-radius:5px;
				font-size: 16px;
				cursor:pointer;

			}

		}
	}


}
	// --------------------------登入與註冊會員燈箱-手機版--------------------------
@media screen and (max-width:400px){
	.globalHead {
		.headLoginBox{
			position: absolute;
			.globalForm {
				width: 100%;
				margin-top: 80px;
				height: 90%;
				.globalFormHeader {
					img {
						width: 120px;	
					}
				}
				.globalFormContent {
					.globalFormInput {
						input {
							font-size: 16px;

						}
					}
					.forgetPsw {
						padding: 10px auto;
					}
					.globalFormBtns{
						margin: 10px auto;
					}
					.facebookLogin {
						a {
							width: 60%;
						}
					}

				}
			}
		}
		

		.headRegisterBox {

			.globalForm {
				width: 100%;
				margin-top: 80px;
				height: 90vh;
				.globalFormHeader {
					img {
						width: 120px;	
					}
				}
				.globalFormContent {
					.globalFormInput{
						width: 90%;
						input {
							font-size: 16px;

						}

					}
					.globalFormBtns{
						margin: 10px auto;
					}
				}
			}

		}
	}
}




	// --------------------------新增店家燈箱--------------------------

#addShopBox {
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	display: none;
	.globalForm {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width:600px;
				height: 75%;
				border:none;
				border-radius: 5px;
				box-shadow:0px 0px 20px 0px rgba(50,50,50,.5);
		.chooseType {
			input {
				width: 20px;
				height: 100%;
			}
			.chooseBtn {
				float: right;
				margin: 0px 10px;
			}
		}
		#showAddShopForm{
			display: none;
		}
		#visitorForm {
			display: block;
			position: relative;
			padding-top: 50%;
			a {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.selectTime {
			display: block;
		    float: right;
		    width: 65%;
		    height: 100%;
		    padding-left: 10px;
		    margin: auto;
		    background-color: transparent;
			span {
				display: inline-block;
				float: left;
				line-height: 50px;
				color:$globalFontColor;
			}
			select {
				width: 30%;
				height: 30px;
				float: left;
				display: inline-block;
				margin: 10px;

			}
		}
	}
}
@media screen and (max-width:400px){
	#addShopBox {
		.globalForm {
			.globalFormHeader{
				padding: 2%;
				.svg {
					width: 30px;
				}
				p {
					font-size: 13px;
				}
			}
			.globalFormInput {
					width: 90%;
					height: 30px;
					label {
						line-height: 30px;
						font-size: 13px;
					}
					.chooseBtn {
						margin: 0px 5px;
					}
					.selectTime {
						padding-left: 0;
					}
					select {
						width: 37%;
						line-height: 30px;
						margin: 0;
					}
					span {
						line-height: 30px;
						font-size: 12px;
					}
				} 
		}
	}


}

	// --------------------------客服中心燈箱--------------------------

#serviceCenter {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: rgba(50,50,50,.5);
	display: none;
	.globalForm {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-width:600px;
				height: 75%;
				border:none;
				border-radius: 5px;
				box-shadow:0px 0px 20px 0px rgba(50,50,50,.5);
	}
}