@import "backstage/authority/_BStgBasicVar.scss";
@import "backstage/authority/_BStgBasicMixin.scss";


body{
	background-color: #e6e0d9;
}

header{
	z-index: 1;
}



.coverHeader{

	width:100vw;
	height: $header-height;
	overflow: hidden;
	// float: left;
	position: relative;
	z-index: 1;

}



.headerCenter{
	// float: left;
	position: absolute;
	// top: 0;
	// bottom: 0;
 	top:30%; 
 	left:50%;
 	color:#fff;
}





.navition{
// padding-top: $header-height;
background-color: #ddcdb5;
width: $navition-width;
float: left;
height: 100vh;
position: fixed;
	z-index: -1;
	ul{
		&:first-child{
			border-top: 1px solid #aaaaaa;
		}
		&:last-child{
			border-bottom: 1px solid #aaaaaa;
		}
		li{
			width:$navition-width;
			height:$navition-li-height;
			background-color: $navition-li-bgColor;
			border: 1px solid #aaaaaa;
			box-sizing: border-box;
			color:#ffffff;
			line-height: $navition-li-height;
			padding-left: 20px;
			font-size:$navition-li-fontSize;
			@include navition-hover();
		}
	}
}


.coverNavition{
	width:$navition-width;
	height: 100vh;
	overflow: hidden;
	float: left;
	position: relative;
	z-index: -1;

}






.tableArea{
	float: left;
	// padding-top: $header-height;
	padding-left: $navition-width;
	width: $tableContent-width;
	height: 100vh;
	position: relative;
}


.tableHeader{
	width: $tableContent-width;
	padding-top: 20px;
	margin-right: 0;
	margin-left: 0;
	margin: auto;
	position: fixed;
	tr{

		td{
			color:$tableContent-word-color;
			// background-color: #ffffff;
			width: 50px;
			&:nth-child(1){
				width: $table-col1;
			}
			&:nth-child(2){
				width: $table-col2;
			}
			&:nth-child(3){
				width: $table-col3;
			}
			&:nth-child(4){
				width: $table-col4;
			}
			&:nth-child(5){
				width: $table-col5;
			}

		}
	}

}


.tableContent{
	width: $tableContent-width;
	padding-top: 50px;
	margin-right: 0;
	margin-left: 0;
	margin: auto;
	tr{

		td{
			color:$tableContent-word-color;
			background-color: #ffffff;
			width: 50px;
			&:nth-child(1){
				width: $table-col1;
			}
			&:nth-child(2){
				width: $table-col2;
			}
			&:nth-child(3){
				width: $table-col3;
			}
			&:nth-child(4){
				width: $table-col4;
			}
			&:nth-child(5){
				width: $table-col5;
			}

		}
	}

}



footer{
	width: 900px;
	height: 100px;
	position: fixed;
	bottom: 0;
	left:$navition-width;
}

