@import "backstage/member/businessMember/_BStgBusinessVar.scss";
@import "backstage/member/businessMember/_BStgBusinessMixin.scss";
@import "basic/_var.scss";


input{
	outline: none;
	cursor:pointer;
}


header{
	z-index: 1;
}


// .container{
// 	box-sizing: border-box;
// 	position: relative;
// 	left:0;
// 	z-index: -6;
	
// }






.tableArea{
	// float: left;
	// padding-top: $header-height;
	// padding-left: $navition-width;
	// width: $tableContent-width;
	height: 100vh;
	position: relative;
	margin: auto;
	// z-index: -1;
	left:0;
}


.search{
		width: $tableContent-width;
		
		margin: auto;
		position: fixed;
		z-index: 3;
		left: 0;
		right: 0;
		text-align: center;
		margin-top: 20px;
		input{
			width: 600px;
			height: 40px;
			border-radius: 15px;
			border:none;
			background-color: #b5b5b5;
			opacity:0.35;
		}
	}



.tableHeaderCover{
	width: 100%;
	height: 78px;
	position: relative;
	background-color: #e6e0d9;

	.tableHeader{
		width: $tableContent-width;
		// padding-top: 20px;
		
		margin: auto;
		position: fixed;
		left: 0;
		right: 0;
		// margin-bottom: 10px;
		overflow: hidden;
		border-spacing: 0px;
		tr{
			border-bottom:4px solid #d1c2b5 ;
			border-collapse: collapse;
			td{
				color:$tableContent-word-color;
				background-color: #e6e0d9;
				height: 50px;
				text-align: center;
				border-bottom:4px solid #d1c2b5 ;
				border-collapse: collapse;
				padding-top: 70px;

				&:nth-child(1){
					width: $table-col1;
				}
				&:nth-child(2){
					width: $table-col2;
				}
				&:nth-child(3){
					width: $table-col3;
				}
				&:nth-child(4){
					width: $table-col4;
				}
				&:nth-child(5){
					width: $table-col5;
				}
				&:nth-child(6){
					width: $table-col6;
				}
				&:nth-child(7){
					width: $table-col7;
				}
				&:nth-child(8){
					width: $table-col8;
				}
				&:nth-child(9){
					width: $table-col9;
				}

			}
		}

	}
}




.tableContent{
	width: $tableContent-width;
	// padding-top: 70px;
	margin-right: 0;
	margin-left: 0;
	margin: auto;
	margin-bottom: 160px;
	padding-top: 50px;
	tr{

		background-color: #fff;
		&:hover{
		background-color:#e1ccb0;
		}
	
		td{
			color:$tableContent-word-color;
			// background-color: #ffffff;
			height: 50px;
			text-align: center;
			// &:hover{
			// background-color: #e1ccb0;
			// }
			
			&:nth-child(1){
				width: $table-col1;
			}
			&:nth-child(2){
				width: $table-col2;
			}
			&:nth-child(3){
				width: $table-col3;
			}
			&:nth-child(4){
				width: $table-col4;
			}
			&:nth-child(5){
				width: $table-col5;	
			}
			&:nth-child(6){
					width: $table-col6;
			}
			&:nth-child(7){
					width: $table-col7;
					text-align: center;
					input{
					width: 80px;
					height: 40px;
					color:#ffffff;
					background-color:#565894;
					border-radius: 10px;
					box-shadow:0 0 0;
					border: none;
				}
			}
			&:nth-child(8){
					width: $table-col8;
			}
			&:nth-child(9){
					width: $table-col9;
					text-align: center;
					input{
					width: 80px;
					height: 40px;
					color:#ffffff;
					background-color:#af6363;
					border-radius: 10px;
					box-shadow:0 0 0;
					border: none;
				}
			}

		}
	}

}



footer{
	// width: 900px;
	height: 150px;
	position: fixed;
	bottom: 0;
	left:0;
	background-color: #c5beb7;
	margin: auto;
	.square{
		width:$navition-width;
		height: 100%;
		float: left;
	}	


	section{
		
		.square_2{

			margin-top: 20px;

			span{
				input{
					width: 120px;
					height: 40px;
					color:#ffffff;
					background-color:#7e4a1d;
					border-radius: 10px;
					box-shadow:0 0 0;
					margin-top: 5px;
					border: none;
					@include button-hover();
				}
			}

			label{
			display: block;
			margin: 5px;

				span{
					display: inline-block;
					width: 100px;
					height: 30px;
					background-color: #ffffff;
					color:$tableContent-word-color;
					border-radius: 10px;
					margin-right: 10px;
					// float: left;
					font-size: 16px;
					// line-height: 28px;
					
				}
				input{
					display: inline-block;
					border-radius: 10px;
					height: 30px;
					width: 300px;
					margin: 0;
        			padding: 0;
        			border: none;

				}


			}
		}
	
	}
}

.dutyColorChange{
	background-color:$globalAccountColor !important;
	transition:.5s ;
}