@import "basic.scss";


.container {
	padding-top: 80px;
	width: 100%;
	// height: 100vh;
	// border:1px solid #000;
	
	.bossHead {
		width: 100%;
		height: 70px;
		background-color: #4289FF;
		h1 {
			// width: 100%;
			padding-left: 20px;
			line-height: 70px;
			color:$globalBgColor;
			letter-spacing: 2px;
		}
	}

	

	.bossActContent {
		width: 70%;
		max-width: 720px;
		margin: auto;
		img.bigTitle {
			display: block;
			width: 30%;
			// height: 50px;
			margin: 30px auto;
		}
		h2 {
			margin: 10px 0;
			margin-left: 10px;
			color:$globalAltColor;
			font-size: $globalh3Size;
			font-weight: 500;
			border-bottom:1px solid #ccc;
		}
		.actManageTable {
			width: 100%;
			margin: auto;
			table {
				margin: auto;
				width: 100%;
				
				tr {
					th {
						width: 20%;
						height: 40px;
						padding: 10px;
						div {
							text-align: center;
							background-color: $globalFtColor;
							border-radius: 10px;
							padding: 10px;
						}
					}
					td {
						width: 80%;
						height: 40px;
						padding: 10px;
						input {
							width: 100%;
							height: 100%;
							background-color: transparent;
							border:1px solid $globalAltColor;
							outline:none;
							&::-webkit-input-placeholder {
								font-size: 16px;
								color:$globalAltColor;
							}
						}
						textarea {
							width: 100%;
							height: 140px;
							border:1px solid $globalAltColor;
							background-color: transparent;
							&::-webkit-input-placeholder {
								font-size: 16px;
								color:$globalAltColor;
							}
						}
						input[type=file] {
							display:block;
						}
						&.uploadPic {
							height: 100px;
						}
						
						label {
							display: inline-block;
							margin: auto;
							width: 30%;
							margin: 10px 0px;
							cursor: pointer;
							border:1px dotted $globalAltColor;
							img {
								display: block;
								margin: auto;
								width: 60px;
								height: 40px;


							}
							span {
								display: block;
								margin: auto;
								text-align: center;
								color:$globalAltColor;
								font-size: 12px;
							}
							&.storeType {
								text-align: center;
								padding: 10px;
								border:1px solid $globalAltColor;
								
							}
						}
						input[type=radio]{
							display: none;
							&:checked+label {
								background-color: $globalBtnColor;
								color:$globalBgColor;
							}
						}

					}
				}
				

			}
			.globalOkBtn {
				display: block;

				margin:30px auto;
			}
		}
	}


}



@media screen and (max-width : 940px) {

	.LeftBusiness{
		display: none;
	}
 }



 @media screen and (max-width:768px){
	.container {
		width: 100%;
		.bossActContent {
			width: 100%;
			padding:1%;
			box-sizing:border-box;
			.actManageTable {
				table {
					width: 100%;
					overflow:hidden;
					tr {
						
						td{
								
							a {
								width: 100%;
								color:#666;
								img {
									width: 40px;
								}
							}
						}

					}
				}
			}
		}		
		
	}

}