@import "member/myBusiness/store/_FMybusinessStorVar.scss";
@import "member/myBusiness/store/_FMybusinessStorMixin.scss";



.coverHeader{
	// width: 100vw;
	height: 100px;
}

header{
	z-index: 3;
}

.coverSubtitile{
	height: 60px;
	.subtitle{
		height: 60px;
		width: 100vw;
		position: fixed;
		top: 100px;
		z-index: 3;
		h2{
			line-height: 60px;
			font-size: 20px;
			background-color:$MybusinessStore-subtitle-bgColor;
			padding-left: 20px;
			color:#fff;
		}
	}
}


.container{
width: 100%;
// width: 100vw;

}



	.LeftBusiness{
		width: 200px;
		height: 500px;
		position: fixed;
		left: 0;
		top: 160px;
		// background-color: #ccc;
		.nav-Group1{
			margin-top: 30px;
		}
		div{
			div{
				&:nth-child(1){
					@include member-nav-bar-mainTitle-propity();
					// margin-top:150px;

				}
				&:nth-child(2){
					@include member-nav-bar-subTitle-propity();
					
				}
				&:nth-child(3){
					@include member-nav-bar-subTitle-propity();
					
				}
				&:nth-child(4){
					@include member-nav-bar-subTitle-propity();
					
				}

				
			}
		}
	}



.CenterBusiness{
	margin-top:260px ;
	width: 70%;
	// height: 1800px;
	// border: 2px solid #f00;
	// display: inline-block;
	margin: auto;
	.subtitle{
		height: 100px;
		// border: 1px solid #ccc;
		text-align: center;
		padding-top: 20px;
		svg{
			
			// display: block;
			// position:relative;
			// top: 0;
			// bottom: 0;
			// right: 0;
			// left: 0;
			// margin: auto; 
			// color:$MybusinessStore-subtitle-bgColor;
		}

	}

	.content-table{
		// background-color: #ccc;
		table{
			width: 80%;
			background-color: #fff;
			margin-left: 0;
			margin-right: 0;
			margin:auto;

			span,div,input{
				color:#999;
			}


			tr{

				height: 70px;
				
				th{
					border-bottom: 1px solid #ccc;
					text-align: center;
					font-weight: normal;
					width: 20%;
					div{
						height: 40px;
						width: 80%;
						// min-width: 86px;
						background-color: #F2EBD4;
						margin-right: 0;
						margin-left: 0;
						margin: auto;
						line-height: 40px;
						border-radius: 6px;
					}	
				}

				td{
					text-align: center;

					width: 80%;
					border-bottom: 1px solid #ccc;
					// &:nth-child(1){
					// 	background-color: #000;
					// 	input{
					// 		width: 80%;
					// 	}
					// }

				}


				&:nth-child(1){
					th{
						
						text-align: left;
						padding-left: 20px;
						color: #999;
						font-size: 26px;

					}
				}

				
				&:nth-child(2){
					@include tdInputTextForm();
				}


				&:nth-child(3){
					@include tdInputTextForm();
				}

				&:nth-child(4){
					@include tdInputTextForm();
				}


				&:nth-child(5){
					@include tdInputTextForm();
				}



				&:nth-child(6){

					height: 100px;					

					th{
						div{
							height: 80px;
						}
					}
					


					td{
						
						div{
							display: inline-block;
							width: 13%;
							border:1px solid #ddd;
							// min-width: 63px;


							&:hover{
								background-color: #4289FF;
								color:#fff;
								transition:0.5s;
							}

						}

					}
				}



				&:nth-child(7){

					height: 100px;					

					th{
						div{
							height: 80px;
							line-height: 80px;
						}
					}
					


					td{
						
						label{
							display: inline-block;
							margin: 20px;
							input{
								// width: 80%;
							}
						}

					}
				}

				&:nth-child(8){

					height: 180px;					

					th{
						div{
							height: 160px;
							line-height: 160px;
						}
					}
					


					td{
						
						textarea{
							display: block;
							margin-top: 0;
							margin-bottom: 0;
							margin: auto;
							width: 90%;
							height: 140px;
							border:1px solid #ccc;
							resize : none;
						}

					}
				}




				&:nth-child(9){

					height: 220px;					

					th{
						div{
							height: 200px;
							line-height: 200px;
						}
					}
					


					td{
						position: relative;
						div{
							
							width: 90%;
							height: 160px;
							border: 1px solid #ccc;
							position: relative;
							top: 0;
							bottom: 0;
							right: 0;
							left: 0;
							margin: auto;
							padding-top: 5%;

							div{
								height: 80%;
								width: 100%;
								border: none;
								// margin-bottom: 0px;
								// margin: auto;

								input{
									display: none;
								}

								img{
									display: block;
									margin: auto;
									// position: absolute;
									// top: 0;
									
									// right: 0;
									// left: 0;
									// margin: auto;

								}

								span{
									display: block;
									font-size: 8px;
									
								}

							}

						}

					}
				}


			} //tr
		}//table
	}//content-table


	.commit{
		text-align: center;
		padding-top: 50px;
		margin-bottom: 100px;
		input{
			border: none;
			width: 150px;
			height: 50px;
			border-radius: 25px;
			&:nth-child(1){
				margin-right: 10px;
				border: 1px solid #F06428;
				background-color: #fff;
				color:#F06428;
				display: inline-block;
				&:hover{
					color:#fff;
					background-color:#F06428;
					transition:0.5s;
				}
			}
			&:nth-child(2){
				margin-left: 10px;
				border: 1px solid #F06428;
				background-color:#F06428;
				color:#fff;
				display: inline-block;
				&:hover{
					color:#F06428;
					background-color:#fff;
					transition:0.5s;
				}
			}
		}
	}


}//CenterBusiness







	// .RightMy{
	// 	width: 200px;
	// 	height: 500px;
	// 	position: fixed;
	// 	right: 0;
	// 	top: 160px;
	// 	// background-color: #ccc;
	// 	div {
	// 		&:nth-child(1){
	// 			@include member-nav-bar-propity();
	// 			margin-top:150px;  
	// 		}
	// 		&:nth-child(2){
	// 			@include member-nav-bar-propity();
	// 		}
	// 		&:nth-child(3){
	// 			@include member-nav-bar-propity();
	// 		}
	// 		&:nth-child(4){
	// 			@include member-nav-bar-propity();
	// 		}
	// 		&:nth-child(5){
	// 			@include member-nav-bar-propity();
	// 		}
	// 	}
	// }









footer{
	width: 100vw;
	height: 50px;
	position: fixed;
	bottom: 0;
}


@import "FMybusinessStore_mediaMax767.scss";