@import "member/myBusiness/store/_FMybusinessStorVar.scss";
@import "member/myBusiness/store/_FMybusinessStorMixin.scss";


.coverHeader{
	// width: 100vw;
	height: 100px;
}


.subtitle{
	height: 60px;
	width: 100vw;
	position: fixed;
	top: 100px;
	h2{
		line-height: 60px;
		font-size: 20px;
		background-color:$MybusinessStore-subtitle-bgColor;
		padding-left: 20px;
		color:#fff;
	}
}



.container{
width: 100%;
// width: 100vw;

}



	.LeftBusiness{
		width: 200px;
		height: 500px;
		position: fixed;
		left: 0;
		top: 160px;
		// background-color: #ccc;
		.nav-Group1{
			margin-top: 50px;
		}
		div{
			div{
				&:nth-child(1){
					@include member-nav-bar-mainTitle-propity();
					// margin-top:150px;

				}
				&:nth-child(2){
					@include member-nav-bar-subTitle-propity();
					
				}
				&:nth-child(3){
					@include member-nav-bar-subTitle-propity();
					
				}
				&:nth-child(4){
					@include member-nav-bar-subTitle-propity();
					
				}

				
			}
		}
	}



.CenterBusiness{
	width: 70%;
	height: 1800px;
	border: 2px solid #f00;
	// display: inline-block;
	margin: auto;
}







	// .RightMy{
	// 	width: 200px;
	// 	height: 500px;
	// 	position: fixed;
	// 	right: 0;
	// 	top: 160px;
	// 	// background-color: #ccc;
	// 	div {
	// 		&:nth-child(1){
	// 			@include member-nav-bar-propity();
	// 			margin-top:150px;  
	// 		}
	// 		&:nth-child(2){
	// 			@include member-nav-bar-propity();
	// 		}
	// 		&:nth-child(3){
	// 			@include member-nav-bar-propity();
	// 		}
	// 		&:nth-child(4){
	// 			@include member-nav-bar-propity();
	// 		}
	// 		&:nth-child(5){
	// 			@include member-nav-bar-propity();
	// 		}
	// 	}
	// }









footer{
	width: 100vw;
	height: 50px;
	position: fixed;
	bottom: 0;
}
