@import "member/myBusiness/store/_FMybusinessStorVar.scss";
@import "member/myBusiness/store/_FMybusinessStorMixin.scss";


@media screen and (max-width : 940px) {

	.LeftBusiness{
		display: none;
	}

	.coverSubtitile{
		.subtitle{
			.burger{
				display: block;
			}
		}
	}

	
 
}








@media screen and (max-width : 767px) {

	

	.CenterBusiness{ 
			
			width:90%;

			// .subtitle{
			// 			display: none;
			// }



			.content-table{
				table{

					width: 100%;

					tr{


						th{
							
							width: 30%;
							div{
								min-width: 10px;
							}

						}

						td{

							width: 70%;

						}

					&:nth-child(6){

						td{
							div{
								div{
								font-size: 14px;
								margin: 10px 0;
								}
							}
						}

					}	
					

					}
				

				}



		}//content-table



		
	}//CenterBusiness
	 
}



@media screen and (max-width : 940px) {

	.CenterBusiness{ 
			
			width:90%;

			// .subtitle{
			// 			display: none;
			// }



			.content-table{
				table{

					

					tr{


						th{
							
							
							div{
								font-size: 14px;
							}

						}

						td{

							

						}
					

					}
				

				}



		}//content-table



		
	}//CenterBusiness
 
}