@import "basic";

*{
	box-sizing : border-box;
	// background: #000 !important;
 //    color: #0f0 !important;
 //    outline: solid #f00 1px !important;
}

body {
	background-image: url("../img/homepage/homepage_bg0.png");
	background-size: contain;
	// overflow-x:hidden;

}
section {
	width: 100%;
	height: 100vh;
}


@keyframes shake {
	0%{transform:scale(1,1);}
	100%{transform:scale(1.2,1.2);}
}


@keyframes moveDown {
	0%{ transform:translate(0px,5px); }
	100%{ transform:translate(0px,0px); }
}
//================= 首頁導覽列 ================================




.headerLink {
	width: 60%;
	height: 100%;
	display: inline-block;
	margin-left: 20px;
	.burger {
		display: none;
	}
	a {
		display: block;
		float: left;
		width: 130px;
		height: 100%;

		img {
			width: 100%;
			height: 40px;
			padding-top: 10px;
			display: inline-block;
			text-align: center;
			transition:.3s;
			
		}
		span {
			display: block;
			width: 100%;
			font-size: 16px;
			text-align: center;
			color:$globalBgColor;
			font-weight: 300;
		}
		&:hover {
			background-color: $globalTitleColor;
			transition:.3s;	
			img{
				animation:shake .5s ease infinite alternate;
				transition:.3s;
				}
		}
	}
}
.rwd-HeaderLink {
	display: none;
}
.left-burgerBtn {
	display: none;
}

@media screen and (max-width:900px){
	.headerLink {
		display: none;
	// 	top: 80px;
	// 	width: 100vw;
	// 	height: 80px;
	// 	margin-left: 0;
	// 	a {
	// 		width: 25%;

	// 	}
	// }
	}
	.left-burgerBtn {
		display: inline-block;
			width: 20%;
			height: 40px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 20px;
			margin: auto;
		span {
				display: block;
				width: 30px;
				height: 4px;
				left: 15px;
				background-color: $globalBgColor;
				border-radius: 4px;
				position: absolute;
				margin: auto;
				transition: .3s ease;
				&:nth-of-type(1){
					top: 5px;
				}
				&:nth-of-type(2){
					top: 16px;
				}
				&:nth-of-type(3){
					top: 27px;
				}
			}
		&.active {
				// transform: rotate(360deg);
				transition: .3s ease;
				span {
					&:nth-of-type(1){
						transform: rotate(-45deg);
						transition: .3s ease;
						top: 20px;
					}
					&:nth-of-type(2){
						display: none;
					}
					&:nth-of-type(3){
						transform: rotate(45deg);
						top: 20px;
						transition: .3s ease;
					}
				}
		}
	}
	.rwd-HeaderLink {
		display: block;
		position: relative;
		width: 100%;
		height: 100vh;
		left: -100%;
		transition:.3s;
		@include leftRightGradient(rgba(128, 89, 52, 0.9),rgba(158, 105, 61, 0.9));
		a {
			width: 50%;
			height: 30%;
			display: block;
			position: relative;
			float: left;
			padding: 10%;
			img {
				display: block;
				max-width: 100px;
				max-height: 100px;
				width: 10vw;
				height: 10vw;
				margin: auto;
			}
			span {
				display: block;
				width: 100%;
				color:$globalBgColor;
				margin-top: 10px;
				font-size: 5vw;
			}
		}
		&.showMenu {
			left: 0;
			transition:.3s;
		}
	}
	
}








//================= 1st搜尋板塊 ================================

  
.homeSearchBar {
	width: 100%;
	height: 100vh;
	background-image: url("../img/homepage/homepage_bg1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	&.vansBgd {
		transition:.3s;
		background-image: url("../img/homepage/homepage_bg7.png");
		background-position: center top;	
	}
	&.orginBgd {
		transition:.3s;
		background-image: url("../img/homepage/homepage_bg1.png");	
	}
	.itemGrp {
		width: 70%;
		height: 100%;
		margin: auto;
		padding-top: 150px;
		max-width: 720px;

		.bigLogo {
			width: 100%;
			height: 30%;
			
			#theLogo {
				width: 100%;
				height: 100%;
				fill-opacity:0;
				transition:fill-opacity 1s;
				&.finished {
					fill-opacity:1;
				}
			}
		}

		h2 {
			text-align: center;
			color: $globalBgColor;
			font-size: $globalh3Size ;
			margin:10px 0px;
			text-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
		}
		.searchPart {
			width: 100%;
			.tabs {
				width: 100%;
				box-sizing:border-box;
				.tab_contents {
					width: 100px;
					float: left;
					text-align: center;
					background-color: $globalHdColor01;
					padding:10px;
					box-sizing:border-box;
					color:$globalBgColor;
					cursor: pointer;
					
					&.active {
						background-color: #E7E6E6;
						color:$globalHdColor02;
					}
				}
				
			}
			.searchContent {
				width: 100%;
				float: left;
				box-sizing:border-box;
				border-radius:0px 3px 3px 3px;
				background-color: #E7E6E6;
				text-align: center;
				.filterTitle {
					display: inline-block;
					padding:10px 20px;
					margin:10px 0px;
					color:$globalTitleColor;
				}
				.filter {
					display: inline-block;
					padding:5px 20px;
					margin:10px 10px;
					background-color: rgba(255,255,255,0.9);
					color:$globalTitleColor;
					font-size:  $globalContentSize;
					height: 30px;
					border-radius:2px;
					outline:none;
					border:none;
					select {
						font-size: $globalContentSize;
						color:$globalTitleColor;
						border:none;
					}
				}
				button.filter {
					cursor: pointer;
					&:focus {
						background-color: $globalTitleColor;
						color:$globalBgColor;
					}
				}
				.searchbar {
					width: 100%;
					display:block;
					box-sizing:border-box;
					background-color: #fff;
					text-align: left;
					border-radius:0px 0px 3px 3px;
					input {
						width: 80%;
						height: 100%;
						padding:10px;
						font-size: $globalContentSize;
						background-color:transparent;
						border:none;
						display:inline-block;
						box-sizing:border-box;
						outline:none;
					

					}
					button {
						display:inline-block;
						width: 19%;
						text-align: center;
						font-size: $globalContentSize;
						padding:10px;
						border:none;
						box-sizing:border-box;
						background-color:transparent;
						outline:none;
						color:$globalFontColor;
						transition: .3s;
						cursor:pointer;
						border-radius:2px;
						&:hover {
							background-color: $globalBtnColor;
							color:$globalBgColor;
							transition: .3s;
						}
						&.keyIn{
							background-color: $globalBtnColor;
							color:$globalBgColor;
							transition: .3s;
						}
					}
				}
			}	


		}
		.sectionBetween {
			margin-top: 30px;
			p {
					color:$globalBgColor;
					font-size: 20px;
					text-align: center;
					text-shadow:0px 0px 30px rgba(0,0,0,1);
				}
				img {
					display: block;
					width: 60px;
					height: 60px;
					margin: 10px auto;
					animation:moveDown .5s ease infinite alternate;
					cursor:pointer;
					background-color: rgba(0,0,0,.7);
					border-radius: 50%;
				}
		}

	}

}

@media screen and (max-width:768px){
	section.homeSearchBar{
		.itemGrp {
			width: 100%;
			padding:100px 10px 0px 10px;
			.bigLogo {
			width: 50%;
			height: 30%;
			margin: auto;
			
				img {
					width: 100%;
					height: 100%;

				}
			}
			.sectionBetween {
				width: 100%;
				p {
					color:$globalBgColor;
					text-align: center;
					font-size: 16px;
				}
				img {
					display: block;
					width: 40px;
					height: 40px;
					margin: auto;
				}

			} 

		}
	}
}
@media screen and (max-width:500px){
	section.homeSearchBar {

		.itemGrp {
			.descrp {
				margin-top: 0;
			}
			.searchPart {
				.searchContent {
					.filter {
						margin: 0px 5px 10px 0px;
					}
					.filterTitle {
						width: 100%;
						padding: 0px;
					}
					.searchbar {
						input {
							width: 70%;
						}
						button {
							width: 20%;
						}
					}
				}
			}

		}
	}
}

//================= 2nd 熱門店家 ================================


.homeTopChart {
	position: relative;
	
	p.topChartDescrp {
		width: 90%;
		text-align: center;
		margin: 50px auto;
		font-size: 1.5em;
		color:$globalFontColor;
		line-height: 1.5;
		font-weight: 500;
	}
	.titleGrp {
			margin: 30px auto;
			text-align: center;

			img {
				width: 40px;
				height: 40px;
				display:inline-block;
				vertical-align: baseline;
				margin-right: 10px;

			}
			.topChartTitle {
				text-align: center;
				height: 40px;
				display:inline-block;
				color:$globalFontColor;
				font-size: 2em;

			}
		}
	.shopItemGrp {
		width: 80%;
		margin: auto;
	}	
	.shopItem {
			width: 100%;
			height: 70vh;
			outline:none;
			cursor:pointer;
			// padding:5%;
			// border:1px solid #000;
			.shopPic {
				width: 100%;
				max-width: 720px;
				height: 60%;
				margin: auto;
				margin-bottom: 30px;
				border-radius:10px;
				overflow:hidden;
				position: relative;
				box-shadow:0px 11px 24px rgba(165,160,148,0.56);
				img {
					width: 100%;
					height: 100%;
					border-radius:10px;
					z-index: -15;
					object-fit:cover;
				}
				h3 {
					width: 100%;
					height: 55px;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 10px;
					right: 0;
					margin: auto;
					color:$globalBgColor;
					letter-spacing: 2px;
					text-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
					font-size: $globalh1Size;
				}
				.shopInfo {
					width: 100%;
					height: 20%;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					padding:1%;
					background-color: rgba(75,75,75,0.8);
					ul {
						width: 100%;
						height: 100%;
						text-align: center;
						
						li {
							width:33%;
							float: left;
							height: 100%;
							img {
								width:30px;
								height: 30px;
								float: left;
								margin: 10px 0px; 
								margin-right: 10px;
							}
							span {
								float: left;
								height: 100%;
								color:$globalBgColor;
								font-size: 20px;
								// line-height: 50px;
								vertical-align: top;
								padding: 10px 0;
							}
						}
					}
				}
				
			}
			.shopMessage {
					width: 100%;
					max-width: 720px;
					margin: auto;
					height: 30%;
					background-color: $globalFtColor;
					box-shadow:0px 11px 24px rgba(165,160,148,0.56);
					border-radius:10px;
					padding: 10px;
					.memPic {
						width: 32px;
						height: 32px;
						max-width: 50px;
						max-height: 50px;
						border-radius: 50%;
						background-color: #ccc;
						float: left;
						margin: 20px;

					}
					span {
						display: inline-block;
						float: left;
						width: 30%;
						// border:1px solid #000;
						height: 32px;
						line-height: 32px;
						margin: 20px 0px;
					}
					#messageTime {
						float: right;
						text-align: center;
					}
					.message {
						display: block;
						width: 100%;
						padding: 10px;
						background-color: #fff;
						border-radius:10px;
						position: relative;
						&:after {
							content:'';
							display: block;
							width: 0;
							height: 0;
							border-top:15px solid transparent;
							border-right:15px solid #fff;
							position: absolute;
							top: -15px;
							left: 15px;
						}
					}
				}
		}
		.chooseBtn {
			width: 150px;
			height: 40px;
			border-radius:20px;
			text-align: center;
			line-height: 40px;
			margin: auto;
			font-size: $globalBtnSize;
			border: 1px solid $globalBtnColor;
			color:$globalBtnColor;
			background-color: $globalBgColor;
			transition: .3s ease;
			&:hover {
			background-color: $globalBtnColor;
			color:$globalBgColor;
			transition: .3s ease;
			cursor: pointer;
			}
		}


}

@media screen and (max-width:768px){
	.homeTopChart {
		height: 110vh;
		p.topChartDescrp {
			width: 90%;
			text-align: center;
			margin: 50px auto;
			font-size: 1.2em;
			color:$globalFontColor;
			line-height: 1.5;
			font-weight: 500;
		}

		.titleGrp {
			width: 90%;
			margin: 10px auto;
			text-align: center;
			img {
				display:inline-block;
				vertical-align: top;
				margin-right: 10px;
			}
			.topChartTitle {
				text-align: center;
				margin: 10px auto;
				display:inline-block;
				color:$globalFontColor;
			}
		}

		.shopItem {
			width: 100%;
			height: 70vh;
			padding:10px;
			// border:1px solid #000;
			.shopPic {
				width: 100%;
				height: 50%;
				margin-bottom: 30px;
				border-radius:10px;
				overflow:hidden;
				position: relative;
				box-shadow:0px 11px 24px rgba(165,160,148,0.56);
				img {
					width: 100%;
					height: 100%;
					border-radius:10px;
					z-index: -15;
					object-fit:cover;
				}
				h3 {
					width: 100%;
					height: 50px;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 10px;
					right: 0;
					margin: auto;
					font-size: 24px;
					color:$globalBgColor;
					letter-spacing: 2px;
					text-shadow: 0px 0px 4px rgba(0, 0, 0, .7);
					text-shadow: 1px 1px 4px rgba(50, 50, 50, 1);
				}
				.shopInfo {
					width: 100%;
					height: 50px;
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					padding:1%;
					
					&:after {
						content: ''; 
						position: absolute; 
						top: 0; 
						left: 0; 
						right: 0; 
						bottom: 0;
						background-color: rgba(75,75,75,0.5);
						z-index:-1;
						background-size: cover;
						background-attachment: fixed;
						-webkit-filter: blur(20px);
						overflow: hidden;
					}
					ul {
						width: 100%;
						height: 100%;
						text-align: center;
						
						li {
							width:33%;
							float: left;
							height: 100%;
							img {
								width: 4vw;
								height: 4vmin;
								min-height: 20px;
								float: left;
								object-fit:cover;
								display: inline-block;
								margin: 10px 0;
								margin-right: 5px;
							}
							span {
								float: left;
								color:$globalBgColor;
								font-size: 14px;
							}
						}
					}
				}
			}
			.shopMessage {
				width: 100%;
				height: 35%;
				background-color: $globalFtColor;
				box-shadow:0px 11px 24px rgba(165,160,148,0.56);
				border-radius:10px;
				padding: 10px;
				.memPic {
					width: 32px;
					height: 32px;
					max-width: 50px;
					max-height: 50px;
					border-radius: 50%;
					background-color: #ccc;
					float: left;
					margin: 10px;

				}
				span {
					display: inline-block;
					float: left;
					width: 30%;
					// border:1px solid #000;
					height: 32px;
					line-height: 32px;
					margin: 10px 0px;
				}
				#messageTime {
					float: right;
					text-align: center;
				}
				.message {
					display: block;
					margin-top: 10px;
					width: 100%;
					padding: 10px;
					background-color: #fff;
					border-radius:10px;
					p {
						font-size: 12px;
					}

				}
			}
		}
		
		.chooseBtn {
			width: 150px;
			height: 40px;
			border-radius:20px;
			text-align: center;
			line-height: 40px;
			margin: auto;
			font-size: $globalBtnSize;
			border: 1px solid $globalBtnColor;
			color:$globalBtnColor;
			background-color: $globalBgColor;
			transition: .3s ease;
			&:hover {
			background-color: $globalBtnColor;
			color:$globalBgColor;
			transition: .3s ease;
			cursor: pointer;
			}
		}
		
	}

}
.slick-dots {
	bottom: 0px;
}



//================= 3rd 胖小車地圖 ================================



section.homeCarMap {
	background-image: url("../img/homepage/homepage_bg3.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding:5vw;
	box-sizing:border-box;

	.carMap {
		width: 100%;
		height: 100%;
		margin: auto;
		background-image: url("../img/homepage/homepage_bg6.png");
		background-repeat: no-repeat;
		background-size: cover;
		h1.mapTitle {
			width: 30vmin;
			height: 100px;
			font-size: 5vmin;
			color:$globalFontColor;
			background-color: $globalBgColor;
			text-align: center;
			line-height: 100px;
		}
	}
}











//================= 4th 精選活動 ================================




.homeActivity {
	width: 100%;
	height: 100vh;
	//
	position: relative;
	.activityTitle {
			background-color: rgba(96,56,19,.32);
			position: absolute;
			top: 0;
			left: 10vw;
			padding:20px;
			width: 20%;
			img {
				display:block;
				width: 70px;
				margin: 30px auto;
			}
			h1 {
				width: 90%;
				margin: auto;
				font-size: $globalh1Size;
				text-align: center;
				color:$globalBgColor;
				letter-spacing: 1.8px;
				text-shadow:0px 2px 10px 0px rgba(0,0,0,0.5);

			}
			p {
				width: 90%;
				text-align: left;
				color:$globalBgColor;
				padding-top: 50px;
				font-size: $globalh3Size;
				margin: auto;
			}
	}
	.act-bgd {
		width: 50%;
		height: 100%;
		background-image: url("../img/homepage/homepage_bg4.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0px 0px;
		float: left;
	}
	.activityItem {
		width: 50%;
		height: 100%;
		float: right;
		padding:auto 0px;
		// margin-right: 10%;
		background-color: rgba(50, 25, 0, 0.7);
		#chooseActUp {
				width: 80px;
				height: 15%;
				margin: auto;
				vertical-align: top;
				position: relative;
				.svg {
					width: 50px;
					height: 50px;
					margin: auto;
					fill:$globalBgColor;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					cursor:pointer;
				}
		}
		.actBannerGrp {
			width: 90%;
			// height: 70%;
			margin: auto;
			.actBanner {
				height: 500px;
				padding:15px;
				// max-width: 700px;
				background-color: $globalBgColor;
				overflow:hidden;
				position: relative;
				border-radius: 5px;
					.actDate {
						width:80px;
						height: 80px;
						background-color: $globalAccountColor;
						border-radius: 50%;
						position: absolute;
						top: 10px;
						right: 10px;
						.dateItem {
							width: 50px;
							height: 50px;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							span {
								display: block;
								width: 100%;
								font-size: 18px;
								text-align: center;
								color:$globalBgColor;
								&:nth-child(2){
									font-weight: 600;
								}
							}
						}
					}

				img {
						display: block;
						width: 100%;
						height: 60%;
						object-fit:cover;
					}
				.actContent {
					width: 100%;
					height: 40%;
					background-color:$globalBgColor;
					padding: 10px;
					border-radius: 5px;
						h3 {
							text-align: center;
							color:$globalFontColor;
							font-size: 24px;
						}
						ul {
							text-align: center;
							li {
								width: 90%;
								display: inline-block;
								span {
									float: left;
									font-size: 16px;
									font-weight: 600;
									color:$globalFontColor;
								}
								p {
									float:left;
									margin-left: 10px;
									font-size: 16px;
									text-align: center;
									color:$globalAltColor;
									span {
										color:$globalLinkColor;
									}
								}
							}
						}
						a {
							margin: auto;
						}
				}
				
			}
		}
		
		#chooseActDown {
			 	width: 80px;
			 	height: 15%;
			 	margin: auto;
			 	position: relative;	
			 	.svg {
				width: 50px;
				height: 50px;
				margin: auto;
				fill:$globalBgColor;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				cursor:pointer;
			} 	
		}
	}

}

@media screen and (max-width:768px){
	.homeActivity {
		.activityTitle {
			// position: static;
			width: 100%;
			height: 30%;
			margin: 0;
			left: 0;
			img {
				width: 70px;
				margin: 10px auto;
			}
			h1 {
				// width: 70%;
				margin: 10px auto;
				font-size: 24px;
				font-weight: 500;
				text-align: center;
				color:$globalBgColor;
				letter-spacing: 1.8px;
				text-shadow:0px 2px 10px 0px rgba(0,0,0,0.5);

			}
			p {
				display: block;
				text-align: center;
				color:$globalBgColor;
				padding-top: 10px;
				font-size: 18px;
				margin: auto;
			}
		}
		.act-bgd {
			width: 100%;
			height: 30%;

		}
		.activityItem {
			width: 100%;
			height: 70%;
			margin: 0;
			#chooseActUp,#chooseActDown {
				height: 10%;
			}
			.actBannerGrp {
				height: 70%;
				.actBanner {
					height: 400px;
					.actDate {
						width: 60px;
						height: 60px;
						border-radius: 50%;
						position: absolute;
						top: 10px;
						right: 10px;
						.dateItem {
							width: 40px;
							height: 40px;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							span {
								display: block;
								width: 100%;
								font-size: 12px;
								text-align: center;
								color:$globalBgColor;
								&:nth-child(2){
									font-weight: 600;
								}
							}
						}
					}
					.actContent {
						h3 {
							
							text-align: center;
							color:$globalFontColor;
						}
						ul {
							text-align: center;
							li {
								width: 90%;
								display: inline-block;
								span {
									float: left;
									font-size: 14px;
									font-weight: 600;
									color:$globalFontColor;
								}
								p {
									float:left;
									margin-left: 10px;
									font-size: 14px;
									text-align: center;
									color:$globalAltColor;
									span {
										color:$globalLinkColor;
									}
								}
							}
						}
						a {
							height: 40px;
							line-height: 40px;
							font-size: 14px;
						}
					}
				}
			}
			
		}
		
	}
}
@media screen and (max-width:400px){
	.homeActivity {
		
		.activityTitle {
			height: 30%;
			padding: 10px;
			h1 {
				font-size: 36px;
				font-weight: 700;
			}
			img {
				width: 40px;
			}
			p {
				width: 90%;
				font-size: 14px;
			}
		}
		.act-bgd {
			width: 100%;
			height: 30%;
		}

		.activityItem {
			width: 100%;
			height: 70%;
			.actBannerGrp {
				height: 75%;
				.actBanner {
					height: 300px;
					padding: 0;
					position: relative;
					.actDate {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						position: absolute;
						top: 10px;
						right: 10px;
						.dateItem {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							margin: auto;
							span {
								display: block;
								width: 100%;
								font-size: 12px;
								text-align: center;
								color:$globalBgColor;
								&:nth-child(2){
									font-weight: 600;
								}
							}
						}
					}
					img {
						height: 50%;
					}
					.actContent {
						height: 30%;
						h3 {
							text-align: center;
							color:$globalFontColor;
							font-size: 16px;
						}
						ul {
							text-align: center;
							li {
								width: 90%;
								display: inline-block;
								span {
									float: left;
									font-size: 12px;
									font-weight: 600;
									color:$globalFontColor;
								}
								p {
									float:left;
									margin-left: 10px;
									font-size: 12px;
									text-align: center;
									color:$globalAltColor;
									span {
										color:$globalLinkColor;
									}
								}
							}
						}
						a {
							height: 40px;
							line-height: 40px;
							font-size: 14px;
						}
					}
				}
			}
		}

	}
}








//================= 5th 新進店家 ================================







.homeNewshop {
	background-image: url("../img/homepage/homepage_bg5.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: -20px;
	.newShopTitle {
		width: 70%;
		margin: auto;
		padding:100px 0px 50px 0px;
		clear:both;
		text-align: center;
		img {
			display: inline-block;

		}
		h1 {
			display: inline-block;
			color:$globalBgColor;
			font-size:$globalBigSize;
			text-align: center;
			letter-spacing: 1.8;
			vertical-align: top;
			text-shadow: 0px 0px 10px 2px black;
		}

	}
	.newShopGrp {
		width: 80%;
		margin: auto;
		.newShops {
			width: 30%;
			// height:80vh;
			float: left;
			margin: auto 10px;
			padding: 10px;
			text-align: center;
			background-color: $globalBgColor;
			border-radius: 20px;
			box-shadow: 0px 0px 10px 2px #222;
			.newShopItem {
				width: 100%;
				height: 100%;
				img {
					display:block;
					width: 100%;
					height: 50%;
					object-fit:cover;
					border:5px solid #fff;
					// float: left;
					border-radius: 20px;

				}
				.shopContent {
					// float: left;
					width: 100%;
					height: 50%;
					padding:5%;
					// border:1px solid #000;
					h2 {
						width: 100%;
						text-align: left;
						font-size: 20px;
						color:$globalFontColor;
						margin:10px 0px;
					}
					p {
						width: 100%;
						text-align: left;
						margin:10px 0px;
						word-wrap: wrap;
						color:$globalAltColor;
						font-size: 16px;
					}
					ul {
						width: 100%;
						height: 30px;
						text-align: center;
						display: inline-block;
						text-align: center;
						li {
							display: inline-block;
							margin:auto;
							margin-right: 10px;
							height: 30px;
							img {
								display: inline-block;
								border:none;
								width: 30px;
								height: 30px;
							}
							span {
								display: inline-block;
								height: 30px;
								line-height: 30px;
								font-size: 14px;
								vertical-align: top;
								color:$globalFontColor;
							}
						}
					}
					.exploreBtn {
						display:block;
						width: 120px;
						height: 40px;
						border-radius:20px;
						text-align: center;
						line-height: 40px;
						margin: auto;
						font-size: $globalContentSize;
						border: 1px solid $globalBtnColor;
						color:$globalBtnColor;
						background-color: $globalBgColor;
						transition: .3s ease;
							&:hover {
							background-color: $globalBtnColor;
							color:$globalBgColor;
							transition: .3s ease;
							cursor: pointer;
							}	
						}
				}

			}
		}
	}
	
}


@media screen and (max-width:900px){
	.homeNewshop {
			.newShopTitle {
			width: 90%;
			margin: auto;
			padding:30px 0px 30px 0px;
			clear:both;
			text-align: center;
			img {
				width: 10vw;
				display: inline-block;
			}
			h1 {
				display: inline-block;
				color:$globalBgColor;
				font-size:$globalh1Size;
				text-align: center;
				letter-spacing: 1.8;
				vertical-align: top;
			}
		}
		.newShopGrp {
			
			.newShops {
				display: block;
				width: 90%;
				// margin: auto;
				.newShopItem {
					img {
						width: 100%;
						height: 50%;
					}
				.shopContent {
					width: 100%;
					p {
						font-size: 14px;
					}
				.exploreBtn {
					display:block;
					width: 120px;
					height: 40px;
					border-radius:20px;
					text-align: center;
					line-height: 40px;
					margin: auto;
					font-size: 16px;
					border: 1px solid $globalBtnColor;
					color:$globalBtnColor;
					background-color: $globalBgColor;
					transition: .3s ease;
						&:hover {
							background-color: $globalBtnColor;
							color:$globalBgColor;
							transition: .3s ease;
							cursor: pointer;
							}	
						}
					}
				}
			}

		}
		
	}
}

@media screen and (max-width:400px){
		

}



//================= 6th 聯絡 ================================



.homeContact {
	width: 100%;
	height: 50vh;
	clear:both;
	
	p {
		width: 80%;
		margin: auto;
		margin-top: 50px;
		text-align: center;
		margin-bottom: 20px;
		font-size: 30px;
		color:$globalFontColor;
		font-weight: 700;
	}
	.sectionItem {
		width:30%;
		margin: auto;

		span {
			width: 60px;
			height: 60px;
			display:block;
			margin: auto;
			fill:$globalFontColor;
		
		}
		h3 {
			margin: auto;
			margin-bottom: 20px;
			text-align: center;
			font-weight: 500;
			font-size: 18px;
			color: $globalFontColor;
		}
	}

	.addShop {
		width: 50%;
		height: 100%;
		float: left;
		box-sizing:border-box;


	}
	.contactUs {
		width: 50%;
		height: 100%;
		float: left;
		box-sizing:border-box;


	}

}
@media screen and (max-width:768px){
	
	.homeContact {
		height: 70vh;
		p {
			font-size: 24px;

		}
		h3 {
			font-size: 4vmin;
		}	
		.addShop {
			width: 100%;
			height: 40%;

		}
		.contactUs {
			width: 100%;
			height: 40%;
		}

	}

	

}
@media screen and (max-width:400px){
	.homeContact {
		height: 100vh;
	}

}
#navBtn {
	width: 10px;
	position: fixed;
	top: 50%;
	bottom: 50%;
	right: 20px;
	margin: auto;

	li {
		height: 10px;
		width: 10px;
		margin: 10px auto;
		border-radius: 50%;
		background-color: #ccc;
	}
}



