@import "member/myBusiness/store/_FMybusinessStorVar.scss";
@import "member/myBusiness/store/_FMybusinessStorMixin.scss";




	.LeftBusiness{
		width: 200px;
		height: 500px;
		position: fixed;
		left: 0;
		top: 160px;
		z-index: 99;
		// background-color: #ccc;
		.nav-Group1{
			margin-top: 30px;
		}
		
			div{ //aa
				 div{ //bb
					
						@include member-nav-bar-mainTitle-propity();
						// margin-top:150px;

					

					div{//cc
						&:nth-child(2){
							@include member-nav-bar-subTitle-propity();
							
						}
						&:nth-child(3){
							@include member-nav-bar-subTitle-propity();
							
						}
						&:nth-child(4){
							@include member-nav-bar-subTitle-propity();
							
						}
					}//cc
					
				}//bb
			}//aa
		
	}//LeftBusiness