@charset "UTF-8";
@import "basic/setting";
// @import "member/myBusiness/store/_FMybusinessStorVar.scss";
// @import "member/myBusiness/store/_FMybusinessStorMixin.scss";

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: $globalFtColor;
	background: -webkit-radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	background: -o-radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	background: -moz-radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	background: radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	font-family: $globalFont;
}

//===會員專區==================================================
.container{
	width: 100%;
	position: relative;


//===側邊欄==================================================
	.sidebar{
		width: 210px;
		height: 310px;
		position: absolute;
		top: 184px;
		left: 0;
		z-index: 1;
		li{
			position: relative;
			height: 60px;
			margin-bottom: 2px;
			a{
				color: $globalBgColor;
				width: 100%;
				height: 60px;
				line-height: 60px;
				font-size: $globalBtnSize;
				padding-left: 16px;
			    padding-right: 80px;
				text-align: right;
				background-color: transparent;
				border-bottom-right-radius: 30px;
			    border-top-right-radius: 30px;
			    background-image: url(../img/memimg/myfollow.svg);
			    background-repeat: no-repeat;
			    background-position: right center;
			    position: absolute;
			    right: 140px;
			    transition: right 1.5s,
			    			background-color 1s;
			}//sidebar a end
			a.mycommentsvg{
				background-image: url(../img/memimg/mycomment.svg);
			}
			a.myentrysvg{
				background-image: url(../img/memimg/myentry.svg);
			}
			a.myeditsvg{
				background-image: url(../img/memimg/myedit.svg);
			}
			a.bebosssvg{
				background-image: url(../img/memimg/beboss.svg);
			}
		}//sidebar li end
		li:hover a{
			background-color: $globalAccountColor;
			right: 0px;
		}
		li:hover a{
			background-image: url(../img/memimg/myfollow2.svg);
		}
		li:hover a.mycommentsvg{
			background-image: url(../img/memimg/mycomment2.svg);
		}
		li:hover a.myentrysvg{
			background-image: url(../img/memimg/myentry2.svg);
		}
		li:hover a.myeditsvg{
			background-image: url(../img/memimg/myedit2.svg);
		}
		li:hover a.bebosssvg{
			background-image: url(../img/memimg/beboss2.svg);
		}
	}//sidebar end
	
	@media screen and (max-width: 767px) {
		.sidebar{
			display: none;
		}
	}//RWD end

//===內容共用的設定==================================================
	.content{
		max-width: 1000px;
		width: 69.4444%;
		margin: 0 auto;
		text-align: center;
		color: $globalFontColor;

		h1 img{
			height: 100px;
		}
		section{
			width: 100%;
			margin: 0 auto 50px;
		}
		section:after{
			content: '';
			display: block;
			clear: both;  
		}
		p{
			padding: 5px 0;
		}
		ul{
			list-style-type: none;
		}
		a{
			text-decoration: none;
			color: $globalLinkColor;
		}
		img{
			max-width: 100%;
			vertical-align: bottom;
		}
		input{
			outline: none;
			padding: 2px;
			font-family: $globalFont;
			font-size: $globalBtnSize;
		}
		//設定input placeholder樣式
		input::-webkit-input-placeholder { /* WebKit browsers */
		    color: $globalUnclickColor;
		}
		input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color: $globalUnclickColor;
		}
		input::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color: $globalUnclickColor;
		}
		input:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color: $globalUnclickColor;
		}
		
		input:focus{
			border: 1px solid rgba(240, 100, 40, 0.3);
			box-shadow: 0 0 2px $globalStarColor;
		}//設定input:focus樣式

		.myfollow, .msg, .myentry{
			transition: box-shadow 1s;
		}//hover長陰影時間

//===我的追蹤==================================================
	.myfollow{
		width: 220px;
		float: left;
		overflow: hidden;
		text-align: justify;
		line-height: 1.3;
		position: relative;
		background-color: $globalBgColor;
		border-radius: 5px;
		margin-bottom: 15px;

		a{
			display: block;
		}
		h2, address{
			margin: 8px;
		}
	}//myfollow end

	.myfollow:nth-child(n+2){
		margin-left: 30px;
	}
	.myfollow:hover{
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	}//hover長陰影

	//小按鈕樣式
	.btn50{
		width: 50px;
		height: 50px;
		text-align: center;
		color: $globalAltColor;
	}//btn50 end	

		
	#cancelfollow{
		float: right;
		margin: -55px 2px 0 0;
		&:after{
		content: '取消追蹤';
		font-size: $globalCardSize;
		vertical-align: top;
		}
	}//取消追蹤

	#mappointer{
		text-align: center;
		display: block;
		&:after{
		display: block;
		content: '地圖';
		font-size: $globalCardSize;
		vertical-align: top;
		}
	}//地圖
	
		
	.myfollow > ul{
		height: 16px;
		   margin-left: 8px;
		
		.star{
			display: inline-block;
			img{
			width: 16px;
			vertical-align: top;
			}
		}
	}//評價星星數

	time{
		color: $globalUnclickColor;
		font-size: $globalCardSize - 2px;
		float: right;
		margin: -20px 10px 0px;
	}//日期時間小字樣式

	@media screen and (max-width: 767px) {
		.myfollow{
			width: 100%;
			margin-bottom: 30px;
		}
		.myfollow:nth-child(n+2){
			margin-left: 0px;
		}
		.btn50{
			padding: 0 10%;
		}
		#cancelfollow{
			position: absolute;
	    	bottom: 24px;
	    	right: 10px;
	    	margin-top: 0px;
		}
		time{
			margin: 5px 10px;
			float: left;
		}
	}//RWD end

//===我的留言==================================================
	.mycomment{
		margin: auto;
		list-style-type: none;

		/*用漸層設定綠色線段*/
		background-image: linear-gradient(90deg, $globalAccountColor 10px, $globalAccountColor 10px );
		background-size: 2px 100px;
		background-position: center top;
		background-repeat: repeat-y;

		li{
			width: 50%;
			position: relative;
			margin-bottom: 20px;
			.msg{
				padding: 10px;
				min-height: 60px;
			    text-align: justify;
			    border-radius: 5px;
				margin-right: 40px;
				background-color:$globalBgColor;
				position: relative;

				time{
					margin: 5px 50px 0 0;
				}//留言時間

				.storepic{
					width: 50px;
					height: 50px;
					border-radius: 25px;
					overflow: hidden;
					position: absolute;
					right: -65px;
					top: 8px;
					img{
						height: 100%;
						max-width: none;
					}
				}//會員大頭照

				.reply{
					padding: 10px;
				    margin-top: 32px;
					border-radius: 2px;
					background-color:#eee;
					time{
						margin-right: 0;
					}//店長回覆時間
				}//店長回覆

				#del{
					padding: 0%;
					position: absolute;
					top: 0px;
					right: 0;
					&:after{
						content: '刪除';
						font-size: 12px;
						vertical-align: top;
					}
				}//刪除留言按鈕
			}//msg end

			.msg:before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: 10px solid  transparent;
				border-bottom: 10px solid  transparent;
				position: absolute;		
				top: 20px;	
			}//msg前面的小三角形

			.msg:hover {
			    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
			}//hover長陰影
		}//mycomment li end

		li:nth-child(even){
			left: 50%;
			.msg{
				margin-left: 40px;	
				margin-right: 0;
			}
			.storepic{
				left: -65px;
			}
			.msg:before{
				left: -15px;
				border-right: 16px solid $globalBgColor;
			}
		}//偶數欄偏移設定

		li:nth-child(odd) .msg:before{
			right: -15px;
			border-left: 16px solid $globalBgColor;
		}//奇數欄偏移設定
	}//mycomment end

	@media screen and (max-width: 767px) {
		.mycomment{
			background-position: left top;
			li{
				width: 100%;
				.msg{
					margin: 0 0 0 40px;
					time{
						float: none;
						margin: 0;
					}
				}
				.storepic{
					left: -65px;
				}
			}//li end

			li:nth-child(even){
				left: 0;
			}
			li:nth-child(odd) .msg:before{
				left: -15px;
				border-left: none;
				border-right: 16px solid $globalBgColor;
			}
		}//mycomment end
	}//RWD end

//===我的報名==================================================
	.myentry{
		width: 300px;
		height: 200px;
		float: left;
		overflow: hidden;
		text-align: justify;
		line-height: 1.3;
		position: relative;
		border-radius: 5px;
		margin-bottom: 15px;
		h2, address{
			margin: 8px;
			font-weight: normal;
		}
		h2 > a{
			color: $globalBgColor;
		}
		time{
			margin: 30px 0 0 5px;
		}
		.actpic{
			height: 100%;
		}
		.info{
			width: 280px;
			height: 180px;
			padding: 10px;
			background-color: rgba(0,0,0,0.7);
			color: $globalBgColor;
			position: absolute;
			top: 140px;
		   	left: 0;
		   	transition: 1s;
		   	#cancelentry{
				float: right;
				margin: -50px 2px 0 0;
			}
			#cancelentry:after{
				content: '取消報名';
				color: $globalBgColor;
				font-size: 12px;
				vertical-align: top;
			}
		}//info end
	}//myentry end
	.myentry:nth-child(n+2){
		margin-left: 50px;
	}
	.myentry:hover{
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	}
	.myentry:hover .info{
	   	top: 0;
	}

	@media screen and (max-width: 767px) {
		.myentry{
			width: auto;
			margin-bottom: 0px;
			margin-top: 230px;
			overflow: visible;
			.info{
				width: auto;
				position: unset;
				background-color: rgba(0,0,0,0.9);
				margin-top: -400px;
				.btn50{
					padding: 0 10%;
				}
				#cancelentry{
					padding: 0;
					margin: 80px 0;
				}
				time{
					margin: 22px 0 0 8px;
					float: left;
				}
			}
		}//myentry end
		.myentry:nth-child(n+2){
			margin-left: 0px;
		}
	}//RWD end

//===我的報名==================================================
	form{
		p, .checkbox{
			width: 42%;
			height: 50px;
			line-height: 50px;
			margin: 0 29%;
		}
		p{
			margin-bottom: 30px;
		}
		label, input, strong, a.upload{
			text-align: justify;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
			font-size: $globalBtnSize;
		}
		
		span.note{
			font-size: 12px;
			color: $globalBtnColor;
			margin: -28px 100px;
			float: left;
		}
		label{
			width: 100px;
			float: left;
		}
		input, strong, a.upload{
			max-width: 320px;
			width: 100%;
			float: right;
		}
		input{
			border-radius: 2px;
			background: transparent;
			border:none;
			border-bottom: 1px solid $globalUnclickColor;
		}
		input[type="submit"], a.upload, .openlightbox{
			width: 145px;
			height: 50px;
			border-radius: 25px;
			text-align: center;
			border: 1px solid $globalBtnColor;
			color: $globalBtnColor;
			cursor: pointer;
			margin-right: 30px;
			line-height: 48px;
		}
		input[type="submit"]{
			color: $globalBgColor;
			background: $globalBtnColor;
			float: none;
			line-height: 40px;
		}
		.userpic{
			width: 80px;
			height: 80px;
			border-radius: 40px;
			background-color: $globalBtnColor;
			margin: 0 auto;
			margin-bottom: -75px;
		    margin-right: 520px;
		    overflow: hidden;
		    img{
				height: 100%;
				max-width: none;
				width: auto;
			}
		}//上傳照片

		.upload:hover, .openlightbox:hover{
			color: $globalBgColor;
			background: $globalBtnColor;
			transition: .3s ease;
		}
		.upload{
			position: relative;
			float: left;
		}
		input[type="file"]{
			position: absolute;
			opacity: 0;
			top: 2px;
		    left: 28px;
		    width: 80px;
			cursor: pointer;
		}

		.checkbox{
			margin-left: 34%;
			overflow: hidden;
			line-height: 50px;
			padding: 10px 0;
			.openlightbox{
				float: none;
			}
		}//變更密碼光箱按鈕

		.box{
			display: none;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: fixed;
			top: 0px;
			left: 0px;
			background-color: rgba(50, 50, 50, 0.5);
			transition: width 0s 1s,
						height 0s 1s,
						background-color 1s;
			.changepsw{
				width: 330px;
				height: 390px;
				background-color: $globalBgColor;
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				margin: auto;
				box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
				p{
					margin: 0 auto;
				    width: 290px;
				    padding: 20px;
				}
				label{
				    width: 25%;
				}
				input{
				    max-width: 75%;
				}
				input[type="submit"]{
					width: 145px;
					margin: 0 auto;
				}
				h1{
					width: 100%;
				    padding: 10% 5%;
				    text-align: justify;
				    color: $globalBgColor;
				    position: relative;
				    box-sizing: border-box;
				    background: $globalHdColor01;
				    background: -moz-linear-gradient(left, $globalHdColor01 0%, $globalHdColor02 100%);
				    background: -webkit-gradient(linear, left left, left right, color-sleft(0%, $globalHdColor01), color-sleft(100%, $globalHdColor02));
				    background: -webkit-linear-gradient(left, $globalHdColor01 0%, $globalHdColor02 100%);
				    background: -o-linear-gradient(left, $globalHdColor01 0%, $globalHdColor02 100%);
				    background: -ms-linear-gradient(left, $globalHdColor01 0%, $globalHdColor02 100%);
				    background: linear-gradient(to right, $globalHdColor01 0%, $globalHdColor02 100%);
				}
				img{
					width: 40px;
					height: 40px;
					position: absolute;
					top: 10px;
				    right: 10px;
				}
			}//changepsw end
		}//光箱box end

	@media screen and (max-width: 767px) {
		p{
			width: 100%;
			margin: 0px;
			padding: 0px;
			vertical-align: bottom;
		}
		.userpic{
			width: 150px;
			height: 150px;
			border-radius: 75px;
			margin: 0 auto;
		}
		input, .openlightbox, a.upload{
			margin-bottom: 30px;
		}
		strong{
			margin-bottom: 45px;
		}
		span.note{
			margin: -70px 0px;
		}
		.checkbox {
			width: 100%;
			height: auto;
		    margin: 0 auto;
		}
		.openlightbox, input[type="submit"], a.upload{
			width: 240px;
			margin-left: auto;
			margin-right: auto;
		}
		input[type="submit"]{
			margin-bottom: 0px;
		}
		input[type="file"]{
		    width: 185px;
		}
	}//RWD end
		
	}//form end
	}//content end
}//container end