
@import "basic/setting";
@import "basic.scss"; //scss of header vs footer
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: $globalFtColor;
	background: -webkit-radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	background: -o-radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	background: -moz-radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	background: radial-gradient(ellipse,$globalBgColor, $globalFtColor);
	font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
	font-size: $globalContentSize;
	font-weight: 300;
	color: $globalFontColor;
}

h1 {
	font-size:$globalh1Size;
	color:$globalTitleColor;
}
h2 {
	font-size: $globalh3Size - 2px;
}
h3 {
	font-size: $globalBtnSize;
}
h2, h3 {
	font-weight: 500;
}
address{
	font-size: $globalContentSize - 2px;
	line-height: 1.6em;
	font-style: normal;
}
p{
	padding: 5px 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: $globalLinkColor;
}
img{
	max-width: 100%;
	vertical-align: bottom;
}
input, textarea{
	outline: none;
	padding: 2px;
	font-family: $globalFont;
	font-weight: lighter;
}
//設定input placeholder樣式
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
	   color: $globalUnclickColor;
}
input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color: $globalUnclickColor;
}
input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color: $globalUnclickColor;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
	   color: $globalUnclickColor;
}
input:not(.radio):focus, textarea:focus{
	border: 1px solid rgba(240, 100, 40, 0.3);
	box-shadow: 0 0 2px $globalStarColor;
}//設定input:focus樣式

.myfollow, .msg, .myentry{
	transition: box-shadow 1s;
}//hover長陰影時間

//===會員專區共用的設定==================================================
.container{
	position: relative;
	margin: 0 auto;

//===側邊欄==================================================
	.sidebar{
		width: 210px;
		height: 310px;
		position: absolute;
		top: 100px;
		left: 0;
		z-index: 1;
		li{
			position: relative;
			height: 60px;
			margin-bottom: 2px;
			a{
				color: $globalBgColor;
				width: 100%;
				height: 60px;
				line-height: 60px;
				font-size: $globalBtnSize;
				padding-left: 16px;
			    padding-right: 80px;
				text-align: right;
				background-color: transparent;
				border-bottom-right-radius: 30px;
			    border-top-right-radius: 30px;
			    background-image: url(../img/memimg/myfollow.svg);
			    background-repeat: no-repeat;
			    background-position: right center;
			    position: absolute;
			    right: 140px;
			    transition: right 1.5s,
			    			background-color 1s;
			}//sidebar a end
			a.mycommentsvg{
				background-image: url(../img/memimg/mycomment.svg);
			}
			a.myentrysvg{
				background-image: url(../img/memimg/myentry.svg);
			}
			a.myeditsvg{
				background-image: url(../img/memimg/myedit.svg);
			}
			a.bebosssvg{
				background-image: url(../img/memimg/beboss.svg);
			}
		}//sidebar li end
		li:hover a{
			background-color: $globalAccountColor;
			right: 0px;
		}
		li:hover a{
			background-image: url(../img/memimg/myfollow2.svg);
		}
		li:hover a.mycommentsvg{
			background-image: url(../img/memimg/mycomment2.svg);
		}
		li:hover a.myentrysvg{
			background-image: url(../img/memimg/myentry2.svg);
		}
		li:hover a.myeditsvg{
			background-image: url(../img/memimg/myedit2.svg);
		}
		li:hover a.bebosssvg{
			background-color: $globalBossColor;
			background-image: url(../img/memimg/beboss2.svg);
		}
	}//sidebar end
	
	@media screen and (max-width: 767px) {
		.sidebar{
			display: none;
		}
	}//RWD end

//===內容共用的設定==================================================

	.content{
		max-width: 1200px;
    	width: 83.3333%;
    	min-height: 60vh; //防止footer往上跑
		margin: 0 auto;
		margin-top: 100px;
		text-align: center;

		h1 img{
			height: 100px;
		}

		.section1000{
			max-width: 1000px;
    		width: 83.3333%;
    		margin: 0 8.33335% 50px;
    		padding: unset;
    		float: none;
		}
		.section1000:after, .memBeBoss:after{
			content: '';
			display: block;
			clear: both;  
		}

	input[type="submit"], input[type="button"], .upload, label.openpsw, .btn{
		width: 145px;
		height: 50px;
		border-radius: 25px;
		text-align: center;
		font-size: $globalBtnSize;
		border: 1px solid $globalBtnColor;
		color: $globalBtnColor;
		cursor: pointer;
		line-height: 48px;
		box-sizing: border-box;
	}
	.btn{
		display: block;
		margin: 0 auto;
	}
	input[type="submit"], input[type="button"]{
		color: $globalBgColor;
		background: $globalBtnColor;
		float: none;
		line-height: 40px;
		transition: box-shadow 1s;
		margin: 0 auto;
	}
	input[type="file"]{
		opacity: 0;
	    width: 130px;
		cursor: pointer;
	}
	.upload:hover, label.openpsw:hover, .btn:hover{
		color: $globalBgColor;
		background: $globalBtnColor;
		transition: .3s ease;
	}
	.upload{
		position: relative;
		float: left;
	}
	input[type="submit"]:hover, input[type="button"]:hover{
		box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
	}

//===我的追蹤==================================================
	.myfollow{
		width: 220px;
		float: left;
		overflow: hidden;
		text-align: left;
		position: relative;
		background-color: #fff;
		border-radius: 5px;
		margin-bottom: 30px;

		a{
			display: block;
		}
		h2, address{
			margin: 8px;
		}
	}//myfollow end

	.myfollow:nth-child(n+2){
		margin-left: 4%;
	}
	.myfollow:hover{
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	}//hover長陰影

	//小按鈕樣式
	.btn50{
		width: 50px;
		height: 50px;
		text-align: center;
		color: $globalAltColor;
	}//btn50 end	

		
	#cancelfollow{
		float: right;
		margin: -55px 2px 0 0;
		&:after{
		content: '取消追蹤';
		font-size: $globalCardSize;
		vertical-align: top;
		}
	}//取消追蹤

	#mappointer{
		text-align: center;
		display: block;
		&:after{
		display: block;
		content: '地圖';
		font-size: $globalCardSize;
		vertical-align: top;
		}
	}//地圖
		
	.myfollow > ul{
		height: 16px;
		   margin-left: 8px;
		.star{
			display: inline-block;
			img{
			width: 16px;
			vertical-align: top;
			}
		}
	}//評價星星數

	time{
		color: $globalUnclickColor;
		font-size: $globalCardSize - 2px;
		float: right;
		margin: -20px 10px 0px;
	}//日期時間小字樣式

	@media screen and (max-width: 767px) {
		.myfollow{
			width: 100%;
		}
		.myfollow:nth-child(n+2){
			margin-left: 0;
		}
		.btn50{
			padding: 0 10%;
		}
		#cancelfollow{
			position: absolute;
	    	bottom: 28px;
	    	right: 10px;
	    	margin-top: 0px;
		}
		time{
			margin: 5px 10px;
			float: left;
		}
	}//RWD end

//===我的留言==================================================
	.mycomment{
		/*用漸層設定綠色線段*/
		background-image: linear-gradient(90deg, $globalAccountColor 10px, $globalAccountColor 10px );
		background-size: 2px 100px;
		background-position: center top;
		background-repeat: repeat-y;

		li{
			width: 50%;
			position: relative;
			margin-bottom: 20px;
			.msg{
				padding: 10px;
				min-height: 60px;
			    text-align: justify;
			    border-radius: 5px;
				margin-right: 40px;
				background-color:#fff;
				position: relative;

				time{
					margin: 5px 50px 0 0;
				}//留言時間

				.storepic{
					width: 50px;
					height: 50px;
					border-radius: 25px;
					overflow: hidden;
					position: absolute;
					right: -65px;
					top: 8px;
					img{
						height: 100%;
						max-width: none;
					}
				}//會員大頭照

				.reply{
					padding: 10px;
				    margin-top: 32px;
					border-radius: 2px;
					background-color:#eee;
					display: none;
					time{
						margin-right: 0;
					}//店長回覆時間
				}//店長回覆

				#del{
					padding: 0%;
					position: absolute;
					top: 0px;
					right: 0;
					&:after{
						content: '刪除';
						font-size: 12px;
						vertical-align: top;
					}
				}//刪除留言按鈕
			}//msg end

			.msg:before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-top: 10px solid  transparent;
				border-bottom: 10px solid  transparent;
				position: absolute;		
				top: 20px;	
			}//msg前面的小三角形

			.msg:hover {
			    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
			}//hover長陰影
		}//mycomment li end

		li:nth-child(even){
			left: 50%;
			.msg{
				margin-left: 40px;	
				margin-right: 0;
			}
			.storepic{
				left: -65px;
			}
			.msg:before{
				left: -15px;
				border-right: 16px solid #fff;
			}
		}//偶數欄偏移設定

		li:nth-child(odd) .msg:before{
			right: -15px;
			border-left: 16px solid #fff;
		}//奇數欄偏移設定
	}//mycomment end

	@media screen and (max-width: 767px) {
		.mycomment{
			background-position: left top;
			li{
				width: 100%;
				.msg{
					margin: 0 0 0 40px;
					time{
						float: none;
						margin: 0;
					}
				}
				.storepic{
					left: -65px;
				}
			}//li end

			li:nth-child(even){
				left: 0;
			}
			li:nth-child(odd) .msg:before{
				left: -15px;
				border-left: none;
				border-right: 16px solid $globalBgColor;
			}
		}//mycomment end
	}//RWD end

//===我的報名==================================================
	.myentry{
		width: 300px;
		height: 200px;
		float: left;
		overflow: hidden;
		text-align: justify;
		position: relative;
		border-radius: 5px;
		margin-bottom: 30px;
		h2, address{
			margin: 8px;
		}
		h2 > a{
			color: $globalBgColor;
		}
		h2:hover{
			text-decoration: underline;
		}
		time{
			margin: 20px 0 0 5px;
		}
		.actpic{
			height: 100%;
		}
		.info{
			width: 280px;
			height: 180px;
			padding: 10px;
			background-color: rgba(0,0,0,0.7);
			color: $globalBgColor;
			position: absolute;
			top: 140px;
		   	left: 0;
		   	transition: 1s;
		   	#cancelentry{
				float: right;
				margin: -50px 2px 0 0;
			}
			#cancelentry:after{
				content: '取消報名';
				color: $globalBgColor;
				font-size: 12px;
				vertical-align: top;
			}
		}//info end
	}//myentry end
	.myentry:nth-child(n+2){
		margin-left: 5%;
	}
	.myentry:hover{
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	}
	.myentry:hover .info{
	   	top: 0;
	}

	@media screen and (max-width: 767px) {
		.myentry{
			width: auto;
			margin-top: 200px;
			overflow: visible;
			.info{
				width: auto;
				position: unset;
				background-color: rgba(0,0,0,0.9);
				margin-top: -400px;
				.btn50{
					padding: 0 10%;
				}
				#cancelentry{
					padding: 0;
					margin: 80px 0;
				}
				time{
					margin: 12px 0 0 8px;
					float: left;
				}
			}
		}//myentry end
		.myentry:nth-child(n+2){
			margin-left: 0px;
		}
	}//RWD end

//===編輯個人資料==================================================
	form{
		p{
			width: 42%;
			height: 50px;
			line-height: 50px;
			margin: 0 29%;
		}
		p{
			margin-bottom: 30px;
			clear: both;
		}
		label, input, strong{
			text-align: justify;
			height: 100%;
			display: inline-block;
			box-sizing: border-box;
		}
		span.note{
			font-size: 12px;
			color: $globalBtnColor;
			margin: -28px 90px;
			float: left;
		}
		label{
			width: 90px;
			float: left;
		}
		label.openpsw{
			float: unset;
			margin-right: 30px;
		}
		input, strong, textarea{
			max-width: 320px;
			width: 100%;
			float: right;
		}
		a.upload{
			float: right;
		}
		input, textarea{
			border-radius: 2px;
			background: transparent;
			border:none;
			border-bottom: 1px solid $globalUnclickColor;
		}
		textarea{
			box-sizing: border-box;
			resize: none;
	    	height: 200px;
			border: 1px solid rgba(187,187,187,0.3);
			border-bottom: 1px solid $globalUnclickColor;
			margin-bottom: 30px;
		}//成為店長_故事介紹輸入框
		input[type="number"]{
			width: 30%;
			float: none;
			text-align: center;
		}//成為店長營業時間選項
		.userpic{
			width: 80px;
			height: 80px;
			border-radius: 40px;
			background-color: $globalUnclickColor;
			background-image: url(../img/member_pic/signin2.svg);
			margin: 0 auto;
			margin-bottom: -75px;
		    margin-right: 520px;
		    overflow: hidden;
		    img{
				height: 100%;
				max-width: none;
				width: auto;
			}
		}//userpic
		input[type="file"]{
			position: absolute;
			top: 1px;
		    left: 8px;
		}//上傳照片
		.psw{
			display: none;
		}//old and new psw's input

	@media screen and (max-width: 767px) {
		p{
			width: 100%;
			margin: 0px;
			padding: 0px;
			vertical-align: bottom;
		}
		.userpic{
			width: 150px;
			height: 150px;
			border-radius: 75px;
			margin: 0 auto 30px;
		}
		input, label.openpsw, a.upload{
			margin-bottom: 30px;
		}
		strong{
			margin-bottom: 45px;
		}
		span.note{
			margin: -70px 0px;
		}
		input[type="submit"], .upload{
			margin-left: auto;
			margin-right: auto;
		}
		label.openpsw{
			margin-right: unset;
		}
		input[type="submit"]{
			margin-bottom: 0px;
		}
		input[type="number"]{
			width: 18%;
		}//成為店長營業時間選項
	}//RWD end
	}//form end

//===成為店長_第1頁==================================================
	.memBeBoss{
		max-width: 1200px;
		width: 120%;
		margin: 0 auto 50px;
		.memfigure{
			width: 265px;
			float: left;
			padding: 0 15px;
			margin-bottom: 50px;
			figure{
				width: 64%;
				padding: 0 18%;
			}
			h2{
				color:$globalTitleColor;
			}
		}//memfigure end
	}//memBeBoss end
	.memBeBoss1{
		.radio{
			width: 4%;
    		margin: 0 5px;
    		display: inline-block;
    		float: none;
    		vertical-align: top;
    	}
    	.radio:last-child{
			margin-left: 20%;
		}
	}//memBeBoss1 end

	.required{
		color:$globalBtnColor;
	}

	@media screen and (max-width: 767px) {
		.memBeBoss{
			text-align: left;
			max-width: 1000px;
    		width: 83.3333%;
    		margin: 0 8.33335% 50px;
			.memfigure{
				width: 100%;
				padding: 0 0;
			}
		}//memBeBoss end
		.memBeBoss1{
			h1{
				font-size: $globalh3Size - 2px;
			}
			h1, p{
				text-align: left;
			}
			.radio{
				width: 8%;
				margin-left:0%;
			}
			.radio:last-child{
				margin-left: 3%;
			}
		}//memBeBoss1 end
	}//RWD end

//===成為店長_第2、3頁==================================================
	h1.find{
		margin-bottom: 30px;
	}
	.myfollow.find{
		width: 22%;
		margin-left: 25%;
	}
	.action{
		width: 30%;
    	margin: 13% 10%;
    	float: right;
	}//action end
	
	@media screen and (max-width: 767px) {
		h1.find{
			font-size: $globalh3Size - 2px;
			text-align: left;
		}
		.myfollow.find, .action{
			width: 100%;
			margin: 0 auto;
		}
		.action{
			margin: 30px 0;
		}
		h1{
			font-size: $globalh3Size - 2px;
		}
		h1, p{
			text-align: left;
		}
	}//RWD end

	}//content end
}//container end