@charset "UTF-8";
@import "basic/setting";
@import "member/myBusiness/store/_FMybusinessStorVar.scss";
@import "member/myBusiness/store/_FMybusinessStorMixin.scss";

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: $globalFtColor ;
}

// .coverHeader{
// 	// width: 100vw;
// 	height: 100px;
// }

// header{
// 	z-index: 3;
// }

// .coverSubtitile{
// 	height: 60px;
// 	.subtitle{
// 		height: 60px;
// 		width: 100vw;
// 		position: fixed;
// 		top: 100px;
// 		z-index: 3;
// 		h2{
// 			line-height: 60px;
// 			font-size: 20px;
// 			background-color:$MybusinessStore-subtitle-bgColor;
// 			padding-left: 20px;
// 			color:#fff;
// 		}
// 	}
// }

//--------------------------container樣式-------------------------



.container{
	width: 100%;
	height: 76vh;
	text-align:center;
	background-image: url("../img/memHome.png");
	background-repeat: no-repeat;
	background-position: center bottom; /*靠左 靠上*/
	background-size: cover; /*背景圖縮小至容器內*/
	background-origin: border-box; /*將背景定位在外邊框*/
	
	img{
		width: 100%;
	}

	.memHome{
		width: 100%;

		.memTitle{
			height: 15%;
			margin: 0px 35.4166% 30px 35.4166%;
			padding-top: 85px;
		}
	}

	.memHomeItemGroup{
		margin: 0 14%;

		.memHomeItem{
			width: 200px;
			margin: 0px 4%;
			float: left;

			span{
				color:$globalFtColor;
				font-size: $globalh3Size;
			}

			img{
				box-shadow: $boxShadow;
			}
		}
	}
}










//留言框設定
// ._21es {
//     background: #fff;
//     border: 0;
//     border-radius: 3px;
//     box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
//     padding: 10px 34px 12px 10px;}


