@import 'basic.scss';

// ==================================
body {
	background:url("../img/homepage/homepage_bg0.png") repeat ;

}


img{
	vertical-align:top;
}
.search_title{
	margin-top:12vw;
	color:$globalTitleColor;
	text-align:center;
}
.search_result{
	
	margin:2vw auto 2vw;
	text-align:center; 
	  
	h1{
		font-size: 26px;
		margin-right: 10px;
		display:inline-block;
		font-weight:600;
		color:$globalFontColor ;
		#numberOf{
			color:#f06428;
		}   
	}	//h1
	.tag-fa{
		height: 35px;
		
		margin-top:5px;
		display:inline-block;
		.tag{
			margin:0 10px 0 15px;
			padding:3px 15px;
			font-size:20px;
			font-weight:400;
			color:$globalBgColor ;
			background-color:$globalStarColor;
			position:relative;
			height: 29px;
    		border-radius: 5px;
    		display: inline-block;
		}
	

		.head{	
				top:0;
				position: absolute;
				left:-20px;
				width:50px;
				height:35px;
				background-color:$globalStarColor;
				border-radius:50%;
				z-index:-1;
				&:before{
					content:'';
					position:absolute;
					top:40%;
					left:20%;
					width:10px;
					height:10px;
					border-radius:50%;
					background-color:$globalBgColor ;
				}
		}
		.tag-fa:last-child{
				margin-right:5px;
			}
	}
	
}  //.search_result
.none_store{
			height:50vh;
			h1{	width:80%;
				margin:auto;
				font-size:24px;
				text-align:center;
				color:$globalLinkColor;
			}
		}

// ============================================================
.search_store{
	margin: 5vw auto 300px;
	max-width:800px;
	.search_storeOne{
		background-color:$globalBgColor;
		width:100%;
		margin:25px auto;
		overflow:hidden;
		border:$globalUnclickColor solid 1px;
		&:hover {
			background-color: rgba(234, 178, 96, 0.5) !important;
		}
		.search_storeImg {
			float:left;
			overflow:hidden;
			height:200px;
			box-sizing: border-box;
			
			background:url('../img/search-1.png') center center;
			background-size:cover;
			img{
				width:100%;
			}
		}//.search_storeImg


		
		.search_storeContent{
			float:left;
			padding:10px 10px;
			height:200px;
			box-sizing:border-box;
			h2{
				
				a {
		    		overflow: hidden;
		    		text-overflow: ellipsis;
		    		width: 100%;
		    		white-space: nowrap;
		    		display: block;
			&:hover {
				color: #f06428;
			}
		}
				
			}
			.search_follow{
				// float:left;
				// width:30px;
				display:inline-block;
				box-sizing:content-box;
				// padding:0 0 0 20px;
				img {
					position: relative;
    				top: -5px;
					width:40px;
					vertical-align: -webkit-baseline-middle;
				}
				
			}
			#search_map1{

				display:none;
				position:absolute;
				top:0px;
				right:0;
			}
			#search_followNum{
				color:#bbb;
				font-size:16px;
				padding:6px 0 0;
				display: inline-block;
				position: relative;
    			left: -7px;
	
			}
			.search_storeStar{
				display:inline-block;
				height:20px;
				margin-top: 5px;
				margin-bottom: 10px;
				ul{
				   display: inline-block;
    				position: relative;
    				top: 2px;
    					left: 10px;
				}

				li{
					display:inline-block;
					width:20px;
					img{
						height:100%;
					}
				}
			}
			.search_storeInfor{
				line-height: 20px;
				ul{ 
					position:relative;
					li{
						list-style: none;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    width: 100%;
					    white-space: nowrap;
					    color:#000;
					}
					
				}
			}



		}//.search_storeContent
		
		.search_storeMap{
			box-sizing: border-box;
			float:left;
			padding:0;
			height:200px;
			.noneMap{
				p{	margin:50px;
					text-align:center;
					color:$globalLinkColor;
				}
			}
		}//.search_storeMap

				
	}//.search_storeOne
		.search_map{
				height:100%;
			}
	
}

// =====================================rwd==================


@media screen and (min-width:960+px)
{
	.search_store{
		width:65%;
	}
	.search_storeOne{
		min-height:150px;
		max-height:200px;
	}
	
}
@media screen and (min-width:768+px) and (max-width:959+px)
{
	.search_store{
		width:90%;
	}
	.search_storeOne{
		min-height:150px;
		max-height:200px;
	}

}
@media screen and  (max-width:767+px)
{
	.search_store{
		width:80%;

	}
	.search_content {
		.search_title{margin-top:25vw;}
		.search_result{
			margin:5vw auto 2vw;
		}
		.search_store{
			.search_storeOne{
			.search_storeMap{
				height:25vh;
			}	
				.search_storeContent{

					.search_storeInfor{
						a{
							width: 100%;
						}
						#search_map1{
							display:inline;
						}
					}
				}
			}
		}
	}

}
