@import 'basic.scss';

// ==================================

img{
	vertical-align:top;
}
.search_title{
	margin-top:8vw;
	color:$globalTitleColor;
	text-align:center;
}
.search_result{
	
	margin:2vw auto 2vw;
	text-align:center;
	
	h1{
		font-size: 26px;
		margin-right: 10px;
		display:inline-block;
		font-weight:600;
		color:$globalFontColor ;
		#numberOf{
			color:#f06428;
		}   
	}	//h1
	.tag-fa{
		    height: 35px;
		margin-top:5px;
		display:inline-block;
		.tag{
			margin:0 10px 0 15px;
			padding:3px 15px;
			font-size:20px;
			font-weight:400;
			color:$globalBgColor ;
			background-color:$globalStarColor;
			position:relative;
			height: 29px;
    		border-radius: 5px;
    		display: inline-block;
			
		}
	

		.head{	
				top:0;
				position: absolute;
				left:-20px;
				width:50px;
				height:35px;
				background-color:$globalStarColor;
				border-radius:50%;
				z-index:-1;
				&:before{
					content:'';
					position:absolute;
					top:40%;
					left:20%;
					width:10px;
					height:10px;
					border-radius:50%;
					background-color:$globalBgColor ;
				}
		}
		.tag-fa:last-child{
				margin-right:5px;
			}
	}
	
}  //.search_result

.search_mapcar{
	width:100%;
	// height:50vw;
	position:relative
}
#map-now1{
	
	width:100%;
	height:50vw;
	z-index:1;
}



// ============================================================
.search_store{
	margin:3% 0;
	z-index:5;
	background-color:rgba(255, 255, 255, .7);
	position:absolute;
	right:3%;
	

	
	.search_storeOne{
		width:90%;
		margin:25px auto;
		overflow:hidden;
		border:$globalUnclickColor solid 1px;
		.search_storeImg {
			float:left;
			overflow:hidden;
			height:200px;
			box-sizing: border-box;
			
			background:url('../img/search-1.png') center center;
			background-size:cover;
			img{
				width:100%;
			}
		}//.search_storeImg
		.search_storeContent{
			float:left;
			padding:10px 10px;
			
			box-sizing:border-box;
			h2{
				float:left;
				
			}
			.search_follow{
				float:left;
				width:30px;
				padding:0 0 0 20px;
				img {
					vertical-align: -webkit-baseline-middle;
				}
				
			}
		
			#search_followNum{
				color:#bbb;
				float:left;
				font-size:16px;
				padding:6px;
			}
			.search_storeStar{
				height:20px;
				margin-top: 40px;
				margin-bottom: 10px;
				li{
					display:inline-block;
					width:20px;
					img{
						height:100%;
					}
				}
			}
			.search_storeInfor{
				line-height: 20px;
				ul{ position:relative}
			}



		}//.search_storeContent
		
		.search_storeMap{
			box-sizing: border-box;
			float:left;
			padding:0;
			height:200px;
			#map-now{
				height:100%;
			}
		}//.search_storeMap

				
	}//.search_storeOne
		#map-now2{
				height:100%;
			}
	
}

// =====================================rwd==================


@media screen and (min-width:960+px)
{

	.search_storeOne{
		min-height:150px;
		max-height:160px;
	}
	
}
@media screen and (min-width:768+px) and (max-width:959+px)
{
	.search_store{
		width:90%;
	}
	.search_storeOne{
		min-height:150px;
		max-height:200px;
	}

}
@media screen and  (max-width:767+px)
{
	
	.search_content {
		.search_title{
			margin-top:12vh;
		}
		.search_result{
			margin:0 auto 10px ;
			.tag-fa{
				width:100%;
			}
		}
		.search_mapcar{
			overflow:-webkit-paged-x;
			// height:none;
			#map-now1{
				height: 45vh;
			}
			.search_store{
				bottom:0%;
				width:95%;
				margin:auto;
				overflow: auto;
    			max-height: 200px;
    			position:relative;
				.search_storeOne{
					width:100%;
					margin:auto;
				.search_storeMap{
					
				}	
					.search_storeContent{
						.search_storeInfor{
							#search_map1{
								display:inline;
							}
						}
					}
				}
			}  //.search_store   
		}//.search_mapcar
	}//.search_content

}
@media screen and (min-width:768+px){
 	.search_store{
 		overflow:auto;
 		max-height:44vw;
 		top:0;
 		max-width:800px;
 	}
 	.search_mapcar{
 		     height: 50vw; 
 	}
 	.search_store{
		width:35%;
	}
}