@import "backstage/authority/_BStgBasicVar.scss";
@import "backstage/authority/_BStgBasicMixin.scss";
@import "basic/_var.scss";

input{
	outline: none;
	cursor:pointer;
}

header{
	z-index: 1;
}



.tableArea{
	// float: left;
	// padding-top: $header-height;
	// padding-left: $navition-width;
	// width: $tableContent-width;
	height: 100vh;
	position: relative;
	margin: auto;
	// z-index: -1;
	left:0;
	right: 0;
}



.search{
		
		
		// margin: auto;
		position: fixed;
		z-index: 3;
		left: 0;
		right: 0;
		text-align: center;
		padding-top: 20px;
		background-color: #e6e0d9;
		img{
			position: absolute;
			top: 24px;
			outline: none;
			cursor:pointer;
		}
		input{
			width: 600px;
			height: 40px;
			border-radius: 15px;
			border:none;
			background-color: #b5b5b5;
			opacity:0.5;
			text-indent: 10px;
			&::-webkit-input-placeholder { /* WebKit browsers */
							    color:#000;
							    font-size: 13px;
							    text-indent: 10px;
							    font-family: $globalFont;
							}
		}//input
}// search



.tableHeaderCover{
	width: 100%;
	height: 78px;
	position: relative;
	background-color: #e6e0d9;
	// margin-top:80px;
	.tableHeader{
		width: $tableContent-width;
		// padding-top: 20px;
		margin: auto;
		position: fixed;
		right: 0;
		left: 0;
		margin-top: 50px;
		// left: 20vw;
		// margin-bottom: 10px;
		overflow: hidden;
		border-spacing: 0px;
		tr{
			border-bottom:4px solid #d1c2b5 ;
			border-collapse: collapse;
			td{
				color:$tableContent-word-color;
				background-color: #e6e0d9;
				height: 50px;
				text-align: center;
				border-bottom:4px solid #d1c2b5 ;
				border-collapse: collapse;
				padding-top: 20px;

				&:nth-child(1){
					width: $table-col2;
				}
				&:nth-child(2){
					width: $table-col2;
				}
				&:nth-child(3){
					width: $table-col2;
				}
				&:nth-child(4){
					width: $table-col2;
				}
				&:nth-child(5){
					width: $table-col2;
				}
				&:nth-child(6){
					width: $table-col2;
				}

			}
		}

	}
}




.tableContent{
	width: $tableContent-width;
	// padding-top: 70px;
	margin-right: 0;
	margin-left: 0;
	margin: auto;
	margin-bottom: 160px;
	margin-top: 50px;
	// padding-top: 80px;
	tr{
		background-color: #ffffff;
		&:hover{
		background-color:#e1ccb0;
		}
	
		td{
			color:$tableContent-word-color;
			
			height: 50px;
			text-align: center;

			&:nth-child(1){
				width: $table-col2;
			}
			&:nth-child(2){
				width: $table-col2;
			}
			&:nth-child(3){
				width: $table-col2;
			}
			&:nth-child(4){
				width: $table-col2;
			}
			&:nth-child(5){
				width: $table-col2;
				text-align: center;
				a{
					width: 80px;
					height: 40px;
					color:#ffffff;
					background-color:#565894;
					border-radius: 10px;
					box-shadow:0 0 0;
					border: none;
					transition:.5s ;
					display: block;
					line-height: 40px;
					text-align: center;
					margin: auto;
					// &#addAuthority{
					// 	background-color: $globalAccountColor;
					// }
				}
			}
			&:nth-child(6){
				width: $table-col2;
				color: #3d35e2;
			}

		}
	}

}





// footer{
// 	// width: 900px;
// 	height: 150px;
// 	position: fixed;
// 	bottom: 0;
// 	left:0;
// 	background-color: #c5beb7;
// 	margin: auto;
// 	.square{
// 		width:$navition-width;
// 		height: 100%;
// 		float: left;
// 	}	


// 	section{
		
// 		.square_2{

// 			margin-top: 20px;

// 			span{
// 				input{
// 					width: 120px;
// 					height: 40px;
// 					color:#ffffff;
// 					background-color:#7e4a1d;
// 					border-radius: 10px;
// 					box-shadow:0 0 0;
// 					margin-top: 5px;
// 					border: none;
// 					@include button-hover();
// 				}
// 			}

// 			label{
// 			display: block;
// 			margin: 5px;

// 				span{
// 					display: inline-block;
// 					width: 100px;
// 					height: 30px;
// 					background-color: #ffffff;
// 					color:$tableContent-word-color;
// 					border-radius: 10px;
// 					margin-right: 10px;
// 					// float: left;
// 					font-size: 16px;
// 					// line-height: 28px;
					
// 				}
// 				input{
// 					display: inline-block;
// 					border-radius: 10px;
// 					height: 30px;
// 					width: 300px;
// 					margin: 0;
//         			padding: 0;
//         			border: none;
//         			cursor:pointer;

// 				}


// 			}
// 		}
	
// 	}
// }


// .dutyColorChange{
// 	background-color:$globalAccountColor !important;
// 	transition:.5s ;
// }
