@import 'basic.scss';

* {
	padding: 0;
	margin: 0;
	// box-sizing:border-box;
}

body {
	background-color: $globalBgColor;
	font-family:$globalFont;
}

input {
	font-family: $globalFont;
}

a {
	text-decoration:none;
	color:$globalLinkColor;
}

.SHOPB_SHOP{
	padding: 0px;
	position: relative;
}

	// .banners {
	// 	background-size: cover;
	// 	width: 100%;
	// 	height: 50vw;
	// 	background-image: url("../img/SHOPB/BN_01.JPG");			
	// 	animation: bannersslide 18s 0s infinite;
	// }
	// @keyframes bannersslide {
	// 	0% { background-image:url("../img/SHOPB/BN_01.JPG")}
	// 	16.66% { background-image: url("../img/SHOPB/BN_01.JPG")}
	// 	33.33% { background-image: url("../img/SHOPB/BN_02.JPG")}
	// 	46.99% { background-image: url("../img/SHOPB/BN_02.JPG")}
	// 	66.66% { background-image: url("../img/SHOPB/BN_03.JPG")}
	// 	83.33% { background-image: url("../img/SHOPB/BN_03.JPG")}
	// 	100% { background-image: url("../img/SHOPB/BN_01.JPG")}
	// }

.banners {
		width: 100%;
		height: 100vh;
    	div {
    		height: 100vh;
			background-size: cover;
			background-position: center center;
			position: absolute;			
			width: 100vw;
    	}	
    }


// .banners img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   display: block;
//   width: 100%;
//   opacity: 0;
//   visibility: hidden;
//   transition: 7s;
// }
// .banners img:first-child {
//   position: static;
// }
// .banners img.show {
//   opacity: 1;
//   visibility: visible;
//   transition:7s;
//   //transition-delay: 1s;
// }
// .banners .prev, .banners .next {
//   display: block;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   cursor: pointer;
//   transition: 0.4s;
//   background-color: rgba(0, 0, 0, 0.12);
//   padding: 14px 12px;
// }
// .banners .prev:hover, .banners .next:hover {
//   background-color: rgba(0, 0, 0, 0.24);
// }
// .banners .prev:after, .banners .next:after {
//   display: block;
//   content: "";
//   width: 10px;
//   height: 10px;
//   border-top: 2px solid #fff;
//   border-right: 2px solid #fff;
// }
// .banners .prev {
//   left: 0;
// }
// .banners .prev:after {
//   transform: rotate(-135deg);
//   margin-left: 4px;
// }
// .banners .next {
//   right: 0;
// }
// .banners .next:after {
//   transform: rotate(45deg);
//   margin-right: 4px;
// }





#SPNAME{
	height:6vw;
	line-height: 6vw;
	background-color: rgba(0,0,0,1);
	color: #FFF;
	text-align: center;
	font-size: 5.5vmin;
	position: absolute;
	top:7vw ;
	left:9vw ;
}

#biginfo{
	position: absolute;
	top:14.5vw ;
	left:9vw ;
}
#SPINFO{
	width: 100%;
	padding:1.5vw;
	box-sizing:border-box;
	background-color: rgba(255,255,255,.7);
	color: #333;
	font-size: 18px;
	line-height: 26px;
	position: absolute;
	top:0vw ;
	left:0vw ;
}
#SPINFO p{
	margin-bottom: 5px;
}
#review-btn{
	width: 58%;
	height:3vw;
	padding:0.5vw;
	box-sizing:border-box;
	line-height: 2vw;
	background-color: rgba(255,255,255,.7);
	color: #333;
	text-align: center;
	font-size: 1.1vw;
	position: absolute;
	top:22vh ;
	left:0px ;
}


  .rating {
        font-size: 0;
        display: inline-block;
        float:left;
    }

    .rating > label {
        color: #AAA;
        float: right;
    }

    .rating > label:after {
        padding: 5px 10px 5px 10px;
        font-size: 1.5vw;
        line-height: 1em;
        display: inline-block;
        content: "★";
    }

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        //color: #FFD700;
        color: $globalStarColor;
    }


    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label,
    .rating > input:checked ~ label:hover ~ label {
        opacity: 0.5;
    }


// #GIVESTAR{
// 	float: left;
// 	width: 2.5vw;
// 	line-height: 2.4vw;
// }
// #GIVESTAR a{
// 	text-decoration: none;
// 	color: $globalAltColor;
// }
// #GIVESTAR a:hover{
// 	text-decoration: none;
// 	color: #333;
// }

.review-mask, .mask {
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	z-index: 4;
	#give-reivew-modal, .modal {
		position: relative;
		top: 50%;
		width: 50%;
		margin: auto;
		left: 0;
		right: 0;
		transform: translateY(-50%);
		background-color: $globalBgColor;
		padding: 10px;
		p {
			text-align: center;
			margin:15px;
			font-size: 18px;
			color: $globalFontColor; 
		}
		ul {
			margin: 20px auto;
			position: relative;
			width: 170px;
			.star {
				width: 30px;
				display: inline-block;
				img {
					width: 100%;
				}
			}
		}
		.btns {
			margin: auto;
			//margin-top: 30px;
			text-align: center;
			div {
				display: inline-block;
				margin-bottom: 10px;
				width: 120px;
    			height: 36px;
    			line-height: 36px;
    			font-size: 16px;
			}
		}
	}
}
#review-btn li {width: 2vw;
				margin: 0vw 0.38vw;
				//display:inline-block;
				float: left;}

#getstar{
	width: 7vw;
	height: 3vw;
	line-height: 3vw;
	background-color: rgba(255,255,255,.7);
	color: #333;
	text-align: center;
	font-size: 1vw;
	position: absolute;
	top: 22vh;
    left: 60%;
}

#trace-btn{
	width: 3vw;
	height:3vw;
	line-height: 0.5vw;
	//background-color: rgba(255,255,255,.7);
	color: #333;
	font-size: 1.1vw;
	position: absolute;
	bottom: 0.5vw ;
	right:0.5vw ;
}
#trace-btn img{
	width: 100%;
    margin-left: -28%;
    margin-bottom: 10%;}
#getfollow{font-size: 14px;
		text-align: center;}


#SPSTORY{
	// height:18vw;
	width: 40vw;
	padding:2vw;
	box-sizing:border-box;
	//line-height: 6vw;
	background-color: rgba(236,225,203,.7);
	color: #333;
	font-size: 18px;
	line-height: 30px;
	position: absolute;
	top:19vw ;
	left:53vw ;
}

#SPHAPPY{
	position: absolute;
	bottom: 1vw;
	left: 7vw;
}

#SPHAPPY img{
	width: 90%;
	// position: absolute;
	// bottom:0;
	// left:4.5vw ;
}
#SPHAPPYDON	{
	position: absolute;
	bottom: 8vw;
	left: 23vw;
}
#SPHAPPYDON img{
	width: 22%;
}

.SPSTORYRWD{display: none;}



.SHOPB_GUOGUOCHUNG{
	width: 100%;
	height: 4vw;
	position: relative;
}
.LLL{
	width: 60vw;
	height: 2.5vw;
	background-color: rgba(188,140,92,.8);
	position: absolute;
	top: 0vw;
	left: 0.8vw;
}
.RRR{
	width: 60vw;
	height: 2.5vw;
	background-color: rgba(236,225,203,1);
	position: absolute;
	top: 1.5vw;
	right: 0.8vw;
}






.SHOPB_PRODUCT{
	position: relative;
}
.SHOPB_PRODUCT>img{
	display: block;
	width: 100%;
	height: 45vw;
	opacity: .8;
		}
.SHOPB_PRODUCT_title{
	color: #AAA;
	font-size: 5.2vmin ;
	line-height: 8vmin;
}
.SHOPB_PRODUCT_title p{
	position: absolute;
	top: 3vw;
	left: 8vw;
}
.bar{
	position: absolute;
	top: 5vw;
	left: 6vw;
	width: 15vw;
	height: 4vw;
	background-color: rgba(0,0,0,.4);
}

#pd1{
	position: absolute;
	top: 7vw;
	left: 44vw;
	color: #f2ebd4;
	text-align: center;
	font-size: 2.2vmin;
	width: 240px;
	height: 240px;
}

.pdimg{
	width: 100%;
	height: 100%;
	background-color: #000;
	border-radius: 50%;
}

#pd1 img{border-radius: 50%;
		 width: 80%;
		 position: absolute;
		 top: 15%;
		 left: 10%;}
#pd2{
	position: absolute;
	top: 10vw;
	left: 22vw;
	color: #f2ebd4;
	text-align: center;
	font-size: 2.2vmin;
	width: 180px;
	height: 180px;
}
#pd2 img{border-radius: 50%;
		 width: 80%;
		 position: absolute;
		 top: 15%;
		 left: 10%;
		}
#pd3{
	position: absolute;
	top: 24vw;
	left: 26vw;
	color: #f2ebd4;
	text-align: center;
	font-size: 2.2vmin;
	width: 180px;
	height: 180px;
}
#pd3 img{border-radius: 50%;
		 width: 80%;
		 position: absolute;
		 top: 15%;
		 left: 10%;}
#pd4{
	position: absolute;
	top: 30vw;
	left: 44vw;
	color: #f2ebd4;
	text-align: center;
	font-size: 2.2vmin;
	width: 180px;
	height: 180px;
}
#pd4 img{border-radius: 50%;
		 width: 80%;
		 position: absolute;
		 top: 15%;
		 left: 10%;}
#pd5{
	position: absolute;
	top: 24vw;
	left: 63vw;
	color: #f2ebd4;
	text-align: center;
	font-size: 2.2vmin;
	width: 180px;
	height: 180px;
}
#pd5 img{border-radius: 50%;
		 width: 80%;
		 position: absolute;
		 top: 15%;
		 left: 10%;}
#pd6{
	position: absolute;
	top: 10vw;
	left: 66vw;
	color: #f2ebd4;
	text-align: center;
	font-size: 2.2vmin;
	width: 180px;
	height: 180px;
}
#pd6 img{border-radius: 50%;
		 width: 80%;
		 position: absolute;
		 top: 15%;
		 left: 10%;}

.pd1_DTL{
	background-color: rgba(255,255,255,.7);
	width: 240px;
	height: 240px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0%;
	color: $globalFontColor;
	display: none;
	}
.pd1_DTL h3{
	font-size: $globalh3Size;
	margin-top: 30%;}
.pd1_DTL p{
	font-size: $globalBtnSize;
	word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

#pd1:hover .pd1_DTL{
			display: inline;
		}
#pd1:hover #dis{
			display: none;
		}



.pd2_DTL,.pd3_DTL,.pd4_DTL,.pd5_DTL,.pd6_DTL{
	background-color: rgba(255,255,255,.7);
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0%;
	color: $globalFontColor;
	display: none;
	}
.pd2_DTL h3{
	font-size: $globalBtnSize;
	margin-top: 25%;}
.pd2_DTL p{
	font-size: $globalContentSize;
	word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

#pd2:hover .pd2_DTL{
			display: inline;
		}
#pd2:hover #dis{
			display: none;
		}

.pd3_DTL h3{
	font-size: $globalBtnSize;
	margin-top: 25%;}
.pd3_DTL p{
	font-size: $globalContentSize;
	word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

#pd3:hover .pd3_DTL{
			display: inline;
		}
#pd3:hover #dis{
			display: none;
		}

.pd4_DTL h3{
	font-size: $globalBtnSize;
	margin-top: 25%;}
.pd4_DTL p{
	font-size: $globalContentSize;
	word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

#pd4:hover .pd4_DTL{
			display: inline;
		}
#pd4:hover #dis{
			display: none;
		}

.pd5_DTL h3{
	font-size: $globalBtnSize;
	margin-top: 25%;}
.pd5_DTL p{
	font-size: $globalContentSize;
	word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

#pd5:hover .pd5_DTL{
			display: inline;
		}
#pd5:hover #dis{
			display: none;
		}

.pd6_DTL h3{
	font-size: $globalBtnSize;
	margin-top: 25%;}
.pd6_DTL p{
	font-size: $globalContentSize;
	word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;}

#pd6:hover .pd6_DTL{
			display: inline;
		}
#pd6:hover #dis{
			display: none;
		}



// #pd1{animation: TRY 1.7s 0.3s alternate;}
// #pd2{animation: TRY 1.7s 0.5s alternate;}
// #pd3{animation: TRY 1.7s 1s alternate;}
// #pd4{animation: TRY 1.7s 1.5s alternate;}
// #pd5{animation: TRY 1.7s 2s alternate;}
// #pd6{animation: TRY 1.7s 2.5s alternate;}

// @keyframes TRY{
// 			  0%{ transform: scale(1);}
// 			  50%{ transform: scale(1.1);}
// 			100%{ transform: scale(1);}
// 		}







.SHOPB_ACT{
	width: 100%;
	height: 38vw;
	position: relative;
}
.SHOPB_ACT>img{
	display: block;
	width: 100%;
	height: inherit;
	opacity: .8;
		}
#BOTTOMAREA{
	width: 35vw;
	height: 20vw;
	//background-color: rgba(145,60,60,.8);
	background-color: #9e693d;
	position: absolute;
	top: 5vw;
	left: 15vw;
}
#ACTIMG{
	position: absolute;
	top: 2vw;
	left: 40vw;
	width: 50vw;
	height: 33vw;
}

#SKINAREA{
	width: 40vw;
	height: 20vw;
	background-color: rgba(236,225,203,.9);
	position: absolute;
	top: 10vw;
	left: 21vw;
	z-index: 2;
}
#ACTTXT #tt {
	color: #FFF;
	font-size: 4vmin;
	position: absolute;
	top: 6vw;
	left: 17vw;
	text-shadow: 1px 2px 2px #666;
	z-index: 3;
}
#ACTTXT #cc {
	color: #654;
	font-size: 2.8vmin;
	position: absolute;
	top: 13vw;
	left: 25vw;
	z-index: 3;
}
#ACTBT{
	background-color: #f06428;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	width: 100px;
	height: 40px;
	position: absolute;
	bottom: 10vw;
	right: 40vw;
	border: none;
	text-align: center;
	z-index: 3;
}
#ACTBT:hover{
	background-color: #fff;
	color: #f06428;
	border: 1px solid #f06428;
}







.SHOPB_MAP{
	margin: 0vw 0vw 2vw 0vw;
}
#myMap{
	width: 100%;
	height: 30vw;
}




.SHOPB_MSG{
	width: 90vw;
	background-color: #DDC;
	margin: 2vw 5vw 0vw 5vw;
	padding: 3vw;
	box-sizing:border-box;
}
// .MSG_CON{
// 	margin: 0vw 8vw 2vw 8vw;
// }
// .MSG_PROFILE{
// 	display: inline-block;
// 	width: 12%;
// 	float: left;
// }
// .MSG_PROFILE img{
// 	border-radius: 50%;
// }
// .MSG_TXT{
// 	display: inline-block;
// 	background-color: rgba(255,255,255,.8);
// 	width: 88%;
// 	float: left;
// 	color: #666;
// 	padding-bottom: 1vw;
// 	position: relative;	
// }
// #respit{
// 	position: relative;	
// 	right: -54.5vw;
// 	bottom: 0vw;}
// #repoit{
// 	position: relative;	
// 	right: -55vw;
// 	bottom: 0vw;
// }

// .MSG_TXT:before{
// 	content: '';
// 	width: 0;	
// 	height: 0;	
// 	border-top: 15px solid transparent;
// 	border-bottom: 15px solid transparent;
// 	border-right: 15px solid rgba(255,255,255,.8);
// 	position: absolute;	
// 	top: 20px;
// 	left: -15px;
// }
// .sp{padding-bottom: 0vw;}
// .sp:before{
// 	display: none;
// }

// .MSG_TXT p{
// 	margin: 1vw;
// }
// .MSG_TXT input{
// 	height: 100px;
// 	width: 100%;
// 	background-color: rgba(255,255,255,.8);
// }





// .MSG_RES{
// 	margin: 2vw 0vw 0vw 3vw;
// }
// .MSG_RES_PROFILE{
// 	display: inline-block;
// 	width: 12%;
// 	float: left;
// }
// .MSG_RES_PROFILE img{
// 	border-radius: 50%;
// }
// .MSG_RES_TXT{
// 	display: inline-block;
// 	background-color: rgba(236,225,203,.6);
// 	width: 81%;
// 	color: #666;
// 	float: left;
// 	padding:0.3vw;
// 	position: relative; 
// }
// .MSG_RES_TXT:before{
// 	content: '';
// 	width: 0;	
// 	height: 0;	
// 	border-top: 15px solid transparent;
// 	border-bottom: 15px solid transparent;
// 	border-right: 15px solid rgba(236,225,203,.6);
// 	position: absolute;	
// 	top: 20px;
// 	left: -15px;
// }

.SHOPB_MSG .down{
	color:$globalFontColor;
	font-size:$globalh2Size;
	text-align: center;
	margin-bottom:20px; }

.send-message-area {
		position: relative;
		display: inline;
		.message-box {
			margin: auto;
			width: 80%;
			.mem-pic {
				margin-bottom: 5px;
				display: inline;
				float: left;
				//background-color: #000;
				width: 70px;
				height: 70px;
				#login-men-pic {
					border-radius: 50%;
				    background-position: center center;
				    background-size: cover;
				    width: 100%;
				    height: 100%;
				// display: inline;
				// float: left;
				// margin-left: 2%;
				}
			}
			.mem-pic img{
				width:70px;
				height:70px;}
			.content {
				padding: 10px;
				background-color: rgba(0, 0, 0,0.1);
				textarea {
					outline: none;
					width: 100%;
					border: 0;
				    resize: none;
				   	font-family: "Noto Sans CJK TC";
				   	padding:10px;
					box-sizing:border-box;
					margin-bottom: -5px; 
				}
				&:before{
					content: '';
					width: 0;	
					height: 0;	
					border-top: 15px solid transparent;
					border-bottom: 15px solid transparent;
					border-right: 15px solid rgba(0, 0, 0,0.1);
					position: absolute;	
					top: 20px;
					left: -15px;
				}				
			}
		}	
	}
#send-message-btn{
	width: 50px;
    height: 30px;
    float: right;
    display: block;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0,0.5);
    color: rgba(0, 0, 0,0.5);
    transition: all .5s;
    cursor: pointer;
    font-family: "Noto Sans CJK TC";
	position: absolute;
	right: 20px;
	bottom: 15px;
    &:hover{
    	border: 1px solid #AA9;
    	background-color:#AA9;
    	color: #FFE;
			
	}	
}
#more-message{
	text-align: center;
    width: 15vw;
    padding: 5px;
    margin: 20px auto;
    border: 1px solid #AA9;
    color: #AA9;
    cursor: pointer;
    font-family: "Noto Sans CJK TC";
    &:hover{
    	border: 1px solid #AA9;
    	background-color:#AA9;
    	color: #FFE;
			
	}	
}
.message-box .mem-pic img{
				width:70px;
				height:70px;}
.content{
	display: inline-block;
	background-color: #fff;
	width: 85%;
	color: #666;
	float: right;
	padding:0.3vw;
	position: relative; 
}
.messages-area{
	.message-box {
			margin: 15px auto;
			width: 80%;
		.mem-pic {
				margin-bottom: 5px;
				display: inline;
				float: left;
				width: 65px;
				height:65px ;
				margin-left: 3%;
				.picture {
				border-radius: 50%;
				width: 60px;
			    background-position: center center;
			    background-size: cover;
			    height: 60px;
			}
		}
		.content{
			padding:10px;
			box-sizing:border-box; 

			&:before{
				content: '';
				width: 0;	
				height: 0;	
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-right: 15px solid rgba(255,255,255,.9);
				position: absolute;	
				top: 20px;
				left: -15px;
			}//before
			.name{color: $globalFontColor;
					margin-bottom: 5px;}
			.datetime{color: $globalAltColor;
				float: right;
				font-size: $globalCardSize;}
			.button{float: right;
					color: $globalAltColor;
					cursor: pointer;}
		}//content
	}
}
.messages-area .message-box .content p{
		word-wrap:break-word; word-break:normal;
	}


.report-mask {
	textarea {
		background: #ffe;
		width: 95%;
		padding: 1vw;
		margin-bottom: 1.5vw; 
	}
}

.setting-area {
	width: 100px;
	float: right;
	color: #bbbbbb;
	font-size: 12px;
	.reply, .report {
		overflow: hidden;
		float: right;
		padding: 3px;
		.img-icon {
			width: 15px;
		    height: 16px;
		}
		&:hover p{
			color: $globalBgColor;
		}
	}
	.reported {//已經檢舉過
		border: none;
		cursor: default;
		pointer-events: none;
		p {
			color: #D44;
		}
	}
}






.SHOPB_OTHERS{
	margin-bottom: 7vw;
}
.OTHERSTITLE {
	width: 100%;
	text-align: center;
	margin-top: 7vw;
	margin-bottom: 2vw;
	font-size: 3vmin;
	color: #614935; 
}
//.OTHERSPHOTOS{overflow: hidden;}

.slick-prev{
	left: 20px;
	z-index: 3;
}
.slick-next{
	right: 10px;
}
.OTHERSPHOTOS img{
	height: 28vw;
}




 @media screen and (max-width: 1630px) {

	#SPNAME {
	  width: 30vw;
	  line-height: 6vw;
	}
	#biginfo{ width:30%;}

	

	#SPSTORY{
	//height:22vw;
	width: 42vw;
	top:15vw ;
	left:48vw ;
	}
	
	#SPHAPPYDON{
		display: none;
	}
	
	#review-btn{width: 52%;}
	#getstar{left: 54%;}
	#review-btn li {width: 2vw;
				margin: 0vw 0.5vw;}


	#pd1{
		top: 3vw;
		left: 51vw;
	}
	//#pd1 img{width: 60%;}
	#pd2{
	 	top: 5vw;
	 	left: 30vw;
	 }
	 //#pd2 img{width: 60%;}
	 #pd3{
	 	top: 19vw;
	 	left: 35vw;
	 }
	 #pd4{//display: none;
	 	top: 25vw;
	 	left: 53vw;
	}
	 //#pd3 img{width: 60%;}
	 #pd5{
	 	top: 19vw;
	 	left: 71vw;
	 }
	// #pd5 img{width: 60%;}
	 #pd6{
	 	top: 5vw;
	 	left: 77vw;
	 }
	// #pd6 img{width: 60%;}


	// .pd1_DTL{
	// //background-color: rgba(255,255,255,.7);
	// width: 180px;
	// height: 180px;
	// border-radius: 50%;
	// position: absolute;
	// top: 0;
	// left: 20%;
	// color: $globalFontColor;
	// display: none;
	// }
	// .pd1_DTL h3{
	// 	font-size: $globalBtnSize;
	// 	margin-top: 25%;}
	//.pd1_DTL p{font-size: $globalContentSize}
	
	// #pd1:hover .pd1_DTL{
	// 			display: inline;
	// 		}

 }



@media screen and (max-width: 1400px) {

	#SPNAME {
	  height: 6vw;
	  width: 50vw;
	  line-height: 6vw;
	  background-color: black;
	  color: #FFF;
	  text-align: center;
	  font-size: 5.5vmin;
	  position: absolute;
	  top: 7vw;
	  left: 9vw; }
	
	#biginfo{
		width: 50vw;
		top: 14.5vw;
	 	left: 9vw;
	}
	#SPINFO {
	  padding: 1.5vw;
	  box-sizing: border-box;
	  font-size: 2.1vmin;
	  line-height: 3.5vmin;
	   }

	#review-btn {
		width:33%;
		top: 22vh;}
	// #SPFOLLOW {top: 35vw;}
	#getstar{
		top: 22vh;
		left: 35%;}
	

	#SPSTORY{
	//height:24vw;
	width: 55vw;
	top:35vw ;
	left:40vw ;
	}
	#ACTBT{right: 43vw;}
}

 @media screen and (max-width: 1220px) {


	#review-btn {
		width:35%;
		top: 22vh;}
	// #SPFOLLOW {top: 35vw;}
	#getstar{
		top: 22vh;
		left: 37%;}

	#pd1{
		top: 3vw;
		left: 47vw;
	}
	//#pd1 img{width: 60%;}
	#pd2{
	 	top: 11vw;
	 	left: 15vw;
	 }
	 //#pd2 img{width: 60%;}
	 #pd3{
	 	top: 21vw;
	 	left: 33vw;
	 }
	 //#pd3 img{width: 60%;}
	 #pd4{display: none;}
	 #pd5{
	 	top: 21vw;
	 	left: 67vw;
	 }
	// #pd5 img{width: 60%;}
	 #pd6{
	 	top: 5vw;
	 	left: 81vw;
	 }
	
	#ACTTXT #tt {
    top: 5vw;
	}
	 #ACTTXT #cc {
    	color: #654;
    	font-size: 2vmin;
	}

 }

 @media screen and (max-width: 1060px){

	
// 	#SPINFO{width: 50vw;}

	#SPSTORY {display: none;}
	.SPSTORYRWD{display: block;
		//height:15vw;
		width: 100%;
		padding:4vw 2vw 5vw 2vw;
		box-sizing:border-box;
		//line-height: 6vw;
		background-color: rgba(236,225,203,.7);
		color: #333;
	}

	#SPNAME {
	  width: 79%;
	  height: 8vw;
	  line-height: 8vw;
	  top: 16vw;
	}
	 #biginfo{ 
	 	width:79%;
	 	top:26vw ;}
	 #SPINFO{
	 	font-size: 3vmin;
	 	line-height: 5vmin;
	 }
	 #review-btn{
		z-index: 2;
		width: 45%;
		height:7.5vw;
		padding:0.5vw;
		box-sizing:border-box;
		line-height: 4vmin;
		font-size: 3vmin;
		position: absolute;
		top:250px ;
	}

	#review-btn li {width: 5vw;
				margin: 0.5vw 0.9vw;}

	 .rating > label:after {
        padding: 5px 10px 5px 10px;
        font-size: 4.5vw;
        line-height: 1em;
        display: inline-block;
        content: "★";
    }
    #GIVESTAR{
    	width: 10.5vw;
		line-height: 7vw;
    }
    #getstar{
    	width: 20vw;
    	height: 7.5vw;
    	line-height: 8vw;
    	font-size: 3vw;
    	position: absolute;
    	top: 250px;
    	left: 47%;
    	}

	#trace-btn{
		bottom: 6vw;
		right: 3vw;
		z-index: 2;
    	font-size: 3vw;

	}
	#trace-btn img{
		width: 240%;
    	margin-left: -60%;
    	margin-bottom: 30%;}


}


 @media screen and (max-width: 980px) {

 	.pdimg{height: 0vw;}
 	#pd1>#dis{
		position: relative;
		top: 19vw;
		left: 1vw;}
	#pd2>#dis{
		position: relative;
		top: 14vw;
		left: 0vw;}
	#pd3>#dis{
		position: relative;
		top: 14vw;
		left: 0vw;}
	#pd5>#dis{
		position: relative;
		top: 14vw;
		left: 1vw;}
	#pd6>#dis{
		position: relative;
		top: 14vw;
		left: 0vw;}

// 	#pd1 p{
// 		position: absolute;
// 		top: 0vw;
// 		left: 25vw;
// 	}
// 	#pd2 p{
// 		position: absolute;
// 		top: 7vw;
// 		left: -9.5vw;
// 	}
// 	#SPINFO{
// 		font-size: 18px;
// 	  	line-height: 20px;
// 	}
// 	#pd1:hover .pd1_DTL{display: none;}
// 	#pd1:hover #dis{display: inline-block;}
// 	#pd2:hover .pd2_DTL{display: none;}
// 	#pd2:hover #dis{display: inline-block;}
// 	#pd3:hover .pd3_DTL{display: none;}
// 	#pd3:hover #dis{display: inline-block;}
// 	#pd4:hover .pd4_DTL{display: none;}
// 	#pd4:hover #dis{display: inline-block;}
// 	#pd5:hover .pd5_DTL{display: none;}
// 	#pd5:hover #dis{display: inline-block;}
// 	#pd6:hover .pd6_DTL{display: none;}
// 	#pd6:hover #dis{display: inline-block;}

 }

 @media screen and (max-width: 910px) {


 	#pd1>#dis{
		position: relative;
		top: 20vw;
		left: 1vw;}
	#pd2>#dis{
		position: relative;
		top: 16vw;}
	#pd3>#dis{
		position: relative;
		top: 16vw;}
	#pd5>#dis{
		position: relative;
		top: 16vw;}
	#pd6>#dis{
		position: relative;
		top: 16vw;}
}
 @media screen and (max-width: 850px) {


 	#review-btn{
		width: 48%;
		height:8vw;
		padding:0.7vw;
		box-sizing:border-box;
		top:28vw ;
		left:0px ;
	}

    #getstar{
    	width: 33%;
    	height: 8vw;
    	line-height: 8vw;
    	font-size: 3.2vw;
    	position: absolute;
    	top:28vw ;
    	left: 50%;
    	}
    #review-btn li {width: 5vw;
				margin: 0.5vw 1.1vw;}



    #pd1>#dis{
		position: relative;
		top: 23vw;
		left: 1vw;}
	#pd2>#dis{
		position: relative;
		top: 17vw;}
	#pd3>#dis{
		position: relative;
		top: 17vw;}
	#pd5>#dis{
		position: relative;
		top: 17vw;}
	#pd6>#dis{
		position: relative;
		top: 17vw;}

	#ACTIMG{
		width: 52vw;
		height: 38vw;}
}


@media screen and (max-width: 767px) {
	
	header.globalHead{
		top: 0;
		width: 100vw;
	}

	.banners {
   		width: 100%;
    	height: 120vw;
    	div {
    		height: 100%;
			background-size: cover;
			background-position: center center;
    	}
	}
	.banners img{
		height: 100%;
		width: 100%;
	}

	.SHOPB_SHOP{
		margin-top: 10px;
	}

	#SPNAME {
		top: 23vw;
		height: 10vw;
		line-height: 10vw;
	}
	#biginfo{
		top:36vw;
	}
	#SPINFO{
		padding-top: 4vw;
		padding-bottom: 4vw;
		p{line-height: 22px;
		font-size: 3.2vmin;
    	line-height: 4.5vmin;}
	}
	#review-btn{
		width: 65%;
		height:8vw;
		padding:0.7vw;
		box-sizing:border-box;
		top:33vw ;
		left:0px ;
	}
	#review-btn li {width: 6.5vw;
				margin: 0vw 1.7vw;}

	 .rating > label:after {
        padding: 5px 10px 5px 10px;
        font-size: 4.2vw;
        line-height: 1em;
        display: inline-block;
        content: "★";
    }
    #GIVESTAR{
    	width: 10vw;
		line-height: 7vw;
    }
    #getstar{
    	width: 33%;
    	height: 8vw;
    	line-height: 8vw;
    	font-size: 3.2vw;
    	position: absolute;
    	top:33vw ;
    	left: 67%;
    	}
	#trace-btn{
		bottom: 7vw;
		z-index: 2;
	}
	#trace-btn img{
		margin-bottom: 0;
	}
	#SPSTORY{
		left: 46vw;
		top: 27vw;
	}
	#SPSTORY #story2{
		display: none;
	}



	.bar{
	//position: absolute;
	//top: 5vw;
	//left: 6vw;
	width: 25vw;
	height: 6vw;
	background-color: rgba(0,0,0,.4);
}
	#pd1{
		width: 25%;
		top: 12vw;
		left: 5vw;
		color: rgba(240,230,210,1);
		text-shadow: 1px 1px 1px #666;
		font-size: 10px;
		height: 180px;

	}
	#pd1 img{width: 68%;}
	#pd1>#dis{
		position: relative;
		top: 21vw;
		left: -1vw;
		font-size: 12px;}
	#pd2>#dis{
		position: relative;
		top: 21vw;
		left: -1vw;
		font-size: 12px;}
	#pd3>#dis{
		position: relative;
		top: 21vw;
		left: 0vw;
		font-size: 12px;}
	#pd6>#dis{
		position: relative;
		top: 21vw;
		left: 0vw;
		font-size: 12px;}

	#pd2{
		width: 25%;
		top: 12vw;
		left: 27vw;
		color: rgba(240,230,210,1);
		text-shadow: 1px 1px 1px #666;
		font-size: 10px;
	}
	#pd2 img{width: 68%;}
	#pd3{
		width: 25%;
		top: 12vw;
		left: 49vw;
		color: rgba(240,230,210,1);
		text-shadow: 1px 1px 1px #666;
		font-size: 10px;
	}
	#pd3 img{width: 68%;}
	#pd6{
		width: 25%;
		top: 12vw;
		left: 70vw;
		color: rgba(240,230,210,1);
		text-shadow: 1px 1px 1px #666;
		font-size: 10px;
	}
	#pd6 img{width: 68%;}

	.pdimg{height: 0vw;}
	
	#dis{
		position: relative;
		top: 22vw;}


	#pd5{display: none;}
	#pd4{display: none;}


	.SHOPB_ACT{
		height: 56vw;
		position: relative;
	}
	#BOTTOMAREA{
		height: 28vw;
		//background-color: rgba(145,60,60,.8);
		background-color: #9e693d;
		position: absolute;
		top: 7vw;
		left: 8vw;
	}
	#ACTIMG{
		position: absolute;
		top: 4vw;
		left: 38vw;
		right: 2vw;
	}

	#SKINAREA{
		width: 70vw;
		height: 33vw;
		background-color: rgba(236,225,203,.9);
		position: absolute;
		top: 15vw;
		left: 15vw;
	}
	#ACTTXT #tt {
		color: #FFF;
		font-size: 4.3vmin;
		position: absolute;
		top: 7.5vw;
		left: 12vw;
		text-shadow: 1px 2px 2px #000;
	}
	#ACTTXT #cc {
		color: #654;
		font-size: 3vmin;
		position: absolute;
		top: 18vw;
		left: 19vw;
	}
	#ACTBT{
		right: 20vw;
		bottom: 12vw;
		width: 75px;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
	}


	.SHOPB_MAP{
		margin: 2vw 0vw 5vw 0vw;
	}
	#myMap{
		height: 55vw;
	}
	


	
	// .MSG_CON{
	// 	margin: 0vw 3vw 5vw 3vw;
	// 	width: 94%;
	// }
	// .MSG_PROFILE{
	// 	display: block;
	// 	width: 25%;
	// 	float: left;
	// }
	// .MSG_PROFILE img{
	// 	border-radius: 50%;
	// 	width: 80%;
	// }
	// .MSG_TXT{
	// 	display: inline-block;
	// 	background-color: rgba(255,255,255,.8);
	// 	width: 75%;
	// 	float: left;
	// 	color: #666;
	// 	padding-bottom: 1vw;
	// 	position: relative;	
	// }
	// #respit{
	// 	right:-37vw;
	// 	color: #446;
	// }
	// #repoit{
	// 	right:-38vw;
	// 	color: #446;}

	// .MSG_TXT:before{
	// 	content: '';
	// 	width: 0;	
	// 	height: 0;	
	// 	border-top: 9px solid transparent;
	// 	border-bottom: 9px solid transparent;
	// 	border-right: 9px solid rgba(255,255,255,.8);
	// 	position: absolute;	
	// 	top: 22px;
	// 	left: -9px;
	// }
	// .sp{padding-bottom: 0vw;}
	// .sp:before{
	// 	display: none;
	// }

	// .MSG_TXT p{
	// 	margin: 1vw;
	// }
	// .MSG_TXT input{
	// 	height: 100px;
	// 	width: 100%;
	// 	background-color: rgba(255,255,255,.8);
	// }


	// .MSG_RES{
	// 	margin: 2vw 0vw 0vw 2vw;
	// }
	// .MSG_RES_PROFILE{
	// 	display: block;
	// 	width: 16%;
	// 	float: left;
	// }
	// .MSG_RES_PROFILE img{
	// 	border-radius: 50%;
	// 	width: 100%;
	// }
	// .MSG_RES_TXT{
	// 	display: inline-block;
	// 	background-color: rgba(236,225,203,.6);
	// 	width: 79%;
	// 	margin: 0% 0% 1% 3%; 
	// 	color: #666;
	// 	float: left;
	// 	padding:0.3vw;
	// 	position: relative; 
	// }
	// .MSG_RES_TXT:before{
	// 	content: '';
	// 	width: 0;	
	// 	height: 0;	
	// 	border-top: 7px solid transparent;
	// 	border-bottom: 7px solid transparent;
	// 	border-right: 7px solid rgba(236,225,203,.6);
	// 	position: absolute;	
	// 	top: 10px;
	// 	left: -7px;
	// }
	.send-message-area .message-box {
    margin: auto;
    width: 90%;
    	.content {width: 69%;}
}
	.send-message-area .message-box .mem-pic img {
    width: 50px;
    height: 50px;
}
	.message-box .mem-pic img {
    width: 50px;
    height: 50px;
}
	.messages-area .message-box .content {width: 69%;}

	.messages-area .message-box .content p{
		word-wrap:break-word; word-break:normal;
	}


 



	.OTHERSTITLE p{
		font-size: 5vmin;
	}




}





@media screen and (max-width: 767px) {
	
	#SPINFO{
	  	line-height: 10px;
	}
}

@media screen and (max-width: 321px) {
	
	.SHOPB_ACT{
		height: 70vw;
		position: relative;
	}
	#SKINAREA{
		width: 70vw;
		height: 52vw;
		background-color: rgba(236,225,203,.9);
		position: absolute;
		top: 13vw;
		left: 15vw;
	}
	#ACTBT{
		right: 41vw;
		bottom: 7vw;
		width: 75px;
		height: 30px;
		font-size: 14px;
	}
}






//-------------------------- clear清除浮動--------------------------

.clearfix {
	clear:both;
}

// --------------------------RWD斷點--------------------------


@include rwd(mobile){
	
	header.globalHead{
		.headLogo {
			img {
				width: 30vw;
			}
		}
	}


	.globalForm {
		width: 80%;
		margin: auto;
		.globalOkBtn,.globalCancelBtn {
		width: 40%;
		}
	}
}

// --------------------------格線--------------------------


@media screen and (max-width: 767px) {
      .col-xs-1{  width: 8.333333%;  }
      .col-xs-2{  width: 16.666666%;  }
      .col-xs-3{  width: 25%;  }
      .col-xs-4{  width: 33.333333%;  }
      .col-xs-5{  width: 41.666666%;  }
      .col-xs-6{  width: 50%;  }
      .col-xs-7{  width: 58.333333%;  }
      .col-xs-8{  width: 66.666666%;  }
      .col-xs-9{  width: 75%;  }
      .col-xs-10{ width: 83.333333%;  }
      .col-xs-11{ width: 91.666666%;  }
      .col-xs-12{ width: 95%;  }

  }  

@media screen and (min-width: 768px) {
      .col-sm-1{  width: 8.333333%; }
      .col-sm-2{  width: 16.666666%; }
      .col-sm-3{  width: 25%; }
      .col-sm-4{  width: 33.333333%; }
      .col-sm-5{  width: 41.666666%; }
      .col-sm-6{  width: 50%; }
      .col-sm-7{  width: 58.333333%; }
      .col-sm-8{  width: 66.666666%; }
      .col-sm-9{  width: 75%; }
      .col-sm-10{ width: 83.333333%; }
      .col-sm-11{ width: 91.666666%; }
      .col-sm-12{ width: 100%; }
  }
 