@import "basic/_var.scss";
@import "basic/_mixin.scss";

/*===========================================================*/
//每個 screen 的 title style
@mixin title($bgColor, $color) {
	width: 200px;
	margin: auto;
	text-align: center;
	background-color: $bgColor;
	font-size: $globalh2Size;
	color: $color;
}
//透明主色背景, 主要在說明文
@mixin describeBg {
	background-color: rgba(128,89,52,0.5);
}

h3 {
	font-size: $globalh3Size;
}
h2 {
	font-size: $globalh2Size;
}
h1 {
	font-size: $globalh1Size;
}
img {
	vertical-align: top;
}
.globalHead {
	z-index: 10;
}
.screen-1 {
	height: $storeBrowseScreenHeight;
	background-image: url("../img/store/browse/screen1-bg.png");
	background-size: cover;
	position: relative;
	overflow: hidden;
	.detail-box {
	width: 200px;
	padding: 10px 10px;
	background-color: rgba(255,255,255,0.5);
	text-align: justify;
	margin-left: 50px;
	margin-top: 150px;
	.store-logo {
		margin: auto;
		width: 150px;
		margin-top: -50px;
	}
	.store-name {
		text-align: center;
		font-size: $globalh2Size;
		color: $globalTitleColor;
	}
	.detail {
		color: $globalFontColor;
	}
	.address-map ,.trace {
		width: 96px;
		height: 40px;
		background-color: red;
		display: inline-block;
		text-align: center;
	}
	}
	.right-describe {
		width: 600px;
		position: absolute;
		right: 0;
		top:40vh;
		@include describeBg();
		color: $globalBgColor;
		padding: 10px;
		text-align: justify;
	}
	.bottom-city {
		width: 920px;
		bottom: -15px;
		margin: auto;
		left: 0;
		right: 0;
		position: absolute;
		img {
			width: 100%;
		}
	}
}

.screen-bread-car-map {
	height: $storeBrowseScreenHeight;
	background-color: $globalHdColor02;
	.title {
		@include title($globalBgColor, $globalHdColor02);
	}
	.tabs {
		margin-top: 30px;
		font-size: 0;
		li {
			font-size: 16px;
			display: inline-block;
			text-decoration: none;
			a {
				display: block;
				width: 200px;
				position: relative;
				text-align: center;
				.tab-img {
					width: 100%;
				}
				.content {
					.icon {
						width: 30px;
						margin: auto;
						img {
							width: 100%;
						}
					}
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					top: 60px;
					color: rgba(244,248,241,0.5);
				}
			}
		}
		li.item-selected {
			a {
				.content {
					color: $globalFontColor;
					font-size: 17px;
				}
			}
		}
	}
	#map-now {
		width: 100vw;
		height: 70vh;
	}
}
.screen-product {
	height: $storeBrowseScreenHeight;
	background-color: $globalBgColor;
	img {
		width: 100%;
	}
	.title {
		@include title($globalHdColor02, $globalBgColor);
	}
	.product {
		padding: 30px 0px;
		overflow: hidden;
		width: 800px;
		height: 400px;
		margin: auto;
		.image {
			width: 360px;
			float: left;
			margin-right: 40px
		}		
		.describe {
			@include describeBg();
			float: left;
			margin-top: 100px; 
			width: 380px;
			padding: 10px;
			color: $globalBgColor;
			h3 {
				color: $globalFontColor;
			}
		}
	}
	.product-list {
		width: 800px;
		margin: auto;
		font-size: 0px;
		position: relative;
		.item {
			width: 120px;
			padding: 0px 40px;
			display: inline-block;
			text-align: center;
			font-size: 16px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			left: -50px;
			top: 20px;
			background-image: url("../img/store/browse/black_left.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			right: -50px;
			top: 20px;
			background-image: url("../img/store/browse/black_right.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
}
.screen-activity {
	height: $storeBrowseScreenHeight;
	background-color: $globalHdColor02;
	img {
		width: 100%;
	}
	.title {
		@include title($globalBgColor, $globalHdColor02);
	}
	.banner-area {
		padding-top: 50px;
		width: 700px;
		margin: auto;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			left: -100px;
			top: 40vh;
			background-image: url("../img/store/browse/black_left.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			right: -100px;
			top: 40vh;
			background-image: url("../img/store/browse/black_right.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
}
.screen-other-store {
	height: $storeBrowseScreenHeight;
	background-color: $globalBgColor;
	img {
		width: 100%;
		vertical-align: top;
	}
	.store-list {
		font-size: 0;
	}
	.title {
		@include title($globalHdColor02, $globalBgColor);
	}
	.top-list, .bottom-list {
		max-width: 1000px;
		margin: auto;
		.item {
			width: 33.333333%;
			display: inline-block;
		}
	}
}
.screen-messages {
	height: $storeBrowseScreenHeight;
	background-color: $globalHdColor02;
	img {
		width: 100%;
	}
	.title {
		@include title($globalBgColor, $globalHdColor02);
	}
	.messages-area, .send-message-area {
		.mem-pic {
			width: 50px;
			height: 50px;
		}
		textarea {
			width: 100%;
		}
		.message-box {
			overflow: hidden;
			width: 770px;
			padding-right: 10px;
			margin: auto;
			img {
				float: left;
			}
			.setting-area {
				width: 100px;
				img {
					width: auto;
				}
				.reply, .report {
					width: 50px;
					height: 50px;
				}
			}
			.content {
				background-color: $globalBgColor;
			    margin: 0px 0px 10px 20px;
			    padding: 10px;
			    float: left;
			    width: 670px;
			    position: relative;
			    border-radius: 3px;
			    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
				p {
					width: 570px;
				}
				&:before {
				    content: '';
				    display: block;
				    width: 0;
				    height: 0;
				    border-right: 18px solid #fbf8f1;
				    border-top: 10px solid transparent;
				    border-bottom: 10px solid transparent;
				    position: absolute;
				    left: -18px;
				    top: 18px;
				}
			}
		}
	}
}
// rwd=========================================
@include rwd("mobile") {
	.screen-1 {
		position: relative;
		.detail-box {
			width: 100%;
			margin-left: 0px;
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			.store-logo {
				img {
					width: 100%;
				}
				margin: 10px;
				width: 50px;
				height: 50px;
				float: left;
			}
			.store-name, {
				float: left;
			}
			.address-map {
				clear: both;
				float: right;
			}
			.trace {
				float: right;
			}
			.detail {
				display: none;
			}
		}
		.right-describe {
			width: 100%;
			@include describeBg();
			color: $globalBgColor;
			padding: 10px;
			text-align: justify;
			position: relative;
		}
	}
}