@import "basic/_var.scss";
@import "basic/_mixin.scss";

/*===========================================================*/
//每個 screen 的 title style
@mixin title($bgColor, $color) {
	width: 200px;
	margin: auto;
	text-align: center;
	background-color: $bgColor;
	font-size: $globalh2Size;
	color: $color;
}
//透明主色背景, 主要在說明文
@mixin describeBg {
	background-color: rgba(128,89,52,0.5);
}
h3 {
	font-size: $globalh3Size;
}
h2 {
	font-size: $globalh2Size;
}
h1 {
	font-size: $globalh1Size;
}
img {
	vertical-align: top;
}
.globalHead {
	z-index: 10;
}
.screen-1 {
	height: $storeBrowseScreenHeight;
	background-image: url("../img/store/browse/screen1-bg.png");
	background-size: cover;
	position: relative;
	overflow: hidden;
	.detail-box {
	width: 200px;
	padding: 10px 10px;
	background-color: rgba(255,255,255,0.5);
	text-align: justify;
	margin-left: 50px;
	margin-top: 150px;
	.store-logo {
		margin: auto;
		width: 150px;
		margin-top: -50px;
	}
	.store-name {
		text-align: center;
		font-size: $globalh2Size;
		color: $globalTitleColor;
	}
	.detail {
		color: $globalFontColor;
	}
	.follow ,.trace {
		width: 96px;
		height: 40px;
		background-color: red;
		display: inline-block;
		text-align: center;
		img {
			width: 40px;
		}
	}
	}
	.right-describe {
		width: 600px;
		position: absolute;
		right: 0;
		top:40vh;
		@include describeBg();
		color: $globalBgColor;
		padding: 10px;
		text-align: justify;
	}
	#bottom-city {
		width: 920px;
		bottom: -15px;
		margin: auto;
		left: 0;
		right: 0;
		position: absolute;
		img {
			width: 100%;
		}
		& > * {
			position: absolute;
		}
		.cloud-1 {
			width: 74px;
		    height: 42px;
		    bottom: 50px;
		    left: 50px;
			background-image: url("../img/store/browse/cloud.png");
			background-repeat: no-repeat;
			// animation: cloud-move 10s linear alternate infinite ;
		}
		.cloud-2 {
			width: 74px;
		    height: 42px;
		    bottom: 150px;
		    left: 500px;
			background-image: url("../img/store/browse/cloud.png");
			background-repeat: no-repeat;
			// animation: cloud-move 15s linear alternate infinite ;
		}
		.cloud-3 {
			width: 74px;
		    height: 42px;
		    bottom: 100px;
		    right: 10px;
			background-image: url("../img/store/browse/cloud.png");
			background-repeat: no-repeat;
			// animation: cloud-move 12s linear alternate infinite ;
		}
		@keyframes cloud-move {
			0% {transform: translateX(0px);}
			100% {transform: translateX(150px);}
		}
		.city {
			width: 572px;
		    margin: auto;
		    height: 175px;
		    bottom: 0px;
		    background-image: url(../img/store/browse/citys.png);
		    background-repeat: no-repeat;
		    left: 0;
		    right: 0;
		}
	}
}

.screen-bread-car-map {
	height: $storeBrowseScreenHeight;
	background-color: $globalHdColor02;
	.title {
		@include title($globalBgColor, $globalHdColor02);
	}
	.tabs {
		margin-top: 30px;
		font-size: 0;
		li {
			font-size: 16px;
			display: inline-block;
			text-decoration: none;
			a {
				display: block;
				width: 200px;
				position: relative;
				text-align: center;
				.tab-img {
					width: 100%;
				}
				.content {
					.icon {
						width: 30px;
						margin: auto;
						img {
							width: 100%;
						}
					}
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					top: 60px;
					color: rgba(244,248,241,0.5);
				}
			}
		}
		li.item-selected {
			a {
				.content {
					color: $globalFontColor;
					font-size: 17px;
				}
			}
		}
	}
	#map-now {
		height: 70vh;
	}
}
.screen-product {
	height: $storeBrowseScreenHeight;
	background-color: $globalBgColor;
	position: relative;
	img {
		width: 100%;
	}
	.title {
		@include title($globalHdColor02, $globalBgColor);
	}
	.product {
		padding: 30px 0px;
		overflow: hidden;
		max-width: 800px;
		width: 100%;
		height: 400px;
		margin: auto;
		.image {
			max-width: 360px;
			width: 100%;
			float: left;
			margin-right: 40px
		}		
		.describe {
			@include describeBg();
			float: left;
			margin-top: 100px; 
			max-width: 380px;
			width: 100%;
			padding: 10px;
			color: $globalBgColor;
			h3 {
				color: $globalFontColor;
			}
		}
	}
	.product-list {
		max-width: 800px;
		width: 100%;
		margin: auto;
		font-size: 0px;
		position: relative;
		text-align: center;
		.item {
			width: 25%;
			box-sizing: border-box;
			padding: 0px 40px;
			display: inline-block;
			text-align: center;
			font-size: 16px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			left: -50px;
			top: 20px;
			background-image: url("../img/store/browse/black_left.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			right: -50px;
			top: 20px;
			background-image: url("../img/store/browse/black_right.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	.switcher {
		width: 70px;
		margin: auto;
		left: 0;
		right: 0;
		.item {
			display: inline-block;
			width: 15px;
			height: 15px;
			background-color: #ada9a9;
			border-radius: 50%;
		}
		.selected {
			background-color: #000;
		}
	}
}
.screen-activity {
	height: $storeBrowseScreenHeight;
	background-color: $globalHdColor02;
	overflow: hidden;
	img {
		width: 100%;
	}
	.title {
		@include title($globalBgColor, $globalHdColor02);
	}
	.banner-area {
		padding-top: 50px;
		max-width: 700px;
		width: 100%;
		margin: auto;
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			left: -100px;
			top: 40vh;
			background-image: url("../img/store/browse/black_left.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 50px;
			height: 100px;
			right: -100px;
			top: 40vh;
			background-image: url("../img/store/browse/black_right.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		.switcher {
			position: absolute;
			width: 70px;
			margin: auto;
			left: 0;
			right: 0;
			bottom: 10px;
			.item {
				display: inline-block;
				width: 15px;
				height: 15px;
				background-color: #ada9a9;
				border-radius: 50%;
			}
			.selected {
				background-color: #000;
			}
		}
	}
}
.screen-other-store {
	height: $storeBrowseScreenHeight;
	background-color: $globalBgColor;
	img {
		width: 100%;
		vertical-align: top;
	}
	.store-list {
		font-size: 0;
	}
	.title {
		@include title($globalHdColor02, $globalBgColor);
	}
	.top-list, .bottom-list {
		max-width: 1000px;
		margin: auto;
		.item {
			width: 33.333333%;
			display: inline-block;
		}
	}
}
.screen-messages {
	height: $storeBrowseScreenHeight;
	background-color: $globalHdColor02;
	img {
		width: 100%;
	}
	.title {
		@include title($globalBgColor, $globalHdColor02);
	}
	.send-message-area {
		padding-top: 50px;
	}
	.messages-area {
	    height: 70vh;
	    margin: auto;
	    max-width: 781px;
	    width: 100%;
	    box-sizing: border-box;
	    overflow: overlay;
	    padding-left: 10px;
	}
	.messages-area, .send-message-area {
		.mem-pic {
			width: 50px;
			height: 50px;
		}
		textarea {
			width: 100%;
			border: 0;
		    background-color: #FBF8F1;
		    resize: none;
		}
		.message-box {
			box-sizing: border-box;
			overflow: hidden;
			max-width: 770px;
			width: 100%;
			padding-right: 10px;
			margin: auto;
			padding-left: 10px;
			img {
				float: left;
			}
			.content {
				background-color: $globalBgColor;
			    margin: 0px 0px 10px 20px;
			    padding: 10px;
			    float: left;
			    box-sizing: border-box;
			    width: 80%;
			    position: relative;
			    border-radius: 3px;
			    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
			    font-size: 15px;
				p {
					max-width: 570px;
					width: 100%;
					float: left;
					color: #8E8E8E;
				}
				&:before {
				    content: '';
				    display: block;
				    width: 0;
				    height: 0;
				    border-right: 18px solid #fbf8f1;
				    border-top: 10px solid transparent;
				    border-bottom: 10px solid transparent;
				    position: absolute;
				    left: -18px;
				    top: 18px;
				}
				.name {
					color: #603813;
					font-size: 16px;
				}
				.setting-area {
					width: 100px;
					float: right;
					color: #bbbbbb;
					font-size: 12px;
					img {
						width: auto;
					}
					.reply, .report {
						width: 30px;
						height: 30px;
						float: right;
						.img-icon {
							width: 22px;
							height: 20px;
						}
					}
					.img-icon {

					}
				}
			}
		}
	}
}
.only-pc {
	display: block;
}
// rwd=========================================
@include rwd("mobile") {
	.screen-1, .screen-bread-car-map, .screen-product, .screen-activity
	, .screen-other-store, .screen-messages{
		height: auto;
	}
	.screen-1 {
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
		.detail-box {
			width: 100%;
			margin-left: 0px;
			position: relative;
			top: 0;
			left: 0;
			box-sizing: border-box;
			margin-top: 250px;
			background-color: #FBF8F1;
			height: 114px;
			.store-logo {
				img {
					width: 100%;
				}
			    margin: 10px;
			    width: 100px;
			    margin-top: -50px;
			    height: 100px;
			    float: left;
			}
			.store-name, {
				float: left;
			}
			.follow {
				clear: both;
				float: right;
			}
			.trace {
				float: right;
			}
			.detail {
				display: none;
			}
		}
		.right-describe {
			box-sizing: border-box;
			width: 100%;
			@include describeBg();
			color: $globalBgColor;
			padding: 10px;
			text-align: justify;
			position: relative;
			top: 0;
			padding-bottom: 55px;
		}
	}
	.screen-product {
		.product-list {
			.only-pc {
				display: none;
			}
			&:before, &:after {
				display: none;
			}
			.item {
				width: 40%;
				box-sizing: border-box;
			}
		}
		.product {
			height: auto;
			.image {
			    max-width: 360px;
			    width: 50%;
			    float: none;
			    margin: auto;
			}
			.describe {
				background-color: transparent;
				max-width: none;
			    box-sizing: border-box;
			    margin-top: 0px;
			    color: #8E8E8E;
			}
		}
	}
	.screen-other-store {
		.top-list, .bottom-list {
			.item {
				width: 50%;
			}
			.only-pc {
				display: none;
			}
		}
	}

	.screen-activity {
		.banner-area {
			&:before, &:after {
				display: none;
			}
		}
	}
}