body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  letter-spacing: 0.01rem;
  word-spacing: 2px; }

.box {
  width: 100px;
  height: 100px;
  background-color: #fa0;
  font-size: 21px;
  margin: auto;
  margin: auto;
  box-shadow: 10px 10px 15px #ccc; }

h1 {
  margin: 60px;
  text-align: center; }

header {
  width: 100%;
  height: 100px;
  background: #a3a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a3a 0%, #d43 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a3a), color-stop(100%, #d43));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a3a 0%, #d43 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a3a 0%, #d43 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a3a 0%, #d43 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #a3a 0%, #d43 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a', endColorstr='#d43', GradientType=0 );
  /* IE6-9 */ }
  header ul {
    float: left; }
    header ul li {
      display: block;
      list-style: none;
      color: #fa0; }

.hey {
  width: 100px;
  height: 200px;
  background-color: #aea;
  margin: 200px 100px; }

.box2 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px; }

.col_1 {
  width: 10px;
  height: 10px;
  background-color: #cdc; }

.col_2 {
  width: 20px;
  height: 20px;
  background-color: #cdc; }

.col_3 {
  width: 30px;
  height: 30px;
  background-color: #cdc; }

.col_4 {
  width: 40px;
  height: 40px;
  background-color: #cdc; }

.col_5 {
  width: 50px;
  height: 50px;
  background-color: #cdc; }

.col_6 {
  width: 60px;
  height: 60px;
  background-color: #cdc; }

.col_7 {
  width: 70px;
  height: 70px;
  background-color: #cdc; }

.col_8 {
  width: 80px;
  height: 80px;
  background-color: #cdc; }

.col_9 {
  width: 90px;
  height: 90px;
  background-color: #cdc; }

.col_10 {
  width: 100px;
  height: 100px;
  background-color: #cdc; }

.margins-left-1 {
  margin-left: 1px; }

.margins-left-2 {
  margin-left: 2px; }

.margins-left-3 {
  margin-left: 3px; }

.margins-left-4 {
  margin-left: 4px; }

.margins-left-5 {
  margin-left: 5px; }

.margins-left-6 {
  margin-left: 6px; }

.margins-left-7 {
  margin-left: 7px; }

.margins-left-8 {
  margin-left: 8px; }

.margins-left-9 {
  margin-left: 9px; }

.margins-left-10 {
  margin-left: 10px; }

.push-top-1 {
  margin-top: 1px; }

.push-top-2 {
  margin-top: 2px; }

.push-top-3 {
  margin-top: 3px; }

.push-top-4 {
  margin-top: 4px; }

.push-top-5 {
  margin-top: 5px; }

.push-top-6 {
  margin-top: 6px; }

.push-top-7 {
  margin-top: 7px; }

.push-top-8 {
  margin-top: 8px; }

.push-top-9 {
  margin-top: 9px; }

.push-top-10 {
  margin-top: 10px; }

.pull-right-1 {
  padding-right: 1px; }

.pull-right-2 {
  padding-right: 2px; }

.pull-right-3 {
  padding-right: 3px; }

.pull-right-4 {
  padding-right: 4px; }

.pull-right-5 {
  padding-right: 5px; }

.pull-right-6 {
  padding-right: 6px; }

.pull-right-7 {
  padding-right: 7px; }

.pull-right-8 {
  padding-right: 8px; }

.pull-right-9 {
  padding-right: 9px; }

.pull-right-10 {
  padding-right: 10px; }

.btn {
  width: 200px;
  height: 50px;
  transition: .3s;
  background-color: #39e;
  box-shadow: 0px 0px 15px #ccc; }
  .btn:hover {
    box-shadow: 10px 10px 15px #ccc;
    transition: .3s; }

.btn2 {
  width: 100px;
  height: 100px;
  background-color: #2a3;
  margin-top: 40px;
  transition: .3s; }
  .btn2:hover {
    box-shadow: 1px 1px 3px #aaa;
    transition: 0.2s; }

@media all and (max-width: 767px) {
  h1 {
    font-size: 70px; } }
