

// 導覽列變數======
$navition-width: 200px;
$navition-li-height:60px;
$navition-li-bgColor:#aa815d;
$navition-li-bgColor-hover:#cfa972;
$navition-li-fontSize:18px;


$header-height:80px;


$tableContent-width:70%;
$tableContent-word-color:#502f0d;

$table-col1:10%;
$table-col2:60%;
$table-col3:30%;




$MybusinessStore-subtitle-bgColor:#4289FF;


$store-nav-bar-height:60px;