

// 導覽列變數======
$navition-width: 200px;
$navition-li-height:60px;
$navition-li-bgColor:#aa815d;
$navition-li-bgColor-hover:#cfa972;
$navition-li-fontSize:18px;


$header-height:100px;


$tableContent-width:70%;
$tableContent-word-color:#502f0d;

$table-col1:10%;
$table-col2:10%;
$table-col3:20%;
$table-col4:10%;
$table-col5:17%;
$table-col6:11%;
$table-col7:11%;
$table-col8:11%;



$MybusinessStore-subtitle-bgColor:#4289FF;


$store-nav-bar-height:60px;