

// 導覽列變數======
$navition-width: 200px;
$navition-li-height:60px;
$navition-li-bgColor:#aa815d;
$navition-li-bgColor-hover:#cfa972;
$navition-li-fontSize:18px;


$header-height:100px;


$tableContent-width:70%;
$tableContent-word-color:#502f0d;

$table-col1:10%;
$table-col2:10%;
$table-col3:15%;
$table-col4:10%;
$table-col5:15%;
$table-col6:10%;
$table-col7:10%;
$table-col8:10%;
$table-col9:10%;
