

// 導覽列變數======
$navition-width: 200px;
$navition-li-height:60px;
$navition-li-bgColor:#aa815d;
$navition-li-bgColor-hover:#cfa972;
$navition-li-fontSize:18px;


$header-height:100px;


$tableContent-width:1100px;
$tableContent-word-color:#502f0d;

$table-col1:30px;
$table-col2:30px;
$table-col3:30px;
$table-col4:30px;
$table-col5:30px;
