
// ========後台側邊導覽列HOVER效果
@mixin navition-hover() {

	&:hover{
				color:#000000;
				background-color: $navition-li-bgColor-hover;
				transition:0.5s;

			}
	
}




@mixin button-hover() {

	&:hover{
        				background-color:#ffffff;
        				color:#7e4a1d;
        				transition:0.3s;
        			}	
	
}