
// ========後台側邊導覽列HOVER效果
@mixin navition-hover() {

	&:hover{
				color:#000000;
				background-color: $navition-li-bgColor-hover;
				transition:0.5s;

			}
	
}




@mixin button-hover() {

	&:hover{
        				background-color:#ffffff;
        				color:#7e4a1d;
        				transition:0.3s;
        			}	
	
}


@mixin store-nav-bar-propity() {

	width: 200px;
	height: 50px;
	background-color:$MybusinessStore-subtitle-bgColor;
	margin-top:6px; 
		
}


@mixin member-nav-bar-propity() {

	width: 200px;
	height: 50px;
	background-color:#00C853;
	margin-top:6px; 
		
}